<div class="treaty_docs_popup">

<p>Fyrir framan hvern kafla er lítill i hnappur <img src="/images/esb_chapter_info.gif" />. Þegar smellt er á þennan hnapp birtist 
upplýsingasíða um hvern kafla með öllum helstu skjölum sem tengjast efni hans, s.s. fundafrásögnum, 
samningsafstöðu, fréttatilkynningum o.fl.</p>

<p>Í samningaviðræðunum er löggjöf ESB skipt upp í 35 kafla sem samið verður um hvern fyrir sig. Ísland hefur 
þegar tekið upp stóran hluta löggjafar í 21 kafla af 35 köflum lagaverks ESB í gegnum EES-samninginn. Spurningar, 
umræður og erindi eru flokkuð samkvæmt þessum 35 köflum. Með því að smella t.d. fyrst á spurningar og svör og 
velja síðan einhvern af köflunum, þá birtast eingöngu þær spurningar og svör sem tengjast þeim kafla. Það sama á 
við um umræður og erindi.</p> 

</div>