<table>
	<tr>
		<td>
		</td>
		<% TreatyDocument::TREATY_ARRAY[0][:negotiation_stages].each do |stage| %>
		<td>
			<%=stage[:name]%>
		</td>
		<% end %>
	</tr>

<% TreatyDocument::TREATY_ARRAY.each do |chapter| %>
	<tr>
		<td>
			<%= chapter[:name] %>
		</td>
		<% chapter[:negotiation_stages].each do |stage| %>
		<td>
			<% count = TreatyDocument.count(:conditions=>"chapter = #{chapter[:id]} AND negotiation_status = #{stage[:id]}") %>
			<% if count>0 %>
				<%= link_to count, :action=>"show", :chapter_id=>chapter[:id], :negotiation_status=>stage[:id]%>
			<% else %>
				<%=count%>
			<% end %>
		</td>
		<% end %>
	</tr>
<% end %>
</table> 
