<div class="treaty_docs_popup">

<h3>Kafli: <%=@chapter_name%></h3>
<h4>Viðræðustig: <%=@stage_name%></h4>

<h4>Skjöl:</h4>
<ul>

<% @all_treaty_documents_for_chapter_and_status.each do |document|%>
<li>  <%=link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
</ul>
</div>