	<!-- Comment box - 'Official Reply' box! -->	
	<div class="comment_box_samn"> 
		<img src="/images/logo_litid_sogsvor.png" border="0" class="comment_profile" alt="" align="left" /> 
		<span class="entry_profile">Samninganefnd</span> 
		<% if question.answered_at %>
			svaraði <%= time_ago(question.answered_at) %>
		<% end %>		
		<p>						
			<%if question.answer %>
			 	<div class="comment_content" id="comment_content_<%= question.answer.id.to_s %>">
					<%= question.answer %>
				</div>				
			<% else%>
			  	Ekkert svar er til við þessari spurningu eins og er.
			<% end %>
				<%=link_to "Þú ert Admin og mátt Breyta/Svara hér","/questions/edit/#{question.id}" if logged_in? and current_user.is_admin?%>		
		</p> 
	</div> 