	<!-- Comment box - 'Official Reply' box! -->	
	<div class="comment_box_samn"> 
		<img src="/images/logo_litid_sogsvor.png" border="0" class="comment_profile" alt="" align="left" /> 
		<% if question.answered_at %>
			<b>Það eru <%= time_ago(question.answered_at) %> svar barst</b>
		<% end %>		
		<p>						
			<%if question.answer %>
			 	<div class="comment_content" id="comment_content_<%= question.answer.id.to_s %>">
					<%= simple_format(question.answer) %>
				</div>				
			<% else%>
			  	Svar í vinnslu.
			<% end %>
				<%=link_to "Þú ert Admin og mátt Breyta/Svara hér","/questions/edit/#{question.id}" if logged_in? and current_user.is_admin?%>		
		</p> 
	</div> 