<div id="questions_div">
	<% if @questions.count == 0 %>
		<%= t('esb.empty_chapter')%>
	<% end %>
	<%= render :partial=>"index" %>
</div>
<%= will_paginate(@questions) %>
<%=render :partial=>"shared/live_update", :locals=>{:update_url=>"/questions/newest"}%>