<table border="0" cellspacing="0" cellpadding="0" class="margin-top">
	<tr>
		<td valign="top">
	<div  class="form_header">Bæta við spurningu: <span class="red">* </span> </div>
<% form_for :question, :url => "/questions/create"  do |f| %>
  <%= f.error_messages :header_message => t('points.new.errors.header_message'), :message => t('points.new.errors.message') %>
	<div class="field form_header">
	    <div class="field_label form_header">Spurning: <span id="pointContentDown"></span> <%= t('characters_left')%></div>
		<div class="field_box">
	    <%= f.text_area :content, :id => 'pointContent', :button => 'submit', :rows => 5, :cols => 60, :maxLength => 500 %>
		</div>
	</div>
	<%= f.submit "Send spurningu", :id => "submit", :class => "yellow_button" %>
<% end %>

</td></tr></table>
