<% session[:have_shown_welcome] = true %>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td valign="top" style="padding: 15px;">
    <h2><%=tr("Welcome to Your Priorities","welcome")%></h2>
    <br>
    <%=tr("Welcome to this development version of the Your Priorities website. We plan to launch our Beta version on the 1. April and will be contuining to update the website regularly. Most features work well but the user interface is not ready yet.","welcome")%>
  </td>
  </tr>
</table>

