<% session[:have_shown_welcome] = true unless defined?(show_always) %>
<div>
    <h2><%=tr("Welcome to Your Priorities","welcome")%></h2>
        <%=tr("Welcome to this development version of the Your Priorities website. We plan to launch our Beta version on the 6. April and will be continuing to update the website regularly. Most features work well but the user interface is not ready yet.","welcome")%>
  </div>

