<div id="content" class="container_12">
  <div  class="grid_5 ">
    <div class="sub_header ">

      <h4>Bestu rök með <%= @yesno%></h4>
    </div>
		<%= render :partial => "brbox", :locals => {:id => "points_new", :points => @points_new} %>
  </div>
  <div id="point_right" class="grid_5 ">
    <div class="sub_header ">
      <h4>Ný rök með <%= @yesno%></h4>
    </div>
		<%= render :partial => "brbox", :locals => {:id => "points_top", :points => @points_top} %>
  </div>
</div>
