

	<div id="" class="grid_6 frumvarpid">
		<div class="Undirhaus ">
			<h3>Spurningin</h3>
			<p class="Nedan_linu"><a href="http://skuggathing.is/cases/420">Frumvarp um þjóðaratkvæðagreiðslur</a></p>
		</div>
		<p>„Lög nr. 1/2010 kveða á um breytingu á lögum nr. 96/2009, um heimild til handa fjármálaráðherra, fyrir hönd ríkissjóðs, til að ábyrgjast lán Tryggingarsjóðs innstæðueigenda og fjárfesta frá breska og hollenska ríkinu til að standa straum af greiðslum til innstæðueigenda hjá Landsbanka Íslands hf. Alþingi samþykkti lög nr. 1/2010 en forseti synjaði þeim staðfestingar. Eiga lög nr. 1/2010 að halda gildi?“ </p>
	</div>
	<div id="haegri" class="grid_6 frumvarpid">
		<div class="Undirhaus">
			<h3>Ríkisábyrgð á IceSave</h3>
			<p class="Nedan_linu"><a href="http://skuggathing.is/cases/311">Frumvarp um ríkisábyrgð</a></p>
		</div>
		<p> Frumvarp til laga um breytingu á lögum nr. 96/2009, um heimild til handa fjármálaráðherra, fyrir hönd ríkissjóðs, til að ábyrgjast lán Tryggingarsjóðs innstæðueigenda og fjárfesta frá breska og hollenska ríkinu til að standa straum af greiðslum til innstæðueigenda hjá Landsbanka Íslands hf. </p>
	</div>



<div id="" class="container_12">
	<div class="grid_6">
		<div class="Undirhaus">
			<h4>Bestu rök með Já</h4>
			<p class="Nedan_linu"><a href="two_column.html">Öll rök með Já</a></p>
		</div>
		<div id="pro_top">
			<%= render :partial => "brbox", :locals => {:id => "pro_top", :points => @points_top_up} %>
		</div>
	</div>
    
	<div id="haegri" class="grid_6">
		<div class="Undirhaus">
			<h4>Bestu rök með Nei</h4>
			<p class="Nedan_linu"><a href="#">Öll rök með Nei</a></p>
		</div>
		<div id="con_top">
			<%= render :partial => "brbox", :locals => {:id => "con_top", :points => @points_top_down} %>
		</div>
	</div>
</div>
  
<div id="" class="container_12">
	<div id="" class="grid_6">
		<div class="Undirhaus">
			<h4>Ný rök með Já</h4>
			<p class="Nedan_linu"><a href="#">Öll rök með Já</a> | <a href="#">Setja inn þín rök með Já</a></p>
		</div>
		<div id="pro_new">
			<%= render :partial => "brbox", :locals => {:id => "pro_new", :points => @points_new_up} %>
		</div>
	</div>
    
	<div id="haegri" class="grid_6">
		<div class="Undirhaus">
			<h4>Ný rök með Nei</h4>
			<p class="Nedan_linu"><a href="#">Öll rök með Nei</a> | <a href="#">Setja inn þín rök með Nei</a></p>
		</div>
		<div id="con_new">
			<%= render :partial => "brbox", :locals => {:id => "con_new", :points => @points_new_down} %>
		</div>
	</div>
</div>