	<link href="/stylesheets/points_layout.css" rel="stylesheet" type="text/css" />

<div id="" class="container_12">
	<div class="grid_6">
		<div class="sub_header">
			<h4>Bestu rök með Já</h4>
			<p class="below_line"><a href="two_column.html">Öll rök með Já</a></p>
		</div>
		<div id="pro_top">
			<%= render :partial => "short_list", :locals => {:id => "pro_top", :points => @points_top_up} %>
		</div>
	</div>
    
	<div id="point_right" class="grid_6">
		<div class="sub_header">
			<h4>Bestu rök með Nei</h4>
			<p class="below_line"><a href="#">Öll rök með Nei</a></p>
		</div>
		<div id="con_top">
			<%= render :partial => "short_list", :locals => {:id => "con_top", :points => @points_top_down} %>
		</div>
	</div>
</div>
  
<div id="" class="container_12">
	<div id="" class="grid_6">
		<div class="sub_header">
			<h4>Ný rök með Já</h4>
			<p class="below_line"><a href="#">Öll rök með Já</a> | <a href="#">Setja inn þín rök með Já</a></p>
		</div>
		<div id="pro_new">
			<%= render :partial => "short_list", :locals => {:id => "pro_new", :points => @points_new_up} %>
		</div>
	</div>
    
	<div id="point_right" class="grid_6">
		<div class="sub_header">
			<h4>Ný rök með Nei</h4>
			<p class="below_line"><a href="#">Öll rök með Nei</a> | <a href="#">Setja inn þín rök með Nei</a></p>
		</div>
		<div id="con_new">
			<%= render :partial => "short_list", :locals => {:id => "con_new", :points => @points_new_down} %>
		</div>
	</div>
</div>