.DS_Store
.project
*.git
vendor/plugins/i18n_to_tr8n
log/*
tmp/**/*
tmp/restart.txt
public/pictures/**/*
config/contacts.yml
config/database.yml*
config/facebooker.yml
config/s3.yml
db/sphinx/*
config/development.sphinx.conf
solr/index
solr/*.pid
.tmp*
*.sql
public/production/*
public/development/*
public/system/*
public/development
public/production
workers/video/config/worker.yml
private/*
*.log
*.output
*.pid
