<div id="scroll_in_portal_wrapper"> 
<div id="scroll_in_portal"> 

<map name="Map" id="Map">
  <area shape="poly" coords="168,31,165,43,145,45,143,72,137,81,133,74,87,77,72,69,73,32,118,19" href="/issues/vestfjarðasvaedi" alt="Vestfjarðasvæði" />
  <area shape="poly" coords="135,135" href="#" />
  <area shape="poly" coords="191,43,197,62,208,63,211,69,199,74,205,94,185,91,163,91,148,99,138,80,144,72,145,61,162,59,163,45,169,41" href="/issues/nordvestursvaedi" alt="Norðvestursvæði" />
  <area shape="poly" coords="260,68,271,52,297,53,296,40,285,24,253,18,241,20,239,33,215,36,194,37,191,42,197,61,209,63,211,68,200,74,204,90,232,86" href="/issues/nordaustursvaedi" alt="Norðaustursvæði" />
  <area shape="poly" coords="282,119,267,98,245,96,247,84,266,81,257,69,271,52,290,53,309,68,317,90,294,122" href="/issues/austursvaedi" alt="Austursvæði" />
  <area shape="poly" coords="143,131,170,130,179,139,183,158,193,157,213,140,227,133,245,141,264,119,280,117,293,123,282,136,247,161,200,183,160,180,148,159,128,157,139,144" href="/issues/sudursvaedi" alt="Suðursvæði" />
  <area shape="poly" coords="275,219" href="#" />
  <area shape="poly" coords="147,98,134,75,101,94,67,99,67,116,117,115,122,124,123,131,132,133,140,138,148,126,157,107" href="/issues/vestursvaedi" alt="Vestursvæði" />
  <area shape="poly" coords="128,157,128,162,145,163,145,173,92,174,92,161,106,156,107,144,122,147,133,150" href="/issues/sudurnes" alt="Suðurnes" />
  <area shape="poly" coords="122,129,18,128,18,143,108,145,121,146,133,150,140,143,140,138,133,134" href="/issues/hofudborgarsvaedi" alt="Höfuðborgarsvæði" />
  <area shape="poly" coords="2,211,2,183,39,144,74,157,62,177,74,188,128,188,129,201,80,210" href="/issues/sudvestursvaedi" alt="Suðvestursvæði" />
</map>


<img src="/images/island_landshlutar.png"  width="338" height="212" border="0" usemap="#Map"  />
<ul class="right">
	<li>
        <a href="/issues/sudurnes">Suðurnes</a>
    </li>
    <li>
        <a href="/issues/sudursvaedi">Suðursvæði</a>
    </li>
    <li>
        <a href="/issues/sudvestursvaedi">Suðvestursvæði</a>
    </li>
    <li>
        <a href="/issues/vestfjarðasvaedi">Vestfjarðasvæði</a>
    </li>
    <li>
        <a href="/issues/vestursvaedi">Vestursvæði</a>
    </li>
</ul>


<ul class="left">
    <li>
       <a href="/issues/austursvaedi">Austursvæði</a>
    </li>
    <li>
        <a href="/issues/hofudborgarsvaedi">Höfuðborgarsvæði</a>
    </li>
    <li>
        <a href="/issues/nordaustursvaedi">Norðaustursvæði</a>
    </li>
    <li>
        <a href="/issues/nordvestursvaedi">Norðvestursvæði</a>
    </li>
</ul>
</div> 
</div> 
