<img src="/images/island_landshlutar.png" width="338" height="212" />
<ul>
    <li>
       <a href="/issues/austursvaedi">Austursvæði</a>
    </li>
    <li>
        <a href="/issues/hofudborgarsvaedi">Höfuðborgarsvæði</a>
    </li>
    <li>
        <a href="/issues/nordaustursvaedi">Norðaustursvæði</a>
    </li>
    <li>
        <a href="/issues/nordvestursvaedi">Norðvestursvæði</a>
    </li>
    <li>
        <a href="/issues/sudurnes">Suðurnes</a>
    </li>
    <li>
        <a href="/issues/sudursvaedi">Suðursvæði</a>
    </li>
    <li>
        <a href="/issues/sudvestursvaedi">Suðvestursvæði</a>
    </li>
    <li>
        <a href="/issues/vestfjarðasvaedi">Vestfjarðasvæði</a>
    </li>
    <li>
        <a href="/issues/vestursvaedi">Vestursvæði</a>
    </li>
</ul>
