<% if portlet_locals[:priorities].any? %>
	<table border="0" cellspacing="0" cellpadding="0">
	<% for priority in portlet_locals[:priorities] %>
		<% if portlet_locals[:endorsements] %>
			<% endorsement = portlet_locals[:endorsements].detect {|e| e.priority_id == priority.id } %>
		<% end %>
		<tr>
			<%= render :partial => "priorities/rank_week_month", :locals => {:priority => priority } %>
			<td valign="top" style="padding-left: 8px;" colspan="3">
			<div id="priority_<%= priority.id %>" class="priority_listing">
				<%= render :partial => "portal/portlets/priorities_listing", :locals => {:priority => priority, :endorsement => endorsement, :value => 0} %>
			</div>
			</td>
		</tr>
	<% end %>
	</table>
<% end %>
