<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<table>
  <tr>
    <td width="130px" align="left">
      <% if defined?(attachments) %>
          
      <% else %>
          <% if @government.layout.include?("better_reykjavik") %>
              <h1><%= image_tag "logos/BR_email.png", :alt=>tr("{government_name}", "email", :government_name => tr(@government.name, "Name from database")) %></h1>
          <% else %>
              <h1><%= image_tag "logos/YourPriorities_large.png", :alt=>tr("{government_name}", "email", :government_name => tr(@government.name, "Name from database")) %></h1>
          <% end %>
      <% end %>
    </td>
  </tr>
</table>
