<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vidraedur.is</title>
</head>
<body>
<table align="center" width="600" cellpadding="10" border="1">
  <tr>
    <td align="justify">
    	<p><img src="http://www.utanrikisraduneyti.is/media/Logo/vidraedur.is-logo.jpg" alt="Vidraedur.is" width="600" /></p>
		<% if @n.include?("warning") %>
		  <%=render :partial=>"notification_warning"%>
		<% elsif @n=="comment_flagged"%>
		  <%=render :partial=>"notification_comment_flagged"%>
		<% end %>
	</td>
  </tr>
</table>
</body>
</html>
