<p>
  <b>State:</b>
  <%=h @process_document_state.state %>
</p>


<%= link_to 'Edit', edit_process_document_state_path(@process_document_state) %> |
<%= link_to 'Back', process_document_states_path %>
