<%= form_for(@partner) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form", :locals => {:f => f}%>
  <p>
    <%= f.submit tr("Become a partner", "view/partners/new"), :class => "yellow_button" %>
  </p>
<% end %>
