div {
border: 1px red dotted;
}

#footer_container
{
width: 980px;
}

#color_scheme_1, #blurb_header, .partner_image
{display:none;}

/* 			BETRI REYKJAVIK 		
			
			Dagny Reykjalin - blekhonnun.is

*/

html { margin:0px; padding:0px; width: 100%;}
body {  width: 99%; background-image: url('../img/bg.gif'); background-repeat: repeat-y; background-position: center;
		
		font-family: Lucida Grande, arial, helvetica, sans-serif; font-size: 11px; 
		margin:0px 
		
		 }
form, p {	margin:0px; padding:0px; }		

/*	FONTS 				*/
	
a:link { color: #003399; text-decoration: none; }
a:visited { color: #003399; text-decoration: none; }
a:hover { color: #6699cc; text-decoration: none; }		



/*		ID's		*/
#backgroundwrap { 		width:980px; margin:0px auto; padding: 0px; }
#contentwrap {  width: 730px; float:left; margin: 10px; }
#branding { 		width: 730px;}

#partner_image { 		width: 325px; float: left; }
#ads {			width: 380px; margin-left: 325px; background-image: url(../img/ad_bg.gif); background-repeat: no-repeat; padding: 5px 5px 5px 65px; height: 80px; }


/*		MENUS & MINIMENUS  */
#menu { 	clear: both; width: 730px;  }

#menu ul, #miniMenu ul {		padding:0px; list-style-type: none; }
#menu ul li	{	list-style-type: none; display: inline; padding:0px 10px; border-right:1px solid #eee;
				font-size: 110%; }
#miniMenu ul li {	 list-style-type: none; display: inline; padding:0px 5px; border-right:1px solid #eee;}


#content { width:740px; margin:0px; padding:0px;}

/*  	SIDEBAR  */
#sidebar { width: 220px; margin: 0 0 0 760px; position:absolute; }
#reykjavikLink { }
#search { }
#miniMenu { }

#newIdea { }


/*		USER BOX  */
#user { background-image: url(../img/user_bg.jpg); padding:10px;  }
#user .name {float:left; }
#user .photo {margin-left: 120px; }
#user .settings { clear:both;}
#user .settings ul li { list-style-type: none; display: inline; padding:0px 5px; border-right:1px solid #fff;}
		



/*		front page classes		*/

#content .pageBox { 	background-image: url('../img/box_bg.png'); background-repeat:no-repeat; 
			width: 340px;  padding:10px; margin:0 0 10px 10px;
			float:left;  }
#content .pagebox .title { float:left;  }			
#content .pagebox .selector {  margin-left: 200px; width: 120px; }
 