#partner_image {
margin:9px 0 0 11px;
float: left;
}

.partner_image {
height: 52px;
<<<<<<< HEAD
=======
display: none;
>>>>>>> rvb/master
}

.partner_image a{
display: inline !important;
float: right !important;
}

.partner_image img{
float: right !important;
}
<<<<<<< HEAD
=======

#party_logos img 
{
padding:6px 5px 8px;
position:relative;
background-color: #ccc;
float:right;
}


#skuggathing
{
margin-top: 4px;
border: 1px solid #ddd !important;
padding:7px 5px 7px 15px;
}



#betri_reykjavik
{
float:left;
padding-left:180px;
padding-top:10px;
}

>>>>>>> rvb/master
