body {  background-image: url('../images/new/bg.gif'); background-repeat: repeat-y; background-position: center top;
		
		font-family: Lucida Grande, arial, helvetica, sans-serif; 
		margin:0px 
		
		 }

/* #header table {width:100px;overflow:hidden} */
img {border:none}

#ads {width: 335px; margin-left: 0px; background-image: url(../images/new/ad_bg.gif) !important; background-repeat: no-repeat; padding: 5px 5px 5px 65px; height: 80px; font-size:10px;}
#ads h2 {border:none;}

td.right {width:60px}

div.column .ui-widget-content {
background-color:#fafafa;
    background-image: url("../images/new/portal_bg.png") !important;
    background-position: left top !important;
    background-repeat: no-repeat;
    margin: 0 0 10px;
width: 345px;
}


div.column .portlet-header {
  color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0;
    text-transform: uppercase;
    width: 335px;
}
.column_id_1 .portlet {
    border-bottom: 1px solid #EEEEEE;

    padding: 5px;
}
.column_id_2 .portlet {
    border-bottom: 1px solid #EEEEEE;
 margin: 0 5px !important;
    padding: 5px;
}

.activity_border, .activity_hidden {

   /* width: 335px;*/
}


/*
div#content_text table {
    margin: 0;
    padding: 0;
}
*/





#sidebar {
    padding-top: 27px;
    width: 216px;
}

.addwrapper {margin-bottom:5px;}

ul#menu li .tab_header a {
    border: 0px solid #DDDDDD;
    font-weight: normal !important;
    letter-spacing: normal !important;
    margin-right: 0;
    padding: 3px 13px 3px 10px;
    text-decoration: none;
}

ul#menu li .tab_header a, ul#menu li.hovering div.tab_body, ul#menu_sub li .tab_header a, ul#menu_sub li.hovering div.tab_body, ul#menu_third li .tab_header a, ul#menu_third li.hovering div.tab_body, ul#priority_menu li.hovering div.tab_body {
    background-color: #fff;display:inline-block;
}

#nav1 li.tab1 .tab_header a, #nav2 li.tab2 .tab_header a, #nav3 li.tab3 .tab_header a, #nav4 li.tab4 .tab_header a, #nav5 li.tab5 .tab_header a, #nav6 li.tab6 .tab_header a, #nav7 li.tab7 .tab_header a, #nav8 li.tab8 .tab_header a, #nav_sub_0 li.tab0 .tab_header a, #nav_sub_1 li.tab1 .tab_header a, #nav_sub_2 li.tab2 .tab_header a, #nav_sub_3 li.tab3 .tab_header a, #nav_sub_4 li.tab4 .tab_header a, #nav_sub_5 li.tab5 .tab_header a, #nav_sub_6 li.tab6 .tab_header a, #nav_sub_7 li.tab7 .tab_header a, #nav_sub_8 li.tab8 .tab_header a, #nav_sub_9 li.tab9 .tab_header a, #nav_sub_10 li.tab10 .tab_header a, #nav_third_1 li.tab1 .tab_header a, #nav_third_2 li.tab2 .tab_header a, #nav_third_3 li.tab3 .tab_header a, #nav_third_4 li.tab4 .tab_header a, #nav_third_5 li.tab5 .tab_header a, #nav_third_6 li.tab6 .tab_header a, #nav_third_7 li.tab7 .tab_header a, #nav_third_8 li.tab8 .tab_header a, #nav_third_9 li.tab9 .tab_header a, #nav_third_10 li.tab10 .tab_header a, #nav_third_11 li.tab1 .tab_header a, #nav_third_12 li.tab2 .tab_header a, #nav_third_13 li.tab3 .tab_header a, #nav_third_14 li.tab4 .tab_header a {
    color: #153978 !important;
}

ul#menu li, ul#menu_sub li, ul#menu_third li {
    display: inline;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
}

#hp_intro, #hp_intro a, #quiz_header, .priority_position, .your_priority_position, .profile_name, .profile_name a, h1, h2, h3, h4 {
    color: #444;
}

div#content_text table {
    width: 100%;
border-collapse: collapse;
border-width:0;
}

/* hide third column on priorities show */
.extras {
    display: none;
    padding-left: 0 !important;
}

#content_text
{
background-color: #fff;
    background-image: url("../images/new/content-text-bg.png") !important;
    background-position: left top !important;
    background-repeat: no-repeat;padding: 10px;margin-top:10px;}

body.portal-index #content_text {background:none;padding:0}

body.Cpriorities #content_text table.show-with-processes-table td {padding:0}
body.priorities-show #content_text table, body.priorities-top_points #content_text table{}



body.priorities-show #content_text table td, body.priorities-top_points #content_text table td {}
#content_text table.top-level-table tbody tr
{border-bottom:1px solid #ddd;}

body.Cpriorities #content_text table tbody tr td table tbody tr
{border-bottom:0px solid #cacaca;}

body.Cpriorities #content_text table.container_13,#content_text table#top_points_table {border-collapse: separate;border-spacing: 10px 5px;}
body.Cpriorities #content_text table.container_13 td.grid_41, body.Cpriorities .grid_6, body.Cpriorities .best-points {-moz-border-radius: 1em;border-radius:1em;border:1px solid #cacaca;background:#fff;padding:10px;}
table.show-with-processes-table td{padding:0}


.container_12, .container_13 {
    padding-bottom: 0;
}


#priority_nav, #priority_nav1, #priority_menu {
    clear: both;
    width: auto;position: relative;
}

#priority_nav1 ul#priority_menu {
    height: 21px !important;
    margin: 0 10px;
}

ul#priority_menu li {
    border: 0px solid #DDDDDD;
    display: inline;
    left: 0;
    position: relative;
    top: 0;
margin:0;
padding:0;
}
#priority_nav1 li.tab1 .tab_header a,ul#priority_menu li .tab_header a {
    border: 1px solid #ddd;
    font-size: 0.95em;
    font-weight: normal !important;
    letter-spacing: normal !important;
    margin-right: 0;
    padding: 3px 5px;
    text-decoration: none;background:#fff;
}

ul#priority_menu li.mega .tab_header a {
    background: #fff url("/images/mega_down_arrow.gif") no-repeat scroll right center;
    margin-right: 0;
    padding: 3px 13px 3px 7px;
    text-decoration: none;
}


ul#priority_menu li .tab_header a:hover {
    border: 1px solid #ccc;
background:#fff;
}

ul#priority_menu div.tab_body {
    left: 0;
    position: absolute;
    top: auto;
}

.comment_list_empty {
    padding: 0 0 0 29px;
}
.activity_border, .activity_hidden {border:0px solid #fff !important;margin-bottom: 5px;}
.comment_list {padding: 0 0 0 24px;}
.comment_box img {width:22px;height:22px}

div.best-points {background:#fff;}
.comment,.comment_endorses, .comment_opposes  {padding: 0; background: none;
    color: #444444; border: 0px solid #DDDDDD;}
.comment_box {min-height:30px}
.comment_box img{padding:4px;}
.comment_link {
    font-size:inherit;
    letter-spacing:inherit;
    padding: 0;
}
.comment_link_add {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 0px solid #DDDDDD;
    letter-spacing: 0.5px;
    margin-top: 1px;
    padding: 1px;
}

.grey_button_wide, .import_button, .notice {
    background-color: #F0F0F0;
    border: 2px solid #CCCCCC;
}

.suggest_button, .yellow_button {
    background-color: #FFFF99;
    border: 2px solid #FFCC00 !important;
}

.suggest_button:hover, .yellow_button:hover, .grey_button_wide:hover {
    border: 2px solid #13499B !important;
}
#user_info_box {
  
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4em;
     width: 205px;
padding: 5px;
}
#user_info_box a {
  
    font-size: 10px;
    font-weight: normal;
    line-height: 1.4em;
     width: 205px;
}
#language_selection_box {
    border: 1px solid #DDDDDD;
    margin-bottom: 7px;
    margin-top: 5px;
    padding: 5px;
    width: 205px;
}



