body {  background-image: url('../images/new/bg.gif'); background-repeat: repeat-y; background-position: center top;
		
		font-family: Lucida Grande, arial, helvetica, sans-serif; 
		margin:0px 
		
		 }


#ads {			width: 380px; margin-left: 0px; background-image: url(../images/new/ad_bg.gif); background-repeat: no-repeat; padding: 5px 5px 5px 65px; height: 80px; font-size:14px;}


/* 		overview classes */

.priority_listing {		}

.portlet-header {	 font-size: 130%; font-weight: bold; margin:10px; padding-top:5px; border-bottom: 1px solid #fff;  }
.portlet-content {	 margin:0 10px; padding:5px;  border-bottom: 1px solid #eee;}

.priority-display { 	float:left;	margin:4px 0px 0 0; } /* show hide arguments*/
.priority-topic { 	float:left;	margin:0 8px ;} /* topic icon*/
.priority-name {	margin-left: 60px;}
.priority-name  .title { 	font-size: 110%; font-weight: bold;	}
.priority-actions { 		margin-top:5px; }

.priority-actions .support a { background-color: #99cc66; border: 1px solid #669933; padding:1px 2px;	color:#fff; }
.priority-actions .deny a { background-color: #ff9966; border: 1px solid #993333; padding:1px 2px;	color:#fff; }
.priority-actions .sep {	font-size: 80%; color:#999; width: 20px;}

.priority-actions .categories {	margin-left: 5px; }

.priority-share {	float:right; vertical-align: top;}
.portlet-point-item {	}


ul#menu li .tab_header a {
    border: 0px solid #DDDDDD;
    font-weight: normal !important;
    letter-spacing: normal !important;
    margin-right: 0;
    padding: 3px 13px 3px 10px;
    text-decoration: none;
}

ul#menu li .tab_header a, ul#menu li.hovering div.tab_body, ul#menu_sub li .tab_header a, ul#menu_sub li.hovering div.tab_body, ul#menu_third li .tab_header a, ul#menu_third li.hovering div.tab_body, ul#priority_menu li.hovering div.tab_body {
    background-color: #fff;
}
