/* 			BETRI REYKJAVêK 		
			
			Dagny Reykjalin - blekhonnun.is

*/


html { margin:0px; padding:0px; width: 100%;}
body {  width: 99%; background-image: url('images/bg.gif'); background-repeat: repeat-y; background-position: center top;
		
		font-family: Lucida Grande, arial, helvetica, sans-serif; font-size: 0.7em; 
		margin:0px 
		
		 }
form, p {	margin:0px; padding:0px; }		

/*	FONTS 				*/
	
a:link { color: #003399; text-decoration: none; }
a:visited { color: #003399; text-decoration: none; }
a:hover { color: #6699cc; text-decoration: none; }		



/*		ID's		*/
#wrapper { 		width:980px; margin:0px auto; padding: 0px; }
#mainContent {  width: 730px; float:left; margin: 10px; }
#header { 		width: 730px;}

#logo { 		width: 325px; height:70px; margin-left: 10px; float: left; }
#ads {			width: 380px; margin-left: 335px; background-image: url(images/ad_bg.gif); background-repeat: no-repeat; padding: 5px 5px 5px 65px; height: 80px; }


/*		MENUS & MINIMENUS  */
#menu { 	clear: both;width: 730px;  }

#menu ul, #miniMenu ul {		padding:0px; list-style-type: none; }
#menu ul li	{	list-style-type: none; display: inline; padding:0px 10px; border-right:1px solid #eee;
				font-size: 110%; }
#miniMenu ul li {	 list-style-type: none; display: inline; padding:0px 5px; border-right:1px solid #eee;}

#menu-list { float:right; margin-top:-30px;}

#content { width:740px; margin:0px; padding:0px;}

/*  	SIDEBAR  */
#sidebar { width: 220px; margin: 0 0 0 760px; position:absolute; }
#reykjavikLink { }
#search { }
#miniMenu { }

#newIdea { }


/*		USER BOX  */
#user { background-image: url(images/user_bg.jpg); padding:10px;  }
#user .name {float:left; }
#user .photo {margin-left: 120px; }
#user .settings { clear:both;}
#user .settings ul li { list-style-type: none; display: inline; padding:0px 5px; border-right:1px solid #fff;}
		



/*		front page classes		*/

#content .pageBox { 	background-image: url('images/box_bg.png'); background-repeat:no-repeat; 
			width: 340px;  padding:10px; margin:0 0 10px 10px;
			float:left;  }

#content  .topic { float:left;  }
			
#content .pagebox .selector {  margin-left: 200px; width: 120px; }


/* 		overview classes */

.priority_listing {		}

.portlet-header {	 font-size: 130%; font-weight: bold; margin:10px; padding-top:5px; border-bottom: 1px solid #fff;  }
.portlet-content {	 margin:0 10px; padding:5px;  border-bottom: 1px solid #eee;}

.priority-display { 	float:left;	margin:4px 0px 0 0; } /* show hide arguments*/
.priority-topic { 	float:left;	margin:0 8px ;} /* topic icon*/
.priority-name {	margin-left: 60px;}
.priority-name  .title { 	font-size: 110%; font-weight: bold;	}
.priority-actions { 		margin-top:5px; }

.priority-actions .support a { background-color: #99cc66; border: 1px solid #669933; padding:1px 2px;	color:#fff; }
.priority-actions .deny a { background-color: #ff9966; border: 1px solid #993333; padding:1px 2px;	color:#fff; }
.priority-actions .sep {	font-size: 80%; color:#999; width: 20px;}

.priority-actions .categories {	margin-left: 5px; }

.priority-share {	float:right; vertical-align: top;}
. portlet-point-item {	}



/* 		yfirlit */
#content_lrg {	background-image: url('images/bg_lrg.png'); background-repeat:repeat-x; margin:20px 0 0 10px; } 
.tl {background: url('images/box_lrg_left.png') 0 0 no-repeat; }
.tr {background: url('images/box_lrg_right.png') 100% 0 no-repeat; }

.content_container {	width:100%; padding:10px;  }








/* Used in views/user_contacts/contacts.html.erb, views/user_contacts/index.html.erb, views/user_contacts/not_invited.html.erb, views/user_contacts/invited.html.erb, views/user_contacts/new.html.erb, views/user_contacts/following.html.erb, views/user_contacts/members.html.erb, views/widgets/index.html.erb */
/* Used for div */
#hp_intro {

}

/* Used in views/user_contacts/_nav.html.erb, views/widgets/_nav.html.erb */
/* Used for div */
#nav_sub {

}

/* Used in views/user_contacts/_nav.html.erb, views/widgets/_nav.html.erb */
/* Used for ul */
#menu_sub {

}

/* Used in views/user_contacts/_nav.html.erb, views/widgets/_nav.html.erb */
/* Used for li */
.tab1 {

}

/* Used in views/user_contacts/_nav.html.erb, views/widgets/_nav.html.erb */
/* Used for span */
.tab_header {

}

/* Used in views/user_contacts/invited.html.erb, views/user_contacts/new.html.erb, views/admin/buddy_icon.html.erb */
/* Used for span, div */
.small {

}

/* Used in views/user_contacts/_nav.html.erb, views/admin/_nav.html.erb */
/* Used for li */
.tab2 {

}

/* Used in views/user_contacts/_nav.html.erb, views/admin/_nav.html.erb */
/* Used for li */
.tab4 {

}

/* Used in views/user_contacts/_nav.html.erb, views/admin/_nav.html.erb */
/* Used for div */
#nav_third {

}

/* Used in views/user_contacts/_nav.html.erb, views/admin/_nav.html.erb */
/* Used for ul */
#menu_third {

}

/* Used in views/user_contacts/_nav.html.erb, views/admin/_nav.html.erb */
/* Used for li */
.tab3 {

}

/* Used in views/user_contacts/following.html.erb, views/user_contacts/members.html.erb, views/activities/_activitycapitaltwitterfollowers_nouser.html.erb */
/* Used for span */
.pc {

}

/* Used in views/widgets/discussions.html.erb, views/widgets/priorities.html.erb, views/install/index.html.erb */
/* Used for div */
.field {

}

/* Used in views/user_contacts/following.html.erb, views/briefing/documents.html.erb */
/* Used for span */
.table_header {

}

/* Used in views/user_contacts/following.html.erb, views/user_contacts/members.html.erb, views/briefing/contributors.html.erb */
/* Used for span */
.opposed {

}

/* Used in views/install/index.html.erb, views/install/admin_user.html.erb, views/settings/index.html.erb */
/* Used for div */
.field_label {

}

/* Used in views/admin/_nav.html.erb, views/settings/_nav.html.erb */
/* Used for li */
.tab5 {

}

/* Used in views/admin/_nav.html.erb, views/settings/_nav.html.erb */
/* Used for li */
.tab6 {

}

/* Used in views/install/admin_user.html.erb, views/users/_form.html.erb */
/* Used for div */
#new_user_form {

}

/* Used in views/users/priorities.html.erb, views/users/show.html.erb, views/points/_show.html.erb */
/* Used for div */
.point_name {

}

/* Used in views/activities/_button.html.erb, views/points/_button.html.erb */
/* Used for span */
.big_x {

}

/* Used in views/users/_button_small.html.erb, views/points/_button.html.erb */
/* Used for span, div */
.endorse_or {

}

/* Used in views/users/_profile_nav.html.erb, views/points/_nav.html.erb */
/* Used for div */
#priority_nav {

}

/* Used in views/users/_profile_nav.html.erb, views/points/_nav.html.erb */
/* Used for ul */
#priority_menu {

}

/* Used in views/users/_left_nav.html.erb, views/users/ads.html.erb, views/users/_index_chart.html.erb, views/users/show.html.erb, views/points/show.html.erb */
/* Used for div */
.heading {

}

/* Used in views/users/_header.html.erb, views/documents/_authors.html.erb */
/* Used for div */
.profile_small {

}

/* Used in views/points/_header.html.erb, views/documents/_header.html.erb */
/* Used for div */
.intro {

}

/* Used in views/points/_flagged.html.erb, views/documents/_button_small.html.erb */
/* Used for span */
.tag_button {

}

/* Used in views/points/_button_small.html.erb, views/points/_flagged.html.erb, views/documents/_button_small.html.erb */
/* Used for span */
.or {

}

/* Used in views/points/new.html.erb, views/points/_flagged.html.erb, views/documents/_flagged.html.erb */
/* Used for span */
.red {

}

/* Used in views/points/_button.html.erb, views/documents/_button.html.erb */
/* Used for div */
.grey_button_wide {

}

/* Used in views/points/_show.html.erb, views/points/_show_full.html.erb, views/documents/_show_full.html.erb */
/* Used for div */
.point_other {

}

/* Used in views/user_contacts/not_invited.html.erb, views/user_contacts/members.html.erb, views/facebook/invite.html.erb */
/* Used for div */
#contacts_small {

}

/* Used in views/users/subscriptions.html.erb, views/searches/index.html.erb */
/* Used for span */
.star {

}

/* Used in views/layouts/portal_org.html.erb, views/portal/index.html.erb */
/* Used for div */
#main-dialogues-div {

}

/* Used in views/layouts/portal_org.html.erb, views/portal/index.html.erb */
/* Used for div */
#portal-menu-div {

}

/* Used in views/briefing/documents.html.erb, views/briefing/points.html.erb, views/portal/portlets.html.erb */
/* Used for div, span */
.priority_name {

}

/* Used in views/process_speech_master_videos/_latest_video_discussions_large.html.erb, views/process_speech_master_videos/_latest_video_discussions_medium.html.erb, views/portal/portlets.html.erb */
/* Used for div */
.navi {

}

/* Used in views/process_speech_master_videos/_latest_video_discussions_large.html.erb, views/process_speech_master_videos/_latest_video_discussions_medium.html.erb, views/portal/portlets.html.erb */
/* Used for a */
.prev {

}

/* Used in views/process_speech_master_videos/_latest_video_discussions_large.html.erb, views/process_speech_master_videos/_latest_video_discussions_medium.html.erb, views/portal/portlets.html.erb */
/* Used for div */
#latest_video_discussion_thumbs {

}

/* Used in views/process_speech_master_videos/_latest_video_discussions_large.html.erb, views/portal/portlets.html.erb */
/* Used for a */
.next {

}

/* Used in views/user_contacts/_preview.html.erb, views/partners/_rules.html.erb */
/* Used for span */
.highlight {

}

/* Used in views/pages/_nav.html.erb, views/prioritizer/_duel.html.erb */
/* Used for div */
.grey_button {

}

/* Used in views/activities/_button.html.erb, views/prioritizer/_single.html.erb */
/* Used for div */
.yellow_button {

}

/* Used in views/layouts/referendum.html.erb, views/shared/_footer.html.erb */
/* Used for div */
#footer {

}

/* Used in views/users/_header.html.erb, views/shared/_user_info.html.erb */
/* Used for span */
.profile_name {

}

/* Used in views/splash/index.html.erb, views/shared/_sidebar.html.erb */
/* Used for div */
#intro {

}

/* Used in views/users/_profile_nav.html.erb, views/shared/_menu.html.erb */
/* Used for div */
.tab_body {

}

/* Used in views/users/_index_chart.html.erb, views/shared/_total_volume_chart.html.erb */
/* Used for td */
.chart_label {

}

/* Used in views/admin/_nav.html.erb, views/issues/_nav.html.erb */
/* Used for li */
.tab9 {

}

/* Used in views/document_revisions/clean.html.erb, views/document_revisions/show.html.erb, views/revisions/clean.html.erb */
/* Used for div */
.notice {

}

/* Used in views/points/show.html.erb, views/revisions/clean.html.erb */
/* Used for div */
.point_content_detail {

}

/* Used in views/points/_show.html.erb, views/points/show.html.erb, views/points/_show_full.html.erb, views/revisions/clean.html.erb */
/* Used for div */
.point_source {

}

/* Used in views/points/_show.html.erb, views/points/_show_full.html.erb, views/revisions/_show.html.erb */
/* Used for div */
.point_content {

}

/* Used in views/process_documents/templates.html.erb, views/process_speech_videos/_video_detail.html.erb */
/* Used for a */
.fb_share_link {

}

/* Used in views/activities/_activitycapitaldocumenthelpfuldeleted_nouser.html.erb, views/activities/_activitypointhelpfuldelete_noself.html.erb, views/activities/_activityfollowingnew_nouser.html.erb, views/activities/_activitycapitaldocumenthelpfulendorsers_nouser.html.erb, views/activities/_activitycapitalpointhelpfulendorsers_noself.html.erb, views/activities/_activityoppositiondelete_noself.html.erb, views/activities/_activitycapitalpointhelpfulundeclareds_noself.html.erb, views/activities/_activitycapitaltwitterfollowers_nouser.html.erb, views/activities/_activitydocumenthelpful.html.erb, views/activities/_activityignoringdelete_noself.html.erb, views/activities/_activitydocumentunhelpful_noself.html.erb, views/activities/_activitypointrevisionotherpriority_nouser.html.erb, views/activities/_activityprioritybury_noself.html.erb, views/activities/_activityfollowingnew.html.erb, views/activities/_activityprioritynew_noself.html.erb, views/activities/_activityuserpicturenew_noself.html.erb, views/activities/_activitypointrevisioncontent_nouser.html.erb, views/activities/_activitypriority.html.erb, views/activities/_activitydocumentdeleted_nouser.html.erb, views/activities/_activitypriorityacquisitionproposaldeleted_noself.html.erb, views/activities/_activityfollowingdelete.html.erb, views/activities/_activitybulletinprofileauthor_nouser.html.erb, views/activities/_activitycapitalfollowers_nouser.html.erb, views/activities/_activitydocumentdeleted.html.erb, views/activities/_activitypriorityacquisitionproposalno.html.erb, views/activities/_activityendorsementnew_nouser.html.erb, views/activities/_activityprioritycommentnew.html.erb, views/activities/_activitydocumenthelpfuldelete_nouser.html.erb, views/activities/_activitypriorityacquisitionproposalno_noself.html.erb, views/activities/_activitydiscussionfollowingnew_noself.html.erb, views/activities/_activitydocumentrevisionname.html.erb, views/activities/_activityendorsementreplacedimplicit_noself.html.erb, views/activities/_activitycapitalpartneruserrecruited_nouser.html.erb, views/activities/_activitybulletinprofileauthor_noself.html.erb, views/activities/_activitydocumentrevisionname_nouser.html.erb, views/activities/_activityoppositiondelete_nouser.html.erb, views/activities/_activitydocumentrevisioncontent_nouser.html.erb, views/activities/_activityoppositionflipped_noself.html.erb, views/activities/_activityissueprioritycontroversial.html.erb, views/activities/_activityissuepriorityrising.html.erb, views/activities/_activitycapitalpointhelpfuleveryone_noself.html.erb, views/activities/_activityprioritybury.html.erb, views/activities/_activityfollowingdelete_noself.html.erb, views/activities/_activitypointrevisionneutral_nouser.html.erb, views/activities/_activitydocumentrevisioncontent_noself.html.erb, views/activities/_activitydiscussionfollowingdelete_noself.html.erb, views/activities/_activitypriorityacquisitionproposaldeclined.html.erb, views/activities/_activitydocumentrevisioncontent.html.erb, views/activities/_activitycapitalpointhelpfulopposers_nouser.html.erb, views/activities/_activitypriorityflaginappropriate_noself.html.erb, views/activities/_activitycapitalignorers_nouser.html.erb, views/activities/_activityinvitationnew_nouser.html.erb, views/activities/_activitypointhelpful_noself.html.erb, views/activities/_activityoppositionflippedimplicit.html.erb, views/activities/_activityoppositionflipped_nouser.html.erb, views/activities/_activitycapitaldocumenthelpfulundeclareds_noself.html.erb, views/activities/_activityendorsementflippedimplicit_nouser.html.erb, views/activities/_activityendorsementflipped_noself.html.erb, views/activities/_activityoppositionreplaced_nouser.html.erb, views/activities/_activitypartnerpicturenew_nouser.html.erb, views/activities/_activitycapitalgovernmentnew_nouser.html.erb, views/activities/_activityoppositionnew_noself.html.erb, views/activities/_activitycapitaldocumenthelpfulopposers.html.erb, views/activities/_activitydocumenthelpful_noself.html.erb, views/activities/_activitypriorityacquisitionproposaldeclined_noself.html.erb, views/activities/_activitycapitalpointhelpfuldeleted_nouser.html.erb, views/activities/_activitypointdeleted_noself.html.erb, views/activities/_activityendorsementflippedimplicit.html.erb, views/activities/_activitydiscussionfollowingdelete.html.erb, views/activities/_activitypriorityrenamed.html.erb, views/activities/_activitypointrevisionname_nouser.html.erb, views/activities/_activitycapitalacquisitionproposal.html.erb, views/activities/_activityoppositionreplaced.html.erb, views/activities/_activitypriorityacquisitionproposaldeleted_nouser.html.erb, views/activities/_activityfollowingdelete_nouser.html.erb, views/activities/_activitydocumentdeleted_noself.html.erb, views/activities/_activityoppositionflippedimplicit_nouser.html.erb, views/activities/_activitypriorityrenamed_nouser.html.erb, views/activities/_activityuserprobation_nouser.html.erb, views/activities/_activitycapitaluserrecruited.html.erb, views/activities/_activityendorsementreplaced.html.erb, views/activities/_activitycapitaladnew.html.erb, views/activities/_activitydocumentrevisionopposition_noself.html.erb, views/activities/_activityusernew_nouser.html.erb, views/activities/_activityoppositionflippedimplicit_noself.html.erb, views/activities/_activitydocumenthelpful_nouser.html.erb, views/activities/_activitybulletinprofilenew_nouser.html.erb, views/activities/_activitypointhelpful_nouser.html.erb, views/activities/_activitycapitalwarning_nouser.html.erb, views/activities/_activitypointrevisionwebsite_noself.html.erb, views/activities/_activitypointnew.html.erb, views/activities/_activityoppositionreplacedimplicit_nouser.html.erb, views/activities/_activityinvitationnew.html.erb, views/activities/_activityprioritymergeproposal_noself.html.erb, views/activities/_activitycapitalacquisitionproposalapproved_nouser.html.erb, views/activities/_activitycapitalwarning.html.erb, views/activities/_activitypriorityflaginappropriate_nouser.html.erb, views/activities/_activityprioritycommentnew_noself.html.erb, views/activities/_activitypointdeleted.html.erb, views/activities/_activityendorsementreplaced_noself.html.erb, views/activities/_activitycapitalpointhelpfuldeleted_noself.html.erb, views/activities/_activityignoringdelete_nouser.html.erb, views/activities/_activitybulletinprofileauthor.html.erb, views/activities/_activitybulletinprofilenew.html.erb, views/activities/_activitycapitalacquisitionproposalapproved.html.erb, views/activities/_activitycapitaldocumenthelpfuleveryone.html.erb, views/activities/_activitycapitalpointhelpfulendorsers_nouser.html.erb, views/activities/_activitycapitalignorers.html.erb, views/activities/_activitypointrevisionotherpriority_noself.html.erb, views/activities/_activitydocumentnew.html.erb, views/activities/_activitydocumentunhelpfuldelete_noself.html.erb, views/activities/_activitypointrevisionopposition.html.erb, views/activities/_activitypointrevisionneutral.html.erb, views/activities/_activitypointnew_noself.html.erb, views/activities/_activityprioritynew.html.erb, views/activities/_activitypriorityacquisitionproposaldeclined_nouser.html.erb, views/activities/_activitycapitalpointhelpfulundeclareds_nouser.html.erb, views/activities/_activityusernew.html.erb, views/activities/_activitycapitaltwitterfollowers.html.erb, views/activities/_activityinvitationaccepted.html.erb, views/activities/_activityissuepriority.html.erb, views/activities/_activitydiscussionfollowingdelete_nouser.html.erb, views/activities/_activityprioritynew_nouser.html.erb, views/activities/_activitycapitalacquisitionproposaldeleted_noself.html.erb, views/activities/_activitydocumentrevisionsupportive_nouser.html.erb, views/activities/_activityendorsementreplacedimplicit_nouser.html.erb, views/activities/_activitybulletinprofilenew_noself.html.erb, views/activities/_activitycapitaladnew_noself.html.erb, views/activities/_activitycapitaldocumenthelpfuldeleted_noself.html.erb, views/activities/_activitypointhelpful.html.erb, views/activities/_activitypartneruserrecruited_noself.html.erb, views/activities/_activitypointrevisionotherpriority.html.erb, views/activities/_activityprioritycommentnew_nouser.html.erb, views/activities/_activityoppositionreplacedimplicit.html.erb, views/activities/_activitypointunhelpful_noself.html.erb, views/activities/_activityendorsementdelete_nouser.html.erb, views/activities/_activitypriorityrising.html.erb, views/activities/_activitypointrevisionsupportive_nouser.html.erb, views/activities/_activitypointrevisioncontent.html.erb, views/activities/_activitypointrevisionname_noself.html.erb, views/activities/_activitypointhelpfuldelete.html.erb, views/activities/_activitydocumentrevisionopposition_nouser.html.erb, views/activities/_activitypartneruserrecruited_nouser.html.erb, views/activities/_activitybulletinnew_nouser.html.erb, views/activities/_activityendorsementflipped.html.erb, views/activities/_activityinvitationaccepted_nouser.html.erb, views/activities/_activitycapitalfollowers_noself.html.erb, views/activities/_activitycapitalpointhelpfulopposers.html.erb, views/activities/_activitydocumentunhelpful_nouser.html.erb, views/activities/_activitycapitalwarning_noself.html.erb, views/activities/_activitybulletinnew_noself.html.erb, views/activities/_activitypointrevisionopposition_noself.html.erb, views/activities/_activitycapitaldocumenthelpfulendorsers.html.erb, views/activities/_activitycapitaldocumenthelpfuleveryone_nouser.html.erb, views/activities/_activitycapitalacquisitionproposaldeleted_nouser.html.erb, views/activities/_activitycapitaluserrecruited_noself.html.erb, views/activities/_activitypointrevisioncontent_noself.html.erb, views/activities/_activityoppositiondelete.html.erb, views/activities/_activitydocumentrevisionopposition.html.erb, views/activities/_activitypriorityflag_nouser.html.erb, views/activities/_activityoppositionreplaced_noself.html.erb, views/activities/_activityfollowingnew_noself.html.erb, views/activities/_activitycapitaldocumenthelpfuleveryone_noself.html.erb, views/activities/_activityoppositionflipped.html.erb, views/activities/_activityuserrankingdebut_nouser.html.erb, views/activities/_activitycapitalacquisitionproposal_noself.html.erb, views/activities/_activitypointrevisionname.html.erb, views/activities/_activitycapitaldocumenthelpfulopposers_noself.html.erb, views/activities/_activitycapitalgovernmentnew_noself.html.erb, views/activities/_activitydocumenthelpfuldelete_noself.html.erb, views/activities/_activitypartnernew.html.erb, views/activities/_activitypriorityacquisitionproposalapproved.html.erb, views/activities/_activitypointunhelpful.html.erb, views/activities/_activitypointunhelpfuldelete_nouser.html.erb, views/activities/_activitycapitalfollowers.html.erb, views/activities/_activitypriorityacquisitionproposalno_nouser.html.erb, views/activities/_activitydocumentnew_noself.html.erb, views/activities/_activitycapitaldocumenthelpfulendorsers_noself.html.erb, views/activities/_activityignoringnew_noself.html.erb, views/activities/_activityendorsementnew_noself.html.erb, views/activities/_activitycommentparticipant_nouser.html.erb, views/activities/_activitycapitalinactive.html.erb, views/activities/_activitypartnerpicturenew.html.erb, views/activities/_activitypriorityacquisitionproposalapproved_nouser.html.erb, views/activities/_activitypointunhelpful_nouser.html.erb, views/activities/_activityuserrecruited.html.erb, views/activities/_activitybulletinnew.html.erb, views/activities/_activitycapitaluserrecruited_nouser.html.erb, views/activities/_activityignoringnew_nouser.html.erb, views/activities/_activityuserpicturenew_nouser.html.erb, views/activities/_activitycapitallegislatorsadded.html.erb, views/activities/_activitydocumentrevisionname_noself.html.erb, views/activities/_activitypartneruserrecruited.html.erb, views/activities/_activitydocumentrevisionneutral_nouser.html.erb, views/activities/_activitydocumentunhelpfuldelete_nouser.html.erb, views/activities/_activityoppositionnew.html.erb, views/activities/_activityprioritymergeproposal.html.erb, views/activities/_activitycommentparticipant_noself.html.erb, views/activities/_activitycapitallegislatorsadded_noself.html.erb, views/activities/_activityprioritybury_nouser.html.erb, views/activities/_activitycapitaldocumenthelpfulundeclareds_nouser.html.erb, views/activities/_activitycapitalgovernmentnew.html.erb, views/activities/_activitycapitalinactive_noself.html.erb, views/activities/_activityignoringnew.html.erb, views/activities/_activitydocumentrevisionneutral.html.erb, views/activities/_activitydocumentunhelpfuldelete.html.erb, views/activities/_activitydocumentrevisionsupportive_noself.html.erb, views/activities/_activitypointdeleted_nouser.html.erb, views/activities/_activityuserpicturenew.html.erb, views/activities/_activityuserprobation_noself.html.erb, views/activities/_activityuserrecruited_nouser.html.erb, views/activities/_activitycapitalpointhelpfuleveryone.html.erb, views/activities/_activityprioritydebut_noself.html.erb, views/activities/_activityuserrankingdebut_noself.html.erb, views/activities/_activitycapitalpointhelpfuleveryone_nouser.html.erb, views/activities/_activityendorsementreplacedimplicit.html.erb, views/activities/_activitycapitallegislatorsadded_nouser.html.erb, views/activities/_activitydocumentrevisionsupportive.html.erb, views/activities/_activitypointunhelpfuldelete.html.erb, views/activities/_activitycapitalacquisitionproposaldeleted.html.erb, views/activities/_activitypriorityacquisitionproposalapproved_noself.html.erb, views/activities/_activityendorsementreplaced_nouser.html.erb, views/activities/_activitypointrevisionsupportive.html.erb, views/activities/_activitycapitaltwitterfollowers_noself.html.erb, views/activities/_activityprioritydebut.html.erb, views/activities/_activitycapitalacquisitionproposal_nouser.html.erb, views/activities/_activitydiscussionfollowingnew_nouser.html.erb, views/activities/_activitypriorityflaginappropriate.html.erb, views/activities/_activitycapitalinactive_nouser.html.erb, views/activities/_activitypointrevisionsupportive_noself.html.erb, views/activities/_activitypriorityflag_noself.html.erb, views/activities/_activitydocumentunhelpful.html.erb, views/activities/_activityoppositionnew_nouser.html.erb, views/activities/_activitycapitaldocumenthelpfulundeclareds.html.erb, views/activities/_activitypointunhelpfuldelete_noself.html.erb, views/activities/_activityendorsementnew.html.erb, views/activities/_activitydiscussionfollowingnew.html.erb, views/activities/_activityendorsementflippedimplicit_noself.html.erb, views/activities/_activityendorsementflipped_nouser.html.erb, views/activities/_activitypriorityrenamed_noself.html.erb, views/activities/_activitypointrevisionopposition_nouser.html.erb, views/activities/_activitycapitalpointhelpfulendorsers.html.erb, views/activities/_activitydocumenthelpfuldelete.html.erb, views/activities/_activitypointnew_nouser.html.erb, views/activities/_activitycapitalignorers_noself.html.erb, views/activities/_activityignoringdelete.html.erb, views/activities/_activitypointrevisionwebsite.html.erb, views/activities/_activitypointrevisionwebsite_nouser.html.erb, views/activities/_activitycapitalacquisitionproposalapproved_noself.html.erb, views/activities/_activitycapitalpointhelpfulundeclareds.html.erb, views/activities/_activitydocumentrevisionneutral_noself.html.erb, views/activities/_activitycapitalpointhelpfulopposers_noself.html.erb, views/activities/_activitycapitalpointhelpfuldeleted.html.erb, views/activities/_activityoppositionreplacedimplicit_noself.html.erb, views/activities/_activitypointrevisionneutral_noself.html.erb, views/activities/_activitycapitaladnew_nouser.html.erb, views/activities/_activitydocumentnew_nouser.html.erb, views/activities/_activitycapitaldocumenthelpfulopposers_nouser.html.erb, views/activities/_activitycapitalpartneruserrecruited_noself.html.erb, views/activities/_activitycommentparticipant.html.erb, views/activities/_activitypriorityflag.html.erb, views/activities/_activityprioritymergeproposal_nouser.html.erb, views/activities/_activityendorsementdelete_noself.html.erb, views/activities/_activityendorsementdelete.html.erb, views/activities/_activitycapitalpartneruserrecruited.html.erb, views/activities/_activityuserprobation.html.erb, views/activities/_activitypointhelpfuldelete_nouser.html.erb, views/activities/_activityuserrankingdebut.html.erb, views/activities/_activitycapitaldocumenthelpfuldeleted.html.erb, views/activities/_activitypriorityacquisitionproposaldeleted.html.erb, views/notifications/_notificationcomment.html.erb */
/* Used for img */
.icon {

}

/* Used in views/activities/_show.html.erb, views/notifications/_show.html.erb */
/* Used for div */
.activity_border {

}

/* Used in views/ads/_show.html.erb, views/changes/_show.html.erb */
/* Used for div */
.pc_under {

}

/* Used in views/issues/network.html.erb, views/changes/_chart.html.erb */
/* Used for span */
.endorsed {

}

/* Used in views/points/new.html.erb, views/priorities/_form.html.erb */
/* Used for div */
.form_header {

}

/* Used in views/points/new.html.erb, views/priorities/_form.html.erb */
/* Used for div */
#point_opposes {

}

/* Used in views/points/new.html.erb, views/priorities/_form.html.erb */
/* Used for div */
.tiny_info_no_pad {

}

/* Used in views/tags/_nav.html.erb, views/priorities/_tag_show_large.html.erb */
/* Used for span */
.tag_count {

}

/* Used in views/users/_button_small.html.erb, views/priorities/_button_small.html.erb */
/* Used for span */
.priority_remove_oppose {

}

/* Used in views/issues/network.html.erb, views/priorities/network.html.erb */
/* Used for span */
.priority_endorsement_count {

}

/* Used in views/users/_index_chart.html.erb, views/priorities/_left_nav.html.erb */
/* Used for div */
.priority_chart {

}

/* Used in views/users/_profile_nav.html.erb, views/priorities/_left_nav.html.erb */
/* Used for div */
.rss_feed {

}

/* Used in views/issues/_nav.html.erb, views/priorities/_browse_nav.html.erb */
/* Used for li */
.tab7 {

}

/* Used in views/issues/_nav.html.erb, views/priorities/_browse_nav.html.erb */
/* Used for li */
.tab8 {

}

/* Used in views/portal/portlets.html.erb, views/priorities/newest.html.erb */
/* Used for div */
.priority_added {

}

/* Used in views/endorsements/_row_form.html.erb, views/priorities/_yours.html.erb */
/* Used for div */
.endorsement_x {

}

/* Used in views/shared/_search.html.erb, views/network/_find.html.erb */
/* Used for div */
.magnifier_wrap {

}

/* Used in views/shared/_search.html.erb, views/network/_find.html.erb */
/* Used for span */
.magnifier_image {

}

