
#hp_intro {
	font-size: 1em;
	line-height: 2em;
}

#branding p { position: absolute; left: 52px; top: 30px; font-size: 11px; color: #666; }



.priority_add {
padding: 1px !important;
}

.priority_add_link
{
}
	
div .priority_listing
{
/*float: left;*/
}	

.priority_name_link
{
display: inline !important;
float:left !important;
padding-right: 5px;
padding-top: 1px !important; 
}

.priority_add {
padding-top:0px !important;
padding-bottom:0px !important;
padding-left:2px !important;
padding-right:2px !important;
font-size: 9px !important;
font-weight: bold !important;
}

div#content_text table 
{
}