priority_submit
{
position: absolute;
left: 350px;
top: 10px;
background: red !important;

}

#hp_intro {
	font-size: 1.7em;
	line-height: 2em;
}

#branding p { position: absolute; left: 52px; top: 30px; font-size: 11px; color: #666; }