
#hp_intro {
	font-size: 1em;
	line-height: 2em;
}

#branding p { position: absolute; left: 52px; top: 30px; font-size: 11px; color: #666; }



.priority_add {
padding: 1px !important;
}

.priority_add_link
{
}
	
div .priority_listing
{
/*float: left;*/
}	
