ul#menu1 li.mega .tab_header a {margin-right: 20px !important;}
.notification_show_footer {
	position: absolute !important;	
	padding:0 0px !important;
	margin-left: -77px !important; 
}
.pc_under {margin-top: -2px !important;}

