ul#menu1 {margin: 1px -10px 10px 10px !important;}
ul#menu1 .tab_body {
		float: left !important;
		margin: 10px 0 0 -10px;
		left: -148px !important;
}

#contentwrap {
	margin-right: 10px !important;
}

.notification_show_footer {
	margin: 0px 0 0 -77px !important;
}

