ul#menu1 {margin: 1px 0 10px 10px !important;}
ul#menu1 .tab_body {
	float: left !important;
	margin: 10px  0 -10px -20px !important;
	left: -148px !important;
}
.test {
	top: 0 !important;
	right: 10px !important;
}

#contentwrap {
	margin-right: 10px !important;
}

.notification_show_footer {
	margin: 0px 0 0 -77px !important;
}

.endorse-wrap, .oppose-wrap {
	border: solid 1px;
}

