#toolbar {
	padding: 0px 0px 3px 0px;
	background-color: #fff !important;
	/*font-family:Helvetica,arial,sans-serif !important;*/
}

#nav a {
	text-decoration: none;
}
#nav a:hover {
	text-decoration: underline !important;
}
#nav {
	background-color: #fff;
	margin-top: 7px !important;
	font-size: 13px;
	z-index: -1;
}



#toolbar a {
  color: #003399 !important;
}

ul#menu,ul#menu1,ul#menu_sub,ul#menu_third  {width:100%;float:left;padding:0}
ul#menu1  {width:100%;float:right;padding:0; margin: 10px}


ul#menu_third  {border-top:0px solid #e5e5e5;margin:2px 4px 0 4px;padding:3px 0 0;}
ul#menu_sub {margin:1px 2px 0 2px}
ul#menu li,ul#menu1 li, ul#menu_sub li, ul#menu_third li {
    display: inline;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
float:left;
padding:0;
}

ul#menu1 li {
    display: inline;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
float:right;
padding:0;
}


ul#menu_third li {
margin-top:2px;
}


ul#menu li .tab_header,ul#menu_sub li .tab_header,ul#menu_third li .tab_header {
    
    font-weight: bold;
    margin-right: 0px;
padding: 0 4px 0;
display:inline-block;
float:left;
background-image: url('../images/new/menu-div-bg.png');
background-repeat: no-repeat;
background-position: right center;

}
ul#menu_sub li .tab_header {
    font-weight: normal;
}



ul#menu li.tab1 .tab_header,
body.news-top ul#menu_sub li.tab5 .tab_header,
ul#menu_sub li.tab10 .tab_header,
body.briefing-contributors ul#menu_sub li.tab4 .tab_header,
body.Cpoints ul#menu_sub li.tab4 .tab_header,
body.briefing-points ul#menu_sub li.tab4 .tab_header,
ul#menu_sub li.tab7 .tab_header,
body.news-capital ul#menu_third li.tab2 .tab_header,
body.briefing-points ul#menu_third li.tab1 .tab_header,
ul#menu_third li.tab4 .tab_header,
ul#menu_third li.tab7 .tab_header,
ul#menu_third li.tab6 .tab_header  {background-image:none}

ul#menu li .tab_header a {
    border: 0px solid #DDDDDD;
    font-weight: bold;
    letter-spacing: normal !important;
    margin-right: 0;
    padding: 3px 10px 10px 10px;
    text-decoration: none;
float:left;
margin: 7px 8px 0 0px;
display:inline-block;

}


#nav_sub ul#menu_sub .tab_header a,ul#menu_third .tab_header a {
font-size:11px;
    border: 0px solid #DDDDDD;
    font-weight: normal ;
    letter-spacing: normal !important;
    margin-right: 0;
    padding: 3px 8px 3px 8px;
    text-decoration: none;
margin: 0px 8px 0 0px;

}
ul#menu li .tab_header a, ul#menu li.hovering div.tab_body, ul#menu_sub li .tab_header a, ul#menu_sub li.hovering div.tab_body, ul#menu_third li .tab_header a, ul#menu_third li.hovering div.tab_body, ul#priority_menu li.hovering div.tab_body {
    background-color: #fff;float: left;
}


ul#menu li.tab0 .tab_header a {
margin: 7px 8px 0 0px;
padding: 3px 10px 10px 10px;
}

#nav0 li.tab0 .tab_header a,#nav1 li.tab1 .tab_header a, #nav2 li.tab2 .tab_header a, #nav3 li.tab3 .tab_header a, #nav4 li.tab4 .tab_header a, #nav5 li.tab5 .tab_header a, #nav6 li.tab6 .tab_header a, #nav7 li.tab7 .tab_header a, #nav8 li.tab8 .tab_header a {
color: #6699cc !important;
font-weight:bold !important;
background-color:#eef2f4;
background-image: url('../images/new/menu-active-bg.png');
background-repeat: no-repeat;
background-position: center bottom;
    text-decoration: none;
float:left;
margin: 7px 8px 0 0px;
display:inline-block;
}


ul#menu li.mega .tab_header a,ul#menu1 li.mega .tab_header a, ul#menu_sub li.mega .tab_header a, ul#menu_third li.mega .tab_header a {
background:url("/images/mega_down_arrow.gif") no-repeat scroll right center transparent;
}

ul#menu li.mega .tab_header  {
background-image: none;
}

ul#menu li.hovering div.tab_body, ul#menu_sub li.hovering div.tab_body, ul#menu_third li.hovering div.tab_body { 
	display: block; 
	padding: 10px 10px 2px 10px;	
	margin-top: 1px;
	z-index: 10;

}

ul#menu1 li.hovering div.tab_body { 
	display: block; 
	padding: 10px 10px 2px 10px;	
	margin-top: 1px;
	z-index: 10;

}

ul#menu li.mega .tab_header a {
	padding: 3px 13px 3px 10px; 
	margin-right: 0px; 
	text-decoration: none;	margin: 7px 8px 0 0px;
float:left;display:inline-block;
}
ul#menu1 li.mega .tab_header a {
	padding: 3px 13px 3px 10px; 
	margin-right: 0px; 
	text-decoration: none;	margin:0px;
float:left;display:inline-block;
}
ul#menu .tab_body {
	position: absolute;
	top: 30px;
	left: 0px;
}
ul#menu1 .tab_body {
	position: absolute;
	top: 20px;
	right: -9px;
	width:197px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
/*
ul#menu_sub .tab_body, ul#menu_third .tab_body {
	position: absolute;
	top: 19px;
	left: 0px;
}
ul#priority_menu div.tab_body {
	position: absolute;
	top: 18px;
	left: 0px;
}

ul#menu li.tab1 div.tab_body {
	width:400px;
}
ul#menu li.tab2 div.tab_body {
	width:410px;
}

ul#menu li.tab3 div.tab_body {
	width:280px;
}

ul#menu li.tab4 div.tab_body {
	width:420px;
}

ul#menu li.tab5 div.tab_body {
	width:355px;
}

ul#menu li.tab6 div.tab_body {
	width:240px;
}
ul#menu li.tab7 div.tab_body {
	width:270px;
}
*/
ul#menu li .tab_body {
	border: 1px solid #666;
	border-top: 0px;
	background: #f0f0f0;
}


#nav_third_1 li.tab1 .tab_header a, #nav_third_2 li.tab2 .tab_header a, #nav_third_3 li.tab3 .tab_header a, #nav_third_4 li.tab4 .tab_header a, #nav_third_5 li.tab5 .tab_header a, #nav_third_6 li.tab6 .tab_header a, #nav_third_7 li.tab7 .tab_header a, #nav_third_8 li.tab8 .tab_header a, #nav_third_9 li.tab9 .tab_header a, #nav_third_10 li.tab10 .tab_header a, #nav_third_11 li.tab1 .tab_header a, #nav_third_12 li.tab2 .tab_header a, #nav_third_13 li.tab3 .tab_header a, #nav_third_14 li.tab4 .tab_header a 
{
color: #6699cc !important;
font-weight:bold !important;
background-color:#eef2f4;
    text-decoration: none;
float:left;
margin: 0px 8px 0 0px;
display:inline-block;
}

#nav_sub_0 li.tab0 .tab_header a, #nav_sub_1 li.tab1 .tab_header a, #nav_sub_2 li.tab2 .tab_header a, #nav_sub_3 li.tab3 .tab_header a, #nav_sub_4 li.tab4 .tab_header a, #nav_sub_5 li.tab5 .tab_header a, #nav_sub_6 li.tab6 .tab_header a, #nav_sub_7 li.tab7 .tab_header a, #nav_sub_8 li.tab8 .tab_header a, #nav_sub_9 li.tab9 .tab_header a, #nav_sub_10 li.tab10 .tab_header a
{
color: #6699cc !important;
font-weight:bold !important;
background-color:#eef2f4;
    text-decoration: none;
float:left;
margin: 7px 8px 0 0px;
display:inline-block;
}

#nav_sub ul#menu_sub li.mega .tab_header a {
padding: 3px 12px 0 8px;
}

