html, body {
	font-size: 9px;
	font-family: Helvetica,Arial,sans-serif;
}

a {
	color: #000;
}

h1 { font-size: 1.7em; line-height: 2em; }
h2 { font-size: 1.5em; font-weight: bold; }
h3 { font-weight: bold; }

table tr th { font-weight: bold; padding-right: 0.5em; }

hr { border-top: 3px solid #e5e5e5; }

#backgroundwrap {
	width: 960px !important;
	margin: 0px auto;
}
#sidebar {
	width: 220px;
	float: right;
	overflow: hidden;
	
}

#contentwrap {
	width: 710px;
	float: left;
	position: relative;
	padding: 0px 00px 0px 0px !important;
}

#branding {
	font-size: 2em;
	background-color: #e5e5e5;
}

#branding a {
	padding: 10px 15px;
	display: block;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#content_text {
	padding: 15px 0px 15px 0px;
	letter-spacing: 0;
	line-height: 1.4em;
	font-size: 1.2em;
}

#facebox {
	line-height: 1.4em;
	font-size: 1.2em;
}

#warning {
	font-weight: bold;
	padding: 2px 0px 2px 10px;
}

#toolbar {
	padding: 0px 0px 3px 0px;
}
#nav a {
	text-decoration: none;
}
#nav {
	background-color: #f0f0f0;
	margin-top: 0.5em;
	font-size: 1.5em;
	z-index: -1;
}

#footer { clear: both; }

ul#menu, ul#priority_menu {
	text-align: left; 
	margin: 0px; 
	list-style-type: none;
}
ul#priority_menu {
	background-color: #f0f0f0;
	text-align: center;
}
ul#menu li, ul#menu_sub li, ul#menu_third li, ul#priority_menu li { 
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
}
.tab_subhead, .tab_subhead a {
	font-weight: bold;
}
.tab_subhead {
	font-size: 1.1em;
}
.tab_sublinks {
	margin-bottom: 10px;
}
.tab_body {
	line-height: 1.4em;
	display: none;
	background-color: #f0f0f0;
}

ul#menu li .tab_header {
  font-weight: bold;
}

ul#menu li {
	z-index: 20;
	padding: 3px 0px 3px 0px;	
}
ul#menu_sub li {
	z-index: 17;
	padding: 3px 0px 3px 0px;	
}
ul#menu_third li {
	z-index: 15;
	padding: 3px 0px 3px 0px;	
}
ul#priority_menu li {
	z-index: 14;
	padding: 3px 0px 3px 0px;	
}

ul#menu li .tab_header a { 
	padding: 3px 13px 3px 10px; 
	margin-right: 0px; 
	text-decoration: none;
}

ul#menu li.hovering div.tab_body, ul#menu_sub li.hovering div.tab_body, ul#menu_third li.hovering div.tab_body { 
	display: block; 
	padding: 10px 10px 2px 10px;	
	margin-top: 1px;
	z-index: 10;
}

ul#menu li.mega .tab_header a {
	padding: 3px 13px 3px 10px; 
	margin-right: 0px; 
	text-decoration: none;	
}

ul#menu .tab_body {
	position: absolute;
	top: 20px;
	left: 0px;
}
ul#menu_sub .tab_body, ul#menu_third .tab_body {
	position: absolute;
	top: 19px;
	left: 0px;
}
ul#priority_menu div.tab_body {
	position: absolute;
	top: 18px;
	left: 0px;
}

ul#menu li.tab1 div.tab_body {
	width:400px;
}
ul#menu li.tab2 div.tab_body {
	width:410px;
}

ul#menu li.tab3 div.tab_body {
	width:280px;
}

ul#menu li.tab4 div.tab_body {
	width:420px;
}

ul#menu li.tab5 div.tab_body {
	width:355px;
}

ul#menu li.tab6 div.tab_body {
	width:240px;
}
ul#menu li.tab7 div.tab_body {
	width:270px;
}

ul#menu li .tab_body {
	border: 1px solid #666;
	border-top: 0px;
	background: #f0f0f0;
}

/* second nav */
#nav_sub {
	z-index: -1;	
	font-size: 1.2em;	
}
ul#menu_sub { 
	background-color: #f0f0f0;
	text-align: left;
	margin: 0px;
	margin-top: 0.5em; 
	list-style-type: none;
	padding: 0px 10px 0px 0px;
}

ul#menu_sub li .tab_header a {
	padding: 3px 10px; 
	margin: 0px;
	text-decoration: none;
}
ul#menu_sub li.mega .tab_header a {
	padding: 3px 13px 3px 7px; 
	margin-right: 0px; 
	text-decoration: none;	
	background: transparent url('/images/mega_down_arrow.gif') center right no-repeat;	
}
/* second nav */

/* third nav */
#nav_third {
	background-color: #f0f0f0;
	margin-top: 0.5em;
	z-index: -1;	
	font-size: 1.1em;
}
ul#menu_third {
	text-align: left; 
	margin: 0px; 
	list-style-type: none;
	padding: 0px 10px 0px 0px; 
}

ul#menu_third li .tab_header a { 
	padding: 3px 8px; 
	margin-right: 0px; 
	text-decoration: none;
}
ul#menu_third li.mega .tab_header a {
	padding: 3px 13px 3px 7px; 
	margin-right: 0px; 
	text-decoration: none;	
	background: transparent url('/images/mega_down_arrow.gif') center right no-repeat;	
}
/* third nav */

/* priority nav */
.action {
	font-weight: bold;
}
ul#priority_menu li .tab_header a { 
	padding: 3px 5px 3px 5px;
	margin-right: 0px; 
	text-decoration: none;
	font-size: 0.95em;
}

ul#priority_menu li.mega .tab_header a {
	padding: 3px 13px 3px 7px; 
	margin-right: 0px; 
	text-decoration: none;	
	background: transparent url('/images/mega_down_arrow.gif') center right no-repeat;	
}

ul#priority_menu li.hovering div.tab_body {
	display: block; 
	padding: 10px 10px 2px 10px;	
	margin-top: 1px;
	z-index: 10;
}

ul#priority_menu li.tab5 div.tab_body {
	width:90px;
}

ul#priority_menu li.tab4 div.tab_body {
	width:90px;
}

ul#priority_menu li.tab5 div.tab_body {
	width:120px;
}

ul#priority_menu li.tab6 div.tab_body {
	width:110px;
}
ul#priority_menu li.tab7 div.tab_body {
	width:150px;
}

ul#priority_menu li.tab9 div.tab_body {
	width:150px;
}

/* Þingferlar */
.althingi_process_container {  width: 550px; margin: 1em 0em !important; padding: 0.5em 0em !important; border-bottom: 3px solid #e5e5e5 !important; }
.althingi_process_container h3 { background: #f5f5f5 !important; margin: 0px; margin-top: 1em; }
.althingi_process_container h2 { display: inline !important; width: 200px !important; clear: left !important; padding: 0.5em; padding-top: 0em; margin: 0px; }
.althingi_process_container p { display: inline; }
.althingi_process_container a.extlink { display: inline-block; float: right; padding: 0.5em; }
.althingi_process_container table { width: 550px !important; border: 1px solid #f5f5f5; border-collapse: separate !important; border-spacing: 0 !important; }
.althingi_process_container table tr.even td { background: #f5f5f5; }

/* Hliðarstikan */
#search_priorities form input { width: 170px; font-size: 10px; }
#your_priorities table { width: 200px;}

/* Meta-græjan */
div.meta { width: 120px !important; }

/* Rök og drasl */
.comment_link_add, .small { font-size: 1em !important; }
.point_byline { font-size: 1em !important; }
.tag_button { font-size: 1em !important; }
.container_12 { position: relative; padding-bottom: 1em; border-bottom: 3px solid #ccc; }
.container_12 td { width: 340px; vertical-align: top; }
.container_12 td.against { padding-left: 1em; }
.container_12.newpoints { margin-top: 1em; }
.point_item h3 { margin: 1em 0px 0px 0px !important; }