html, body {
	font-family: "lucida grande",tahoma,Helvetica, arial,sans-serif !important;
}

a {
	color: #333;
}
a:hover 
{ 
	text-decoration: under-line;
}

#footer a, #contentwrap a 
{ 
color: #333;

}

.search_results h3
{
  padding-top: 5px;
}

.search_results ul li {list-style: none;}

#search
{
  position:relative;
  right:0;
  top:47px;
  width:230px;
  left:574px;
  left:572px !ie;
}
#search input.input
{
  height: 21px;
  margin-right: 2px;
  margin-top: 1px;
  padding: 2px 3px 0;
}
#search input.leita
{
  font-size:12px;
  height:22px !important;
  width: 45px;
}

#search-id
{
  font-size:12px;
  height:22px !important;
  width:160px;
  float:left;
  margin-right: 3px;
  margin-right: 0px !ie;

}

.search_results #left
{
float:left; 
width: 150px;
padding-right: 5px;
}

.search_results #right
{
float:right;  
width: 600px;
}


.match {
color: red;
}

#footer a:hover, #contentwrap a:hover { color: #333; }
#toolbar a, #priority_menu a { border-bottom: none; }

h1 { font-size: 14px; line-height: 2em; !important}
h2 { font-size: 12px; font-weight: bold; !important}
h3 { font-weight: bold; }

table tr th { font-weight: bold; padding-right: 0.5em; }

hr { border-top: 3px solid #e5e5e5; }

#backgroundwrap {
	width: 960px !important;
	margin: 0px auto;
	height: 100%;
}

#sidebar {
	width: 220px;
	float: right;
	overflow: hidden;
	padding-right: 4px;
  position:relative;
  top: -90px;
  right: 5px;
  padding-top: 0px;
  margin-top: 0px;
}

#network_sidebar {
  padding-right: 4px;
  vertical-align: top;
  top: 0px;
  right: 5px;
  padding-top: 0px;
  margin-top: 0px;
}

#network_sidebar {
  width: 200px;
  float: right;
  padding: 0 4px 0 13px;
  vertical-align: top;
  top: 0px;
  right: 0px;
  margin-top: 0px;
	position: relative;
}

#network_sidebar td {
  vertical-align: top;
}
#contentwrap {
	width: 720px;
	margin-left: 4px;
	float: left;
	position: relative;
	padding: 0px 0px 0px 0px !important;
  margin-right: 0;
}

#branding_text_header {
  margin-left: 8px;
  margin-top: 12px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  word-spacing: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  text-indent: 0ex;
}

#branding_text_sub {
  margin-left: 15px;
  color: #999;
  font-family: sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  word-spacing: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  text-indent: 0ex;
}


#branding {
	background-color: #fefefe !important;
}

#branding a {
	background-color: #fefefe !important;
	color: #e5e5e5 !important;
/*	padding: 10px 15px;
	display: block;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
*/}

#branding a  img
{
padding: 0 !important;
margin: 0 !important;
border: none 0px #fff !important;
}


#content_text {
	padding: 14px 0px 15px 0px;
/*	letter-spacing: 0; */
}

#facebox {
	line-height: 1.4em;
	font-size: 1.2em;
}

#warning {
	font-weight: bold;
	padding: 2px 0px 2px 10px;
}
/*
#toolbar {
	padding: 0px 0px 3px 0px;
	background-color: #fff !important;
	font-family:Helvetica,arial,sans-serif !important;
}

#nav a {
	text-decoration: none;
}
#nav {
	background-color: #fff;
	margin-top: 7px !important;
	font-size: 14px;
	z-index: -1;
}
*/
#footer { clear: both; width: 960px; }

ul#menu, ul#priority_menu {
	text-align: left; 
	margin: 0px;
	/*padding-bottom: 1px !important; */
	list-style-type: none;
/*	height: 21px;*/
}
ul#priority_menu {
/*	background-color: #f0f0f0; */
	text-align: left;
	margin-bottom: 8px !important;
	margin-top: 3px;
}


#priority_nav1 ul#priority_menu{
	height: 21px !important; 
}

#priority_nav1 ul#priority_menu li{
}



ul#menu li, ul#menu_sub li, ul#menu_third li, ul#priority_menu li { 
	position: relative;
	top: 0px;
	left: 0px;
}
.tab_subhead, .tab_subhead a {
	font-weight: bold;
	color: #666 !important;
}
.tab_subhead {
	font-size: 13px;
}
.tab_sublinks {
	margin-bottom: 10px;
}
.tab_body {
	line-height: 1.4em;
	display: none;
	background-color: #fff;
}

ul#menu li .tab_header {
  font-weight: bold;
  margin-right: 3px;
}

ul#menu li {
	z-index: 20;
	padding: 3px 0px 3px 0px;	
}
ul#menu_sub li {
	z-index: 17;
	padding: 3px 0px 3px 0px;	
}
ul#menu_third li {
	z-index: 15;
	padding: 3px 0px 3px 0px;	
}
ul#priority_menu li {
	z-index: 14;
/*	padding: 3px 0px 3px 0px;*/	
}

ul#menu li .tab_header a { 
	/*padding: 3px 13px 3px 10px; 
	margin-right: 0px; 
	text-decoration: none;
	letter-spacing: normal !important;
	font-weight: normal !important;
	border: solid 1px #ddd;*/
}
/*
ul#menu li.hovering div.tab_body,ul#menu1 li.hovering div.tab_body, ul#menu_sub li.hovering div.tab_body, ul#menu_third li.hovering div.tab_body { 
	display: block; 
	padding: 10px 10px 2px 10px;	
	margin-top: 1px;
	z-index: 10;

}*/
/*
ul#menu li.mega .tab_header a {
	padding: 3px 13px 3px 10px; 
	margin-right: 0px; 
	text-decoration: none;	
}

ul#menu .tab_body {
	position: absolute;
	top: 20px;
	left: 0px;
}
ul#menu_sub .tab_body, ul#menu_third .tab_body {
	position: absolute;
	top: 19px;
	left: 0px;
}
ul#priority_menu div.tab_body {
	position: absolute;
	top: 18px;
	left: 0px;
}

ul#menu li.tab1 div.tab_body {
	width:400px;
}
ul#menu li.tab2 div.tab_body {
	width:410px;
}

ul#menu li.tab3 div.tab_body {
	width:280px;
}

ul#menu li.tab4 div.tab_body {
	width:420px;
}

ul#menu li.tab5 div.tab_body {
	width:355px;
}

ul#menu li.tab6 div.tab_body {
	width:240px;
}
ul#menu li.tab7 div.tab_body {
	width:270px;
}

ul#menu li .tab_body {
	border: 1px solid #666;
	border-top: 0px;
	background: #f0f0f0;
}
*/
/* second nav */
/*
#nav_sub {
	z-index: -1;	
	font-size: 12px;	
	padding-top: 3px;
	padding-bottom: 2px;
}
*/
/*
ul#menu_sub { 
	background-color: #fff;
	text-align: left;
	margin: 0px;
	margin-bottom: 0px !important;
	list-style-type: none;
	padding-bottom: 4px;
	padding: 0px 10px 2px 0px; 
}
*/
/*
ul#menu_sub li .tab_header a {
	padding: 3px 10px; 
	margin: 0px;
	text-decoration: none;
	letter-spacing: normal !important;
	font-weight: normal !important;
	border: 0px solid #ddd;
	background-color: #fff !important;
}

ul#menu_sub li {
	margin-right: 3px !important;
}

ul#menu_sub li.mega .tab_header a {
	padding: 3px 13px 3px 7px; 
	margin-right: 0px; 
	text-decoration: none;	
	background: transparent url('/images/mega_down_arrow.gif') center right no-repeat;	
}
*/
/* second nav */

/* third nav */

/*
#nav_third {
	background-color: #fff;*/
/*	margin-top: 4px; */
/*	z-index: -1;*/	
/*	font-size: 11px;
	margin-top: 2px;
  margin-bottom: 4px;
}
*/
/*
ul#menu_third {
	text-align: left; 
	margin: 0px; 
	margin-top: 5px;
	list-style-type: none;
	padding: 0px 10px 0px 0px; 
	background-color: #fff !important;
}
*/
/*
ul#menu_third li .tab_header a { 
	padding: 3px 8px; 
	margin-right: 0px; 
	text-decoration: none;
	letter-spacing: normal !important;
	font-weight: normal !important;
  border: 0px solid #ddd;
  background-color: #fff !important;
}

ul#menu_third li{ 
	padding: 0 !important; 
	margin-right: 3px;
}


ul#menu_third li.mega .tab_header a {
	padding: 3px 13px 3px 7px; 
	margin-right: 0px; 
	text-decoration: none;	
	background: transparent url('/images/mega_down_arrow.gif') center right no-repeat;	
}*/
/* third nav */

/* priority nav */
.action {
font-weight: normal !important;
}
ul#priority_menu li .tab_header a { 
	padding: 3px 5px 3px 5px;
	margin-right: 0px; 
	text-decoration: none;
	font-size: 0.95em;
		letter-spacing: normal !important;
	font-weight: normal !important;

}

ul#priority_menu li.mega .tab_header a {
	padding: 3px 13px 3px 7px; 
	margin-right: 0px; 
	text-decoration: none;	
	background: transparent url('/images/mega_down_arrow.gif') center right no-repeat;	
}

ul#priority_menu li.hovering div.tab_body {
	display: block; 
	padding: 10px 10px 2px 10px;	
	margin-top: 1px;
	z-index: 10;
}

ul#priority_menu li.tab5 div.tab_body {
	width:150px;
}

ul#priority_menu li.tab4 div.tab_body {
	width:90px;
}

ul#priority_menu li.tab5 div.tab_body {
	width:150px;
}

ul#priority_menu li.tab6 div.tab_body {
	width:110px;
}
ul#priority_menu li.tab7 div.tab_body {
	width:150px;
}

ul#priority_menu li.tab9 div.tab_body {
	width:150px;
}

/* Þingferlar */
	.althingi_process_container 
{  
	width: 550px; 
	margin: 1em 0em !important; 
	padding: 0 10px 10px 10px !important; 
	border-bottom: 3px solid #e5e5e5 !important; }

.althingi_process_container h3 { background: #f5f5f5 !important; margin: 0px; margin-top: 1em; }

.althingi_process_container h2 { display: inline !important; width: 200px !important; clear: left !important; padding: 0.5em; padding-top: 0em; margin: 0px; }

.althingi_process_container p { display: inline; }

.althingi_process_container a.extlink { display: inline-block; float: right; padding: 0.5em; padding-bottom: 0px; margin-bottom: 0px; }

.althingi_process_container a
{
}

.althingi_process_container table { width: 550px !important; border: 1px solid #f5f5f5; border-collapse: separate !important; border-spacing: 0 !important; }

.althingi_process_container table tr.even td { background: #f5f5f5; }

/* Hliðarstikan */
#top_right_column { margin-top: -17px; }
#search_priorities form input { width: 170px; font-size: 10px; }
#your_priorities table { width: 200px;}

/* Meta-græjan */
div.meta { width: 120px !important; }

/* Rök og drasl */
.comment_link_add, .small { font-size: 11px !important; }
/*.point_byline { font-size: 1em !important; }*/
#point_1_quality{font-size: 11px !important;}

.tag_button 
{ 
	font-size: 10px !important; 
	width: auto;
	/*float: right;*/
	margin: 0 !important;
	display: inline-block;
}

.win.chrome .tag_button{margin:-16px -3px 0 0 !important;}

.container_12, .container_13 
{ 
/*	position: relative; */
	padding-bottom: 1em;
}

.container_12 td { width: 350px; vertical-align: top; }
.container_13 td { width: 300px; vertical-align; top; }
.container_12 td.against, .container_13 td.against { padding-left: 1em; }
.container_12.newpoints { margin-top: 1em; }
.point_item h3 { margin: 1em 0px 0px 0px !important; }


/* Menjú */
.tab_body { text-align: left; padding: 0.5em; padding-bottom: 0em; }
.tab_body a { text-align: left; }

/* cell width in rok plus oppose/endorse */
.container_13 .grid_41 {
width:262px !important;
}

 /* Below line for Rok */
 
 h2
{

/* Might damage something somewhere
height: 1.5em;
*/

font-weight:bold;
padding-top: 5px;
display:block;
margin:0;	
}

.below_line
 {
color: gray;
margin: 3px 0 3px 5px;
font-size:10px;
font-weight:normal;
padding:0;
text-align: right;
 }
 
 /* Mal header */
#hp_intro a, h1 #hp_intro {
  color:#333;
  font-size: 16px !important;
  line-height: 120% !important;
}



.intro
{
  color:#333;
  font-size: 14px;
  line-height: 120% !important;
}


/* More stuff */

.point_content_detail p
{
font-size: 12px;
line-height: 120% !important;
}

.point_item p a
{
font-size: 12px !Important;	
font-weight: bold !important;
}

/* Login box items */

.email input, .password input, .submit input
{
margin-top: 3px;
width: 80px; 
}

.submit input
{
margin-top: 3px;
width: auto !important; 
}

/* Selected item in navigation, I think */
#nav1 li.tab1 .tab_header a, #nav2 li.tab2 .tab_header a, #nav3 li.tab3 .tab_header a, 
#nav4 li.tab4 .tab_header a, #nav5 li.tab5 .tab_header a, #nav6 li.tab6 .tab_header a,
#nav7 li.tab7 .tab_header a, #nav8 li.tab8 .tab_header a, #nav_sub_0 li.tab0 .tab_header a, 
#nav_sub_0 li.tab0 .tab_header a,
#nav_sub_1 li.tab1 .tab_header a,
#nav_sub_2 li.tab2 .tab_header a, #nav_sub_3 li.tab3 .tab_header a, #nav_sub_4 li.tab4 .tab_header a,
#nav_sub_5 li.tab5 .tab_header a, #nav_sub_6 li.tab6 .tab_header a, #nav_sub_7 li.tab7 .tab_header a,
#nav_sub_8 li.tab8 .tab_header a, #nav_sub_9 li.tab9 .tab_header a, #nav_sub_10 li.tab10 .tab_header a,
#nav_third_1 li.tab1 .tab_header a, #nav_third_2 li.tab2 .tab_header a, #nav_third_3 li.tab3 .tab_header a,
#nav_third_4 li.tab4 .tab_header a, #nav_third_5 li.tab5 .tab_header a, #nav_third_6 li.tab6 .tab_header a,
#nav_third_7 li.tab7 .tab_header a, #nav_third_8 li.tab8 .tab_header a, #nav_third_9 li.tab9 .tab_header a,
#nav_third_10 li.tab10 .tab_header a, #nav_third_11 li.tab1 .tab_header a, #nav_third_12 li.tab2 .tab_header a,
#nav_third_13 li.tab3 .tab_header a, #nav_third_14 li.tab4 .tab_header a {
/*background-color:#fff !important;
color:#000000 !important;
font-weight:bold !important;
padding-top:2px !important;
padding-bottom:2px !important;
border: 1px solid #fff;
margin: 0 !important;*/
}

#portlets-menu
{
height: 13px;
float: right !important;
}

#main-dialogues-div p
{
margin-bottom: 2px;
}


/* 4 col fix for Mal - Rok */


/*
#yfirsyn
{
background: red;
}
*/



.tab_body a
{
letter-spacing: normal !important;
}


.tab_body 
{
/*border: 1px solid #CCC !important;*/
margin-top: 2px !important;
}


ul#menu li.mega .tab_header a:hover, ul#menu li.mega.hovering .tab_header a, ul#menu_sub li.mega .tab_header a:hover, ul#menu_sub li.mega.hovering .tab_header a, ul#menu_third li.mega .tab_header a:hover, ul#menu_third li.mega.hovering .tab_header a, ul#priority_menu li.mega .tab_header a:hover, ul#priority_menu li.hovering .tab_header a {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
/*background: #7a7878 none repeat scroll 0 0 !important;*/
/*color:#FFFFFF !important;*/
}

ul#menu_sub .tab_header a:hover, ul#menu_third .tab_header a:hover, .ac_over, ul#menu .tab_header a:hover, ul#menu li .tab_header a:hover, ul#priority_menu li .tab_header a:hover, ul#priority_menu li .tab_header a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
/*background:#7a7878 none repeat scroll 0 0 !important;*/
/*color:#FFFFFF !important;*/
}

/*
#priority_nav1 li.tab1 .tab_header a, #priority_nav1 li.tab1.mega .tab_header a, #priority_nav2 li.tab2 .tab_header a, #priority_nav2 li.tab2.mega .tab_header a, #priority_nav3 li.tab3 .tab_header a, #priority_nav3 li.tab3.mega .tab_header a, #priority_nav4 li.tab4 .tab_header a, #priority_nav4 li.tab4.mega .tab_header a, #priority_nav5 li.tab5 .tab_header a, #priority_nav5 li.tab5.mega .tab_header a, #priority_nav6 li.tab6 .tab_header a, #priority_nav6 li.tab6.mega .tab_header a, #priority_nav7 li.tab7 .tab_header a, #priority_nav7 li.tab7.mega .tab_header a, #priority_nav8 li.tab8 .tab_header a, #priority_nav8 li.tab8.mega .tab_header a, #priority_nav9 li.tab9 .tab_header a, #priority_nav9 li.tab9.mega .tab_header a, #priority_nav10 li.tab10 .tab_header a, #priority_nav10 li.tab10.mega .tab_header a {
	padding-top:0px;
	padding-bottom: 0px;
}
*/

.comment_content p {
font-size: 12px !important;
}

.activity {
font-size:11px !important;
}


#priority_submit
{

}


#intro, #buzz_box, #not_activated, #notification_show, #errorExplanation, .bulletin_form, .change_vote_now, #contacts, #contacts_small, .invite_text, .notice {
background-color:#fff;
border: 1px solid #ddd !important;
color:#444444;
margin-bottom: 10px;
margin-top: 0px;
}

#login, #intro, #buzz_box {
/*margin-top: 5px !Important;
background-color:#fff !important;
border: 1px solid #eee !important;
font-size:11px;
line-height:1.4em;
padding:10px 10px 5px 15px;*/
}


#priority_column{
/*background-color:#fff !important;
border: 1px solid #ddd !important;*/
font-size:11px;
color:#444444;
}

input, textarea, #contacts, #contacts_small, .invite_text, .ac_results, .magnifier_wrap, .change_vote_now, .idleField {
background-color:#fff;
border:1px solid #DDDDDD;
}



.flash_error, #not_activated_header, #warning, .fieldWithErrors input, #errorExplanation h2 {
/*background-color:#ccc;
color:#333;
font-weight:bold;
border-left: 1px solid #eee;
border-top: 1px solid #eee;
border-right: 1px solid #eee;*/
}

#user_name {
font-size:12px;
padding:8px 0 8px 8px;
/*background-color:#f0f0f0;
border-bottom:1px solid #EEEEEE !important;*/
}

.email input, .password input, .submit input {
width:130px;
}

#new_priority_button {
  width: 208px;
  padding:2px 5px 3px 5px;
  border:1px solid #ddd;
  margin-top: 7px;
  font-size: 1.8em;
}

#language_selection_box {
  width: 208px;
  padding:2px 5px 3px 5px;
  border:1px solid #ddd;
  margin-top: 4px;
  margin-bottom: 7px;
}

#right_column_priorities {
padding:0 !important;
}


#notification_box, #next_steps_box {
font-size:12px;
font-weight: bold;
line-height:1.4em;
padding:2px 10px;
/*border:1px solid #ddd !important;
background-color:#fff;*/
}
#notification_box, #next_steps_box h4{border-bottom:none;}

#notification_box ol , #next_steps_box  ol{
font-size:11px;
font-weight: normal;
padding-left:18px;
}
#not_activated_header {
background:none;
color:#BC0000; 
font-size: 1.2em;
  margin-top: 0px;
  padding: 4px 0 2px 10px;
}
#not_activated {
font-size:11px;
line-height:1.4em;
padding:10px 10px;
}

#right_column_priorities a, #notification_box a, #next_steps_box a, #notification_box ol a, #next_steps_box  ol a, #not_activated a 
{
color: #533;
padding-left: 3px;
/*border-bottom: 1px dotted #977;*/
}


#point_right {
margin-left:12px;
min-height: 260px;
}

td {
vertical-align: top !important;	
}


#latest_video_discussion_thumbs h3 {
color:#ddd !important;
}

/* Overriding width:20000em located somewhere */
#latest_video_discussion_thumbs {
float: left !important;
}

.suggest_button, .yellow_button {
/*background-color:#FFFF99;
border:2px solid #FFCC00 !important;*/
}


.suggest_button:hover, .yellow_button:hover, .grey_button_wide:hover {
border:1px solid #13499B !important;
}
.yellow_button {
	border: 1px solid #FFCC00 !important;
	/*padding: 0 5px !important;*/
}

#priority_name {
font-size:13px;
height:20px;
margin-left:0 !important;
margin-right:10px !important;
width:424px;
border: 1px solid #ccc !important;
}

#point_name, #custom_tags, #point_website
{
font-size:13px;
height:20px;
margin-left:0 !important;
margin-right:10px !important;
width:424px !important;
border: 1px solid #ccc !important;
}

#pointContent
{
font-size:13px;
margin-left:0 !important;
margin-right:10px !important;
border: 1px solid #ddd !important;
}

#custom_tags {
font-size:13px;
height:20px;
width:230px;
}

#your_priority, .form_header
{
padding-bottom: 4px; 
}


.form_header
{
font-size: 13px; 
font-weight: bold;
padding-bottom: 4px; 
}

.suggest_button {
font-size:13px;
font-weight:bold;
letter-spacing:0.3px;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
padding: 4px 10px 4px;
text-align:center;
}

.num_cols_5 {
width:700px !important;
}

#top_points_table p {
	padding-bottom: 2px;
	padding-top: 4px;
	line-height: 130%;
	font-family:"lucida grande",tahoma,arial,sans-serif;
	font-size:11px;
	color: #333333;
}

.tag_button_hack {
	font-family:"lucida grande",tahoma,arial,sans-serif;
	font-size:11px !important;
	font-style: italic;
	color: #333333;
}

.point_item h3 {
color: #333333 !important;	
font-size: 12px !important;
font-weight: bold !important;
}

.point_item_hacky a {
font-size: 12px !important;
font-weight: bold !important;
}

.for_and_against_hacky {
color:#333333 !important;
font-size: 10px !important;
font-weight: normal !important;
}

.yes_and_no_points_link_hacky a {
	color:#333333 !important;
	font-size: 12px !important;
	font-weight: normal !important;
	text-decoration: underline;
	margin-top: 500px;
}

.yes_and_no_points_link_hacky {
	margin-top: 10px;
}
/*
ul#priority_menu li {
padding:2px 0 !important;
margin-right: 4px !Important;
	background-color: #F8F8F8 !important;
}
*/
.icon {
    left: 0;
    margin: 19px 0 0 24px;
    position: absolute;
    z-index: 0;
}

.notification_icon {
  float:left;
  position: relative;
  right: 5px;
  padding-bottom:7px;
}

.point_name {
font-size:13px !important;
}

.profile_name {
font-size:16px !important;
line-height: 1.5em;
border-bottom: none !important;
}

#addthis a{
font-size: 13px !important;
}

.priority_name, .priority_name_add {
/*float:left;*/
margin-right:1px;
font-size: 1.2em !important;
font-family:helvetica,arial,sans-serif !important;
padding-bottom: 2px;
margin-top:7px;

}

.top_level .priority_name, .priority_name_add {
	width: 330px;
}

.single .priority_name {
	font-size: 1.4em !important;	
	margin-bottom: 8px;
	width: auto;
}


#footer a {
  border-bottom-color:#997777;
  border-bottom-style:dotted;
  border-bottom-width:1px;
  color:#553333;
}


.pagination {
	margin: -1px 0 5px 10px;
	float: left;
}

.tiny_info, #tiny_info 
{
	font-size: 11px;
	padding-top: 1px;
	padding-bottom:9px;
}

.tiny_info_no_pad
{
	padding-bottom:1px;
}

.custom_tag select
{
/*
	margin-left: 5px;
*/
}

.portlet-content .priority_added
{
	padding-top: 0px !important
}

.field_with_errors {
  border: 1px solid red;
}

.button_small_li {
	list-style: none; 
	float:left; 
	width:auto;
}

.white_line {
	border-bottom: solid 1px #FFF; 
	/*margin: 0 0 10px;*/
}

.pre_text {
	margin-bottom: 10px;
}

.reykjavik_icon {
	width: 100%;
	text-align:right;
	margin-top: 10px;
}

.bellow_translate {
	margin: 25px 0 8px -15px;
	border-bottom: solid 1px #CCC;
	width: 190px;
}

#intro p {font-size: 0.8em;}

#message_to_users {
		background:url("/images/new/information_box_bg.png") repeat-x;
		background-color: #fffceb;
		-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
		behavior:url(../javascripts/PIE.htc);
		position: relative;
		padding: 5px 10px 10px 75px;
		margin-bottom: 5px;
}

#message_to_users p {margin-top: 10px;}

.close_notify2 {
	color:#000;
	float: right;
  margin-right: 0px;
  text-decoration: none !important;
  white-space: nowrap;
}

.close_notify2 a {text-decoration: none !important;}

.information_icon {
    left: 31px;
    position: absolute;
    top: 15px;
}

.comment_report {padding: 0 !important;float: right;}
#activities .comment_report {
	padding: 0 !important;
	float: right;
	position: absolute;
	right: 20px;
}
.priority_icon_portlet {/*margin: 5px 0 0 10px;*/margin-top: 5px;}

.border_miss_avatar {
	border: solid 1px #f4f4f4;
	height: 35px;
	width: 35px;
}

.border_miss_avatar48 {
	border: solid 1px #f4f4f4;
	height: 48px;
	width: 48px;
}

.image_96 {
	border: solid 1px #f4f4f4;
	width: 96px;
	height: 96px;
}

.fb_avatar {
	/*border: solid 1px #CCC;
	width: 35px;
	height: 35px;*/
	margin-top: -5px;
}

.field_label2 {margin-top: 10px;}

.content {
		background-image: url("../images/new/content-text-bg.png") !important;
    background-position: left top !important;
    background-repeat: no-repeat;
		padding: 10px;
}

.submit_button {
	background-image: url("../images/new/bg_submit.png");
	background-repeat: repeat-x;
	font-weight: bold;
	-moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
	behavior:url(../javascripts/PIE.htc);
  position: relative;
	color: #666;
	border: solid #FFF 1px;
	box-shadow: 0px 0px 2px #000;
	-moz-box-shadow: 0px 0px 2px #000;
	-webkit-box-shadow: 0px 0px 2px #000;
	padding: 2px 10px;
	margin-top: 1px;
	width: auto !important;
}

.category_icon {
	width: 55px;
	padding-top: 10px;
}

.add_point_field {
	margin-bottom: -10px;
}

.yourpri_logo {
	text-align: center;
}

.portlet-content .comment_link_add {
    border: 1px solid #C1C1C1;
    margin: 0 0 0 15px;
    padding: 0;
    position: relative;
    width: auto;
}

