/* DOM ELEMENTS */

/* */

.column {
	width: 500px;
	float: left;
	background-color: #fff;
	height: 100%;
}

.portlet {
	margin: 0 1em 1em 0;
}
            
.portlet-header {
	margin: 0;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
            
.portlet-header .ui-icon {
    float: left;
}

.portlet-footer {
	margin: 0;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	padding-right: 5px;
	float: right;
}

.portlet-footer a{
 	color: #003a63;
	font-weight: bold;
	text-decoration: none;
}
            
.portlet-content {
    padding: 0em;
	margin: 0em;
}

.ui-sortable-placeholder {
    border: 2px dashed #cccccc;
    visibility: visible !important;
    height: 100px !important;
}
            
.ui-sortable-placeholder * {
    visibility: hidden;
}  

/* */

h1 {
	margin: 0px;
	padding: 0px;
}

h2 {
	margin: 0px;
	padding: 0px 0px 8px 0px;
}

ul {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

li {
}

p {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;	
}

div {
	padding-bottom: 0px;
	margin-bottom: 0px;
}