/* ADDITIONAL STYLES from gnew.css, nb.css and new_styles.css - inserted by AOM 18-24 August 2010 */	
#activities {
border:0px solid #DDDDDD !important;
margin-bottom: 10px;
position: relative;
min-height: 20px;

}
.activity_more {
	margin-left: 28px;
	margin-bottom: 7px;
}
.activity_hidden {
	font-size: 0.8em;
	margin: 0px 0px 0px 12px;
	padding: 4px 0px 2px 0px;	
	letter-spacing: 0.5px;	
}
.activity_x {
	float: right;
	margin: 0px 4px 0px 2px;
}
.comment_x {
	position: relative;	
	float: right; 
	top: 2px;
	bottom: 4px;
	margin-right: 2px;
}
.x {
	font-size: 7px;
	font-weight: bold;
	position: relative;
	top: -1px;
	left: 3px;
}
.comment_x a, .endorsement_x a, .activity_x a {
	font-size: 0.9em;

.comment_list {
	padding: 2px 9px 15px 9px;
}
.comment_list_detail {
	padding: 2px 0px 0px 23px;
}
.comment_list_empty {
/*	padding: 0px 0px 0px 29px; */
	padding: 0px 0px 0px 0px;
}

.comment, .comment_endorses, .comment_opposes {
	padding: 2px 0px 0px 0px;
	margin-top: 1px;
}
.comment_more {
	padding: 3px 0px 3px 5px;
	margin-top: 1px;
}
.comment_endorses {
/*	border: 1px solid #ddd;*/
}

.comment_opposes {
	border: 1px solid #ddd;
}

.comment {
/*	border: 1px solid #ddd;*/
}

}

/* Rök */

/* Login box items */

.email input, .password input, .submit input
{
margin-top: 3px;
width: 120px; 
}

.submit input
{
margin-top: 3px;
width: 120px; 
}

.email, .password
{font-size:11px;}

<!-- OVERLAY -->

.flash_error, .flash_notice {
    width:100%;
    z-index:105;
    text-align:center;
    font-weight:bold;
	display: none;
	padding: 5px 0px 5px 0px;
}
.flash_error span, .flash_notice span {
    text-align: center;
    width: 95%;
	font-size: 1.3em;
	line-height: 1em;
}

.flash_error, #not_activated_header, #warning, .fieldWithErrors input, #errorExplanation h2 {
background-color:#ccc;
color:#333;
font-weight:bold;
border-left: 1px solid #eee;
border-top: 1px solid #eee;
border-right: 1px solid #eee;
}


#facebox .b {
  background:url(/facebox/b.png);
}

#facebox .tl {
  background:url(/facebox/tl.png);
}

#facebox .tr {
  background:url(/facebox/tr.png);
}

#facebox .bl {
  background:url(/facebox/bl.png);
}

#facebox .br {
  background:url(/facebox/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  background: #fff;
  width: 370px;
}
#facebox_content_body {
  padding: 10px 20px 5px 20px;	
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding: 5px 10px 0px 10px;
  margin-top: 10px;

  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}



/* END ADDITIONAL STYLES */	

