body
{
	background-color: #fff;
	background-image: url('img/bg-grey.jpg');
	background-repeat: repeat-x;
	font-family: "lucida grande", tahoma, arial, sans-serif; 
	font-size: 0.7em;
	padding: 0px;
	margin: 0px;
}
body
{
	text-align: center;
}
#container
{
	width: 770px;
	margin: 0 auto;
	text-align: left;
}
*
{
	margin: 0;
	padding: 0;
}
p
{
	margin: 0px;
}
td
{
	font-size: 0.7em;
}
a, a:visited
{
	color: #003399;
	text-decoration: none;
}
a:hover
{
	color: #3399ff;
	text-decoration: underline;
}
ul
{
	list-style-type: none;
}
h1
{
	font-size: 14px;
}
h2
{
	font-size: 13px;
/*	padding-left: 6px; */
	padding-top: 4px;
}
h3
{
	font-size: 12px;
}

.treaty_docs_popup h3
{
	margin-top: 10px;
}

.search_results h3
{
	padding-top: 5px;
}

h4
{
	font-size: 11px;
}

h4.samningskaflar
{
	margin-bottom: 10px !important;
}

h5
{
	font-size: 11px;
}
#wrapper
{
	width: 1000px;
	padding: 0px;
	margin: 0px auto;
	text-align: left;
}
#header
{
	width: 100%;
	height: 90px;
	background-image: url('img/top-banner.png');
	background-repeat: no-repeat;
}
#header-left
{
	position: absolute;
	z-index: 9999;
}
#header-left img
{
	border: none;
}
#header-right
{
	float: right;
	width: 200px;
	margin-top: 0px;
	padding-right: 20px;
}
#search
{
	float: right;
	margin: 45px 18px 0px 0px;
	margin-right: 10px !ie;
}
#search input.input
{
	height: 21px;
	margin-right: 2px;
	margin-top: 1px;
	padding: 2px 3px 0;
}
#search input.leita
{
	padding-left: 3px;
	padding-right: 5px;
	margin-top: 1px;
	height: 22px;
	height: 21px !ie;
}
#header-right p
{
	margin-bottom: 5px;
}
#leftCol
{
	width: 170px;
	float: left;
	margin-top: 35px;
}
#mainContent
{
	width: 600px;
	margin: 5px 0 0 10px;
	float: left;
	line-height: 150%;
	border: 1px solid #bcbcbc;
	border-left: 1px dashed #bcbcbc;
}
#mainContentExpanded
{
	width: 817px;
	margin: 5px 0 0 10px;
	float: left;
	line-height: 150%;
	border: 1px solid #bcbcbc;
	border-left: 1px dashed #bcbcbc;
}
#content
{
	margin-top: 5px;
	min-height: 590px;
	height: 590px !ie;
}
#rightCol
{
	width: 205px;
	float: left;
	margin: -12 0 0 5px;
}
#footer
{
	clear: both;
	width: 970px;
	margin: auto;
}
#footer-left
{
	padding-top: 5px;
	margin-left: 185px;
	margin-bottom: 20px;
}
#footer-right
{
	float: right;
	margin-right: 193px;
	margin-bottom: 20px;
	padding-top: 5px;
}
#footer-right a
{
	padding: 0 8px 0 8px;
}
#leftCol
{
}
#leftCol ul
{
	margin: 2px 0px 10px 0px;
	padding: 10px 0px;
}

#leftCol ul.action
{
	font-family: "lucida grande", arial, sans-serif; 
}
#leftCol ul.action li
{
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0 5px 15px;
	font-size: 12px;
	background-color: #f1f1f1;
	margin-bottom: 3px;
}
#leftCol ul.action li.active
{
	color: #fff;
	background-color: #005297;
	background-image: none;
	border-bottom:1px solid #003399;
	border-left:1px solid #0033CC;
	border-right:1px solid #0033CC;
}
#leftCol a
{
	color: #114170;
}
#leftCol li.active a
{
	color: #fff;
}
#rightCol h4
{
	margin: 0px;
	color: #666666;
}
#rightCol ul
{
	margin: 2px 0px 10px 0px;
	padding: 0px;
	font-size: 11px;
}
#rightCol ul li
{
	list-style-type: none;
}
#rightCol ul li img
{
	margin: 0px 0px 2px 0;
	vertical-align: middle;
}
#rightCol ul li.header
{
	font-weight: normal;
	color: #990000;
	margin-top: 12px;
	border-bottom: 1px solid #e2e2e2;
}
.chapter_sel
{
	background-image: url('img/chapter_sel.gif');
}
#rightCol ul li input
{
	margin: 0 2px 0 0px;
}
#rightCol .chapter_submit
{
	margin: 10px 0 0 0;
}
#tabs
{
	width: 602px;
	float: left;
	margin-left: 10px;
	padding-right: 2px !ie;
	height: 12px;
	margin-bottom: -5px !ie;
}
#empty
{
}
#tabs ul
{
	margin: 0px;
	padding: 0px;
	height: 12px;
}
#tabs ul li
{
	list-style-type: none;
	display: inline;
	height: 20px;
	padding: 4px 10px;
	background-color: #cccccc;
	background-image: url('img/menu_bg.gif');
	margin: 0px;
}
#tabs ul li.active
{
	color: #fff;
	background-color: #005297;
	background-image: none;
}
#tabs a
{
	color: #114170;
}
#tabs li.active a
{
	color: #fff;
}
#right_tabs li
{
	margin-left: 3px !important !ie;
}
#empty
{
}
#right_tabs
{
	float: right;
}
#left_tabs li
{
	margin-right: 3px !important;
}
#subCatName
{
	float: left;
	text-align: left;
	margin: 7px 5px 0 7px;
	font-weight: bold;
	color: #333;
}
#subfilters
{
	text-align: right;
	padding: 5px 10px 0 0;
}
#subfilters a, #subfilters b
{
	color: #999;
	margin-left: 5px;
	border-left: 1px solid #999;
	padding-left: 8px;
}
#subfilters b
{
	color: #666;
}
.entry_box
{
	min-height: 43px;
	height: 37px !ie;
	line-height: 150%;
	margin-bottom: 7px;
	padding: 15px 0 0px 15px;
	display: table;
	width: 584px;
}
.entry_box h4
{
	margin: 0px;
}
.entry_box h5
{
	width: 520px;
}
.entry_box img
{
	margin: 0px 5px 0px 0px;
}
.entry_profile
{
	color: #999;
	font-size: 11px;
}
.entry_profile b
{
	font-weight: normal;
}
.entry_icons
{
	float: right;
/*	margin-right: 4px;*/
}
.entry_icons img
{
	margin: 0 1px;
	padding: 0px;
	float: right;
}
.entry_cat
{
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	font-size: 10px;
}
.entry_profile
{
}
.comment_box
{
	background-color: #F1F1F1;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-bottom: 1px solid #E2E2E2;
	min-height: 34px;
	line-height: 120%;
	padding: 5px;
	display: table;
	width: 503px;
	width: 515px !ie;
	margin: 0px 5px 3px 69px;
	height: 34px !ie;
}

.comment_box p
{
	width: auto !important;
}

.comment_content_2 p
{
width:auto !important;

}

/* Chrome and Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.comment_box { width: 514px; }
}

.comment_box_samn
{
	border: 1px solid #cbd4d7;
	line-height: 120%;
	padding: 5px;
	margin: 0px 0px 10px 69px;
	width: 503px;
	width: 515px !ie;
}
.comment_box a:hover
{
	color: #1461ac;
}
.comment_profile
{
	margin: 0px 5px 0px 0px;
}
.comment_box img
{
	margin-right: 5px;
	border: none !Important;
}
.comment_report
{
	margin: 0px;
	float: right !important;
}
img.comment_report
{
	margin-right: 0px;
	float: right !important;
}

.comment_content b
{
	font-weight: normal;
}

.comment_content
{
	margin-left: 55px;
}

.comment_link_add, .small { font-size: 11px !important; }

.comment_content {
	padding: 0px 0px 0px 0px;
}
.comment_content p, .comment_endorses p, .entry_box div p
{
	font-size: 12px !important;
	overflow:hidden; 
	line-height: 140%;
/*	overflow:auto !ie; */
	width: 500px !ie;
	width: 510px; 
}

.activity {
font-size:11px !important;
}

div
{
}


.comment_more
{
/*	background-color: #e9eced;
	border-bottom: 1px solid #e2e2e2;
*/
	min-height: 14px;
	padding: 1px 4px 1px 6px;
	width: 14em;
	margin: 0px 0px 2px 60px;
	margin: 0px 0px 0px 65px !ie;
}
.comment_error
{
	display: none;
}
.new_comment
{

	margin-left: 58px;
	margin-left: 58px !ie;
}

.comment_hidden
{
background-color:#F1F1F1;
margin-bottom:7px;
margin-left:69px;
padding-left:6px;
width:509px;	
}

.comment_submit, #comment_submit
{
background-color: #E9ECED;
margin-top: 5px;	
height: 22px;
padding: 0px 2px;
/*
margin-right:5px;
margin-left: 469px;
*/
}

.new_comment_facebook
{
clear: all;
height: 30px;
width:515px;
width:518px !ie;
}

.birta_a_facebook
{
float: right;	
margin-top: 5px;
}


.birta_a_facebook input
{
	margin-left: 3px;
	border: 0px white none;
}

.birta_a_facebook span
{
margin-top: 13px;
}

.new_comment_facebook .senda
{
float:left;	
}
.readmore
{
	margin: 0 2px;
}
.answer_box
{
	padding-left: 11px;
	padding-bottom: 10px;
	clear:all;
}
input, textarea
{
	border: 1px solid #9da7c1;
/*	height: 18px; */
	padding: 3px;
	font-family: sans-serif;
	font-size: 13px;
}
#question_content, #priority_description
{
	height: 80px;
}
#document_content
{
	height: 380px;
}
.addContent_kaflar input
{
	border: none;
	float: left;
	clear: both;
	margin-top: 5px;
	margin-right: 2px;
	margin-right: 0px !ie;
	margin-top: auto !ie;
}
.addContent_kaflar
{
	width: 193px;
	float: left;
	font-size: 10px;
	line-height: 180%;
	height: 260px;
	height: auto !Ie;
}
.addContent_kaflar b
{
	font-size: 11px;
}
.annad
{
	float:right;
	height:70px;
	width:204px;
	margin-top:-38px;
	width:202px !ie;
	margin-top:0px !ie;
}

.NanariLysing
{
margin-top: 260px;
margin-top: 0px !ie;
}

.Chapter_name
{
	line-height: 200%;
}
.Tegund_Efnis
{
	clear: both !Important;
}
#input
{
	width: 150px;
}
.new_comment textarea
{
	width: 515px;
	height:22px;
	padding:2px 4px 1px 2px;

/*
width: 532px;
	width: 518px !ie;
*/
}
#person
{
}
.profile_image
{
	float: left;
	margin-right: 5px;
}
.profile_name
{
	margin-top: -2px;
}
.profile_info
{
}
.profile_login_name
{
	float: left;
	width: 60px;
	margin-top: 5px;
}
.profile_login_id
{
	float: left;
	width: 60px;
	margin-top: 5px;
}

.stillingar, .utskraning
{
		margin-top: 4px;
		font-size: 10px;
}

#settings
{
/*	clear: both;
	margin: 10px 0 0 0;
	height: 20px;
*/
}
.profile_edit img
{
	margin: 3px 0 0px 0px;
}

.profile_edit
{
/*float:left;*/
}

.profile_logout img
{
	margin: 2px 0 0 0px;
}
.profile_logout
{
/*float:left;*/
}

.profile_askrift
{
	margin-left: 15px;
}
.profile_actions
{
	width: 100px;
	float: right;
}
.actions_number
{
	float: left;
	background-color: #bc3022;
	color: #fff;
	width: 15px;
	margin-top: 2px;
	padding: 4px;
}
.actions_text
{
	margin-left: 30px;
	font-size: 10px;
}
.rss_box h4
{
	margin: 0px;
	color: #666666;
	padding: 0px;
}
.rss_box ul
{
	border-bottom: 1px solid #e9e9e9;
	margin: 0px;
	padding: 0px;
}
.rss_box li
{
	list-style-image: url('img/rss_list.gif');
	padding: 0px;
	margin-left: 12px;
	font-size: 10px;
}
.rss_more
{
	width: 100%;
	text-align: right;
}

#rss_feed
{
	float:right;
	margin-left:10px;
	margin-right:5px;
	margin-top:6px;
}

.left_box
{
	margin-bottom: 10px;
}
.left_box p
{
	margin: 5px 0px 0px 0px;
}
.left_box input
{
	margin-bottom: 4px;
}
#login
{
}
.login_field
{
	float: right;
	clear: both;
}
a.chapter_utan, a:visited.chapter_utan, li.chapter_utan
{
	color: #c57947;
	margin: 0 0 2px 0;
}
a.chapter_hluta, a:visited.chapter_hluta, li.chapter_hluta
{
	color: #ba8a28;
}
a.chapter_innan, a:visited.chapter_innan, li.chapter_innan
{
	color: #5b925d;
}
input.chapter
{
	margin: 0px 1px 0px 0px;
	padding: 0px;
}
#contentStatusLeft
{
	float: left;
	width: 250px;
}
#contentNav
{
}
#contentChapters
{
	margin-top: 20px;
	line-height: 120%;
}
#contentChapters div.selected
{
	background-color: #c7d8eb;
	width: 100%;
}
#contentStatusFrame
{
	width: 529px;
	margin-left: 250px;
	padding: 10px;
	border: 3px solid #c7d8eb;
	background-color: #e9eced;
}
.contentFrameCol
{
	float: left;
	width: 48%;
}
.contentFrameColRight
{
	margin-left: 50%;
	width: 50%;
}
.notify
{
	background-image: url('img/counter.gif');
	background-repeat: no-repeat;
	height: 18px;
	padding: 3px 0 0 3px;
}
.resize
{
	float: right;
}
.white
{
	color: #fff;
	margin-right: 5px;
}
.li-header-txt
{
	font-size: 10px;
	float: right;
}

#content h2, #mainContentExpanded h2
{
	font-size: 15px;
	margin-bottom: 5px;
	margin-left:10px;
	margin-top:5px;
}

#content form h2
{
	margin-left:0px;
}


#content h4
{
	margin: 0px;
	margin-left: 10px;
}

#content form h4
{
	margin-left: 0px;
}

#content h5
{
	font-size: 13px;
	margin: 0px;
}
#content .subtext
{
	font-size: 10px;
	margin-bottom: 15px;
}
.star
{
	color: #ff0000;
}
.match
{
	color: #c00;
}
.profile_image img
{
	border: 1px #669 solid;
	margin-top: 2px;
}
.profile_image
{
	border: none !Important;
}
.entry_box img, .comment_box img
{
	border: 1px #669 solid;
	float:left;
}
.entry_box span img
{
	border: none !Important;
}
.facebook_img
{
	padding: 3px 5px 5px 0;
	float: left;
}
.FB_profile_pic
{
	float: left;
	margin-right: 5px;
}
.addthis_toolbox
{
	width: 90px;
	height: 20px;
}

/* FF */
@-moz-document url-prefix() {
  .addthis_toolbox {
     padding-right:20px;
  }
}

/* Opera */
@media all and (min-width: 0px){
    .addthis_toolbox {padding-right:20px;}
}

.addthis_toolbox a
{
	float:right !important;
}

.pagination
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}
#Content p b
{
	font-weight: normal;
}
#activities b br
{
	display: none;
}
.merkt, .files_x1 , .files_x2, .files_x3, .files_x4
{
	width: 36px;
}
.tom
{
	width: 200px;
}
.merkt
{
	border: 1px solid #eee !important;
}
.files_x1
{
	background-color: #CCC !important;
}
.files_x2
{
	background-color: #999 !important;
}
.files_x3
{
	background-color: #666 !important;
}
.files_x4
{
	background-color: #444 !important;
}
.profile_image
{
	border: 1px #669 solid;
}
.priority_listing
{
	border-bottom: 1px solid #F1F1F1;
}
.point
{
	border-bottom: 1px solid #F1F1F1;
	padding-bottom: 3px;
	
/* Need to remove other margin/padding patches from various elements and apply this instead 	
	margin-left: 10px; 
	margin-right: 10px; 
*/
}

.activity_border
{
/*	border-bottom: 1px solid #F1F1F1; */
	padding-bottom: 3px;
}

.AllaKafla
{
	background-color: #CCCCCC;
	height: 15px;
	margin-bottom: 7px;
	margin-top: -16px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-top: 4px;
	width: 68px;
}
.AllaKafla a
{
}
input, textarea, #contacts, #contacts_small, .invite_text, .ac_results, .magnifier_wrap, .change_vote_now, .idleField
{
	background-color: #fff;
	border: 1px solid #DDDDDD;
}
.idleField_big
{
	background-color: #fff;
	border: 1px solid #DDDDDD;
	width: 574px;
	height: 120px;
	margin-bottom: 5px;
}

.fb_link img {
border:1px solid #666699;
float:left;
}

.facebook
{
/* float: right;	*/
padding-left: 55px;
}

.fb_profile_pic_rendered
{
float:left;
margin-right:7px;
margin-right:-3px !ie !important;
}

/*
label.error {
bottom:250px;
font-size:16px;
font-weight:bold;
margin-left:240px;
position:absolute;
vertical-align:top;
}
*/


.search_results #left
{
float:left;	
width: 600px;
padding-left: 10px;
}

.search_results #right
{
float:right;	
width: 200px;
}

.fb_button_small, .fb_button_small_rtl {
margin-top:4px;
}

#question_form .description, #question_form h3, #priority_form .description, #priority_form h3, #document_form .description, #document_form h3
{
display: none;	
}


#question_name, #priority_name, #document_name
{
	margin-bottom: 10px;
	margin-top: 3px;
}


.warning_inline
{
	background-color: #ff7777;
	min-height: 14px;
	padding: 1px 4px 2px 6px;
	margin: 10px 0px 8px 70px;
	width: 504px;
	border-bottom: 1px solid #e2e2e2;
	margin: 0px 0px 8px 69px !ie;
	width: 515px !ie;
}

#document_form, #question_form, #priority_form, .edit_question
{
margin-left: 10px;	
}


#document_form #submit, #question_form #submit, #priority_form #submit
{
margin-bottom: 10px;	
height: 22px;
background-color:#E9ECED;
font-weight: bold;
}

#treaty_documents
{
		margin-left: 10px;
}

#treaty_documents td.merkt a 
{
	display: block; 
	width: 100%; 
	text-align:center;
}

.treaty_docs_popup
{
text-align: left;
font-size:12px;
line-height:140%;
}

.treaty_docs_popup a, .treaty_docs_popup a:visited 
{
color:#003399 !important;
}

.treaty_docs_popup h4
{
margin-top: 10px;
}

.treaty_docs_popup .left
{
width: 400px;
float: left;
}

.treaty_docs_popup .right
{
width: 450px;
float: right;
}

.treaty_docs_popup ul
{
list-style-type: disc;
margin-left: 15px;
}

.treaty_docs_newest ul
{
list-style-type: disc;
margin-left: 30px;
}

div
{
/*	border: 1px solid #55f !important;	*/
}

.stage_box_identifier {
  border: 1px solid #44a !important;	
}

.allar_frettir
{
margin-top: 10px;	
}
	
.edit_user
{
		margin-left: 10px;
}

.askrift input, .annad input
{
		border: 0px none #fff;
}

.askrift #user_submit
{
	background-color:#E9ECED;
	font-weight:bold;
	height:22px;
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #DDDDDD;
}