
/* 		Dagný Reykjalín - dagny@blekhonnun.is */

*
{
padding: 0; 
margin: 0;
}
	
/*NÝTT 30 ágúst*/

/*     Main 			*/

body  	{			background-color:#fff; background-image: url('img/bg-grey.jpg'); background-repeat: repeat-x;
					font-family: "Lucida Grande", Arial, Helvetica, sans-serif; font-size: 0.7em; 
					padding:0px; margin:0px; 
					 }
p {					margin:0px; }

a, a:visited {					color: #003399; text-decoration:none; }

a:hover {			color: #3399ff; text-decoration:underline; }

img { border: 0;}

/*		Structure ID's 	*/

#wrapper  {			width: 980px; padding:0px; margin:0px auto;  }

/*		Header */
#header  {			width: 100%; height: 90px;
					background-image: url('img/top-banner.jpg'); background-repeat: no-repeat;  	}
#search {			float:right; margin:45px 15px 0px 0px;  }


.header {			font-size:110%; }
#header-right {		float:right; width: 175px; margin-top: 0px;   }
#header-right p {	margin-bottom: 5px; }					
					
					
					
#leftCol {			width: 170px; float:left; margin-top: 35px;   }


#mainContent {		width: 600px;  margin: 5px 0 0 15px;
					float:left; line-height:150%; 
					border: 1px solid #bcbcbc; border-left: 1px dashed #bcbcbc;  }
					
#content {			padding:5px; margin-top:10px;  }
					
					
					/* Content boxiÃ°*/

#rightCol {			width: 175px; float:left; margin-left: 15px;   }
					
#footer {			clear:both; width:980px;  margin: auto;    }
#footer-left {		padding-top:5px; margin-left: 185px; margin-bottom:20px;}
#footer-right {		float:right; margin-right:190px;  margin-bottom:20px; padding-top:5px;}
 
 
/* 		Text				*/

#leftcol {			  }
#leftcol ul {		margin:2px 0px 10px 0px; padding:10px 0px; }
#leftcol ul.action li {	list-style-type: none; border-bottom: 1px solid #f1f1f1; padding: 5px 0; }

#rightcol ul {		margin:2px 0px 10px 0px; padding:2px 0px; font-size:9px; }
#rightcol ul li {	list-style-type: none; border-bottom: 1px solid #f1f1f1; padding: 2px 0; }
#rightcol ul li.header {	font-weight: bold; color: #999999; margin-top:12px;
					border-bottom: 1px solid #e2e2e2;}
#rightcol h4 {		margin:10px 0 0 0; color: #666666; }
#tabs {				width:602px; float:left; margin-left: 15px; }
#tabs ul {			margin:0px; padding:0px; }
#tabs ul li {		list-style-type:none; display:inline; padding:5px; background-color: #cccccc; background-image:url('img/menu_bg.gif'); margin:0px; }
#tabs ul li.active {	color:#fff; background-color:#005297; background-image: none; }
#tabs a {			color:#114170}
#tabs li.active a {	color:#fff; }
#right_tabs {		float:right; }

/*		Subfilters				*/
#subfilters {		width: 590px; text-align:right; padding: 5px 10px 0 0;  }
#subfilters a {		color: #999; margin-left: 5px; border-left:1px solid #999; padding-left: 8px;  }
#subfilters a:hover {	color: #3399ff; text-decoration:underline; }

/*		Entries				*/
.entry_box {		line-height: 120%; margin-bottom: 5px; padding:10px 0; border-top: 1px solid #f1f1f1;   }
.entry_box h4 {		margin:0px; }
.entry_profile {	color:#999; }
.entry_icons {		float:right; margin-right:10px;  }


.comment_box {		background-color: #e9eced; line-height: 120%; padding:5px 5px 5px 15px; margin-bottom: 10px;  }
.comment_box img {	border: 1px solid #c0c9cd; }
.comment_box a:hover {	color: #1461ac;  }

.readmore {			margin: 0 2px;  }

.answer_box {		margin-left: 50px; }
.answer_box input {	border: 1px solid #9da7c1;  }

/*		Profile box				*/

#input {		width:150px; }
#person {			 }
	.profile_image {	float:left; margin-right:5px; }
	.profile_name {		 }
	.profile_info {		}

	
	
#settings {			clear:both; margin: 10px 0 0 0; }
	.profile_edit img{			margin:5px 0 0 5px; }
	.profile_logout img {		margin:5px 0 0 5px; }

	.profile_actions {	width:100px; float:right;  }
	.actions_number {	float: left;background-color: #bc3022; color: #fff; width: 15px; margin-top:2px;   padding:4px;  }
	.actions_text {		margin-left: 30px;  font-size: 85%; }
	
/*		RSS feed boxes			*/
	
.left_box h4 {		margin:10px 0 0 0; color: #666666; }
.left_box ul {		border-bottom: 1px solid #e9e9e9;}		
.left_box li {		list-style-type:none; padding: 0px; margin: 0 0 0 5px; font-size: 90%; }
	
#login {	}
	
	
	
/*		Chapters - right column			*/
	
a.chapter_utan, li.chapter_utan {		color: #297dc3;} /* Blue */
a.chapter_hluta, li.chapter_hluta {		color: #ac8e00;} /* Yellow */
a.chapter_innan,  li.chapter_innan {		color: #337f0d;} /* Green */
	
input.chapter {		margin:0px 1px 0px 0px; padding:0px; }	
	
/*		Other Classes				*/

.notify {			background-image: url('img/counter.gif'); background-repeat: no-repeat; height:18px;
					padding:3px 0 0 3px; }
.resize {			float:right;  }					
.white {			color:#fff; margin-right:5px;  }
.li-header-txt {	font-size: 90%; float:right; }




/* ADDITIONAL STYLES from gnew.css, nb.css and new_styles.css - inserted by AOM 18-24 August 2010 */	
#activities {
border:0px solid #DDDDDD !important;
margin-bottom: 10px;
position: relative;
right: 6px;
min-height: 20px;

}
.activity_more {
	margin-left: 28px;
	margin-bottom: 7px;
}
.activity_hidden {
	font-size: 0.8em;
	margin: 0px 0px 0px 12px;
	padding: 4px 0px 2px 0px;	
	letter-spacing: 0.5px;	
}
.activity_x {
	float: right;
	margin: 0px 4px 0px 2px;
}
.comment_x {
	position: relative;	
	float: right; 
	top: 2px;
	bottom: 4px;
	margin-right: 2px;
}
.x {
	font-size: 7px;
	font-weight: bold;
	position: relative;
	top: -1px;
	left: 3px;
}
.comment_x a, .endorsement_x a, .activity_x a {
	font-size: 0.9em;

.comment_list {
	padding: 2px 9px 15px 9px;
}
.comment_list_detail {
	padding: 2px 0px 0px 23px;
}
.comment_list_empty {
	padding: 0px 0px 0px 29px;
}

.comment, .comment_endorses, .comment_opposes {
	padding: 2px 0px 0px 5px;
	margin-top: 1px;
}
.comment_more {
	padding: 3px 0px 3px 5px;
	margin-top: 1px;
}
.comment_endorses {
	border: 1px solid #ddd;
}

.comment_opposes {
	border: 1px solid #ddd;
}

.comment {
	border: 1px solid #ddd;
}

}

/* Rök og drasl */
.comment_link_add, .small { font-size: 11px !important; }

.comment_content {
	padding: 0px 10px 0px 0px;
	overflow:hidden; 
}
.comment_content p {
font-size: 12px !important;
}

.activity {
font-size:11px !important;
}


/* Login box items */

.email input, .password input, .submit input
{
margin-top: 3px;
width: 80px; 
}

.submit input
{
margin-top: 3px;
width: 120px; 
}

.email, .password
{font-size:11px;}

/* END ADDITIONAL STYLES */	


/*		Classes				*/



.Notify {			background-image: url('img/counter.gif'); background-repeat: no-repeat; height:18px;
					padding:3px 0 0 3px; }
.Resize {			float:right;  }					
.White {			color:#fff; margin-right:5px;  }
.li-header-txt {	font-size: 90%; float:right; }					