
/* 		Dagny Reykjalin - dagny@blekhonnun.is */


/* 		Main 			*/

body  	{			background-color:#fff; background-image: url('img/bg-grey.jpg'); background-repeat: repeat-x;
					font-family: "Lucida Grande", Arial, Helvetica, sans-serif; font-size: 0.7em; 
					padding:0px; margin:0px; 
					 }
					 
body {
text-align: center
}

#container {
width: 770px;
margin: 0 auto;
text-align: left
}					 

*		 { 			margin:0; padding:0; }
p {					margin:0px; }
td {					font-size: 0.7em;; }

a, a:visited {		color: #003399; text-decoration:none; }

a:hover {			color: #3399ff; text-decoration:underline; }

/*		Global 	*/
ul {	list-style-type: none; }

h1 {				font-size: 14px;  }
h2 {				font-size: 13px;  }
h3 {				font-size: 12px;  }
h4 {				font-size: 11px;  }
h5 {				font-size: 11px;  }

/*		Structure ID's 	*/

#wrapper  {
 width: 1000px; padding:0px; margin:0px auto; text-align: left;
}

/*		Header */
#header  {			width: 100%; height: 90px;
					background-image: url('img/top-banner.jpg'); background-repeat: no-repeat;  	}
#search {			float:right; margin:45px 18px 0px 0px; margin-right: 10px !ie;  }
#search input.input {			height: 21px;  margin-right: 2px; margin-top: 1px; padding: 2px 3px 0;} 
#search input.leita {			height: 18px;  padding-left: 3px; padding-right: 5px;}

#header-right {		float:right; width: 200px; margin-top: 0px; padding-right:20px;    }
#header-right p {	margin-bottom: 5px; }					
					
					
					
#leftCol {			width: 170px; float:left; margin-top: 35px;   }


#mainContent {		width:600px;  margin: 5px 0 0 10px;
					float:left; line-height:150%; 
					border: 1px solid #bcbcbc; border-left: 1px dashed #bcbcbc;  }

#mainContentExpanded {		width: 817px;
					 margin: 5px 0 0 10px;
					float:left; line-height:150%; 
					border: 1px solid #bcbcbc; border-left: 1px dashed #bcbcbc; }

					
#content {			padding:5px; margin-top:25px;  }
					
					
					/* Content boxið*/

#rightCol {			width: 205px; float:left; margin:  0 0 0 5px;   }
					
#footer {			clear:both; width:970px;  margin: auto;    }
#footer-left {		padding-top:5px; margin-left: 185px; margin-bottom:20px;}
#footer-right {		float:right; margin-right:193px;  margin-bottom:20px; padding-top:5px;} 
#footer-right a {	padding: 0 8px 0 8px;} 
 

 
/* 		Text				*/

#leftCol {			  }
#leftCol ul {		margin:2px 0px 10px 0px; padding:10px 0px; }
#leftCol ul.action li {	border-left:1px solid #ECECEC; border-right:1px solid #ECECEC; border-bottom: 1px solid #e2e2e2; padding: 4px 0 5px 15px; font-size: 12px;  background-color: #f1f1f1; margin-bottom:3px; }

#rightCol h4 {		margin:0px; color: #666666; }
#rightCol ul {		margin:2px 0px 10px 0px; padding:0px; font-size:11px; }
#rightCol ul li {	list-style-type: none; }
#rightCol ul li img {	margin:0px 2px 2px 0; vertical-align: middle;}
#rightCol ul li.header {	font-weight: normal; color: #990000; margin-top:12px; border-bottom: 1px solid #e2e2e2;}
.chapter_sel {	 background-image:url('img/chapter_sel.gif'); }
#rightCol ul li input {	margin:0 2px 0 0px;  }
#rightCol .chapter_submit {		margin: 10px 0 0 0;  }



#tabs {				width:602px; float:left; margin-left: 10px; padding-right: 2px !ie; height:12px; margin-bottom: -5px !ie;}
#tabs ul {			margin:0px; padding:0px; height:12px; }
#tabs ul li {		list-style-type:none; display:inline; height:20px; padding:4px 10px; background-color: #cccccc; background-image:url('img/menu_bg.gif'); margin:0px; }
#tabs ul li.active {	color:#fff; background-color:#005297; background-image: none; }
#tabs a {			color:#114170}
#tabs li.active a {	color:#fff; }
#right_tabs li {		margin-left: 3px !important !ie ;}
#empty {}
#right_tabs  {		float:right;}
#left_tabs li {		margin-right: 3px !important;}

/*		Subfilters				*/
#subCatName {		float:left; text-align:left; margin:7px 5px 0 7px; font-weight: bold;  color: #333;   }

#subfilters {		text-align:right; padding: 5px 10px 0 0;  }
#subfilters a {		color: #999; margin-left: 5px; border-left:1px solid #999; padding-left: 8px;  }
#subfilters a:hover {	color: #3399ff; text-decoration:underline; }

/*		Entries				*/
.entry_box {		min-height: 43px; height: 37px !ie; line-height: 150%; margin-bottom: 5px; padding:10px 0 10px 6px; border-top: 1px solid #f1f1f1;   }
.entry_box h4 {		margin:0px;}
.entry_box img {	margin: 0px 5px 0px 0px; }
.entry_profile {	color:#999; font-size: 11px;}
.entry_icons {		float:right; margin-right:4px;  }
.entry_icons img {	margin:0 1px; padding:0px;  }
.entry_cat {		font-weight: bold; color: #999; text-transform: uppercase; font-size: 10px;  }
.entry_profile {	 }

.comment_box {		background-color: #F1F1F1; border-left:1px solid #ECECEC; border-right:1px solid #ECECEC;  border-bottom:1px solid #E2E2E2; min-height: 34px; line-height: 120%; padding:5px; margin: 0px 5px 10px 10px; height: 34px !ie;}
.comment_box_samn {	border:1px solid #cbd4d7; line-height: 120%; padding:5px; margin: 0px 5px 10px 10px; }
.comment_box a:hover {	color: #1461ac;  }
.comment_profile {	margin: 0px 5px 0px 0px;}
.comment_box img {	margin-right:5px;}
.comment_report {	margin:0px; right; }

.comment_more {		background-color: #e9eced; min-height: 14px; padding:1px 4px 2px 6px; margin: 0px 0px 8px 10px; width: 14em;border-bottom: 1px solid #e2e2e2;}

.comment_error { display:none; }

.readmore {			margin: 0 2px;  }

.answer_box {		margin-left: 10px; padding-bottom: 10px;  }

input, textarea {	border: 1px solid #9da7c1; height:18px; padding:0px 5px;   }

#question_content, #priority_description { height: 80px;}
#document_content { height: 380px;}

.addContent_kaflar input {	border: none; float: left; clear: both; margin-top: 2px;}

.addContent_kaflar {	width:193px; float:left; font-size: 10px; line-height: 180%; height: auto;}

.addContent_kaflar b{ font-size: 11px; font-weight: normal;}

.Chapter_name { line-height: 200%;}

.Tegund_Efnis { clear: both !Important;}

/*		Profile box				*/

#input {		width:150px; }
.new_comment textarea { width: 402px;}

#person {			 }
	.profile_image {	float:left; margin-right:5px; }
	.profile_name {		 }
	.profile_info {		}
	.profile_login_name {	float:left; width:60px; margin-top:5px;  }
	.profile_login_id {		float:left; width:60px; margin-top:5px; }

	
	
#settings {			clear:both; margin: 10px 0 0 0; }
	.profile_edit img{			margin:5px 0 0 0px; }
	.profile_logout img {		margin:5px 0 0 3px; }

	.profile_askrift {	margin-left: 15px; }
	.profile_actions {	width:100px; float:right;  }
	.actions_number {	float: left;background-color: #bc3022; color: #fff; width: 15px; margin-top:2px; padding:4px;  }
	.actions_text {		margin-left: 30px;  font-size: 10px; }
	
/*		RSS feed boxes			*/
	
.rss_box h4 {		margin:0px; color: #666666; padding:0px;  }
.rss_box ul {		border-bottom: 1px solid #e9e9e9; margin:0px; padding:0px; }		
.rss_box li {		list-style-image:url('img/rss_list.gif'); padding: 0px; margin-left: 12px; font-size: 10px; }
.rss_more {			width: 100%; text-align:right;  }

.left_box {			margin-bottom: 10px;}
.left_box p {		margin: 5px 0px 0px 0px;  }	
.left_box input {	margin-bottom: 4px; 	}


#login {	}
.login_field {		float:right; clear:both;  }	
	
	
/*		Chapters - right column			*/
	
a.chapter_utan, a:visited.chapter_utan, li.chapter_utan {		color: #c57947; margin: 0 0 2px 0} /* Red */
a.chapter_hluta, a:visited.chapter_hluta, li.chapter_hluta {		color: #c39a44;} /* Yellow */
a.chapter_innan,  a:visited.chapter_innan, li.chapter_innan {		color: #5b925d;} /* Green */
	
input.chapter {		margin:0px 1px 0px 0px; padding:0px; }	
	
/*		Other Classes				*/

.notify {			background-image: url('img/counter.gif'); background-repeat: no-repeat; height:18px;
					padding:3px 0 0 3px; }
.resize {			float:right;  }					
.white {			color:#fff; margin-right:5px;  }
.li-header-txt {	font-size: 10px; float:right; }



#content h2	 {		font-size:15px; margin-bottom:5px;  }
#content h4	 {		font-size:13px; margin:0px;  }
#content h5	 {		font-size:13px; margin:0px;  }
#content .subtext {	font-size: 10px; margin-bottom: 15px;   }
.star {				color:#ff0000;  }
					
.match { color:#c00;}

.profile_image img { border: 1px #669 solid; }
.profile_image {border: none !Important;}
.entry_box img, .comment_box img { border: 1px #669 solid; }
.entry_box span img { border: none !Important; }
.facebook_img { padding: 3px 5px 5px 0; float: left;}
