* 
{
padding: 0;
margin: 0;
}

body 
{
background-color: #fff;
margin-top: 5px;
font-family: sans-serif;
}

div  h3, div h2, div p
{
color: #333;
}

p 
{
padding-bottom: 2px;
padding-top: 4px;
line-height: 130%;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:11px;
color: #333333; /* don't use just black, it won't look good */
}

div.einkunn 
{
float: left;
padding-left: 3px;
padding-top: 8px;
padding-right: 3px;
}

div.facebook 
{
float: left;
padding-left: 3px;
padding-top: 8px;
padding-right: 6px;
}

div 
{
background-color: #fff;
}

span.nytt
{
float: right;
padding-right: 5px;
padding-top: 5px;
font-size: 0.7em; 
}


span.letur
{
float: right;
padding-right: 10px;
padding-top: 10px;
font-size: 2em; 
}


h2
{
font-size: 1.3em;
border-bottom:1px solid #CCCCCC;
font-weight:bold;
padding-top: 15px;
padding-bottom: 5px;
margin-right: 23px;
}

h3 
{
font-size: 0.8em;
height: 1.5em;
border-bottom:1px solid #CCCCCC;
font-weight:bold;
padding-top: 15px;
display:block;
margin:0;	
}

h4 
{
font-size: 0.8em;
height: 1.5em;
border-bottom:1px solid #CCCCCC;
font-weight:bold;
padding-top: 15px;
display:block;
margin:0;	
}


a 
{
text-decoration: none;
border-bottom: 1px dotted #f66;
padding-bottom: 0px;
color: #333;
}

 .Undirhaus .Nedan_linu
 {
color: gray;
margin: 3px 0 3px 5px;
font-size:10px;
font-weight:normal;
padding:0;
text-align: right;
 }
 
#VinstriUppi 
{
}

#Haus, #Undirhaus, #Ja, #Nei, #SkilaAudu 
{
background-color: #FFF;
}

.Atkvaedi img
{
margin-top: 16px;
margin-left: 7px;
padding-bottom: 7px;
}

.Atkvaedi
{
background-color: #FFF !important;
}

/* Leidakerfi */

.Leidakerfi li
{
list-style: none;
}
 
.Leidakerfi li 
{
border-bottom: 1px solid #ccc;
width: 130px;
padding-top: 1px;
padding-bottom: 1px;
}

.Leidakerfi li li
{
border-bottom: none;
width: 130px;
margin-left: 10px;
}

.Leidakerfi a 
{
font-size: 0.8em;
border-bottom: none;
display: block;
padding: 2px 3px;
text-decoration: none; 
width: 124px;
}
 
.Leidakerfi a:hover 
{
background: #dda;
color: #fff;
text-decoration: none; 
}
   
.Leidakerfi li li a:hover 
{
width: 114px;
}

.Leidakerfi .valin 
{
background: #dda;
color: #000;
font-weight: bold;
}

.atridi {
clear:both;
}

.container_12 {
	clear:both;
}