<% if notification.notifiable.unread? %>
<img src="/images/icons/email.png" height="16" width="16" border="0" class="notification_icon">
<% else %>
<img src="/images/icons/email_open.png" height="16" width="16" border="0" class="notification_icon">
<% end %>
<%= tr("{sender_name} sent you a <a href='{message_url}'>private message</a>", "view/notifications/_notificationmessage", :sender_name => link_to(notification.sender.name, notification.sender), :message_url => user_messages_url(notification.sender)) %>
