<% if user.has_picture? %>
	<!-- <a href="<%= url_for user %>">-->
	<%= image_tag user.buddy_icon.url(:icon_48), :size => "35x35", :border => 0, :align => "left" %>
	<!-- </a> -->
<% elsif current_user.facebook_id %>
     <%= fb_profile_pic current_user,:facebook_logo=>false,:height=>"35",:width=>"35"%>
<% else %>
	<%= image_tag "profile_default.png", :size => "35x35", :border => 0, :align => "left" %>
	<%#= image_tag current_government.buddy_icon.url(:icon_35), :size => "35x35", :border => 0, :align => "left" %>
<% end %>