<p><%= tr("Sign up below to set your own priorities for Your Priorities.  You'll get your own page, which you can send to friends and colleagues urging them to sign on to support your priorities.", "view/users/new")%></p>

<%= render :partial => "form_long" %>
<%= render :partial => "rules_info" %>
