<p><%= tr("Sign up below to set your own priorities for {government_name}.  You'll get your own page, which you can send to friends and colleagues urging them to sign on to support your priorities.", "view/users/new", :government_name => tr(current_government.name,"Name from database"))%></p>

<%= render :partial => "form_long" %>
<%= render :partial => "rules_info" %>
