<p><div class="heading"><%= t('revisions.title')%></div>
<% for revision in @question.revisions.by_recently_created %>

		<%= render :partial => "users/pic", :locals => {:user => revision.user}%>
		<% if revision.user.status == 'suspended' or revision.user.status == 'deleted' %><strike><% end %>
		<%= link_to_unless_current t('revisions.user', :user_name => revision.user.name), question_revision_url(@question,revision) %>
		<% if revision.user.status == 'suspended' or revision.user.status == 'deleted' %></strike><% end %>		
		<div class="profile_small"><%= time_ago(revision.created_at) %></div>
<p>	
<% end %>