			<!-- Fótur síðunnar -->
			<div id="Footer">
				<div id="footer-right">  
					<%= link_to( t('esb.footer.rules.label'),{:controller=>"home", :action=>"rules"}, :title => t('esb.footer.rules.mouseover'), :alt => t('esb.footer.rules.mouseover') ) %> |
					<%= link_to( t('esb.footer.about.label'), {:controller=>"home", :action=>"about"}, :title => t('esb.footer.about.mouseover'), :alt => t('esb.footer.about.mouseover') )  %> |
					<%= link_to( t('esb.footer.help.label'), {:controller=>"home", :action=>"help"}, :title => t('esb.footer.help.mouseover'), :alt => t('esb.footer.help.mouseover') )  %> |
					<a href="http://www.utanrikisraduneyti.is/" title="Tengill á vef utanríkisráðuneytisins" alt="Tengill á vef utanríkisráðuneytisins">Utanríkisráðuneytið</a> |
					<a href="mailto:utn@utn.is" title="Sendu póst á umsjónarmann síðunnar" alt="Sendu póst á umsjónarmann síðunnar">utn@utn.is</a>
				</div> 
            </div>
            <div id="Footer-left">
            </div>
			