			<!-- Fótur síðunnar -->
			<div id="Footer">
				<div id="footer-right">  
					<%= link_to "Reglur", :controller=>"home", :action=>"rules" %> |
					<%= link_to "Um vefinn", :controller=>"home", :action=>"about" %> |
					<%= link_to "Hjálp", :controller=>"home", :action=>"help" %> |
					<a href="http://www.utanrikisraduneyti.is/">Utanríkisráðuneytið</a> |
					<a href="mailto:utn@utn.is">utn@utn.is</a>
				</div> 
            </div>
            <div id="Footer-left">
            </div>
			