<% unless current_facebook_user %>
  	<%= fb_login_and_redirect "/", :text=>"Samtengja", :size=>"small", :title=> "Samtengja við Facebook", :perms=>"publish_stream"%>
	<% unless current_user.buddy_icon %>
	eða <a href="/settings/picture">settu inn mynd</a> af þér.
 	<% end %>
<% end %>
</div>