<div class="left_box">
<% if current_facebook_user %>
	<%= fb_logout_link("Aftengjast Facebook", "/disable_facebook") %>
<% else %>
  	<%= fb_login_and_redirect "/", :perms=>"publish_stream"%>
	Tengdu við Facebook
	<% unless current_user.buddy_icon %>
	eða <a href="/settings/picture">settu inn mynd</a> af þér.
 	<% end %>
<% end %>
</div>