<% if current_facebook_user -%>
<div id="fb_activity_feed" style="margin-top: 5px;">
<fb:activity site="<%=request.host%>" width="218" height="300" header="false" font="tahoma" border_color="#eee" recommendations="false"></fb:activity>
</div>
<% end %>
