<div id="footer_container" align="center">
<div id="footer">


<p>
Mennta- og menningarmálaráðuneytið - Sölvhólsgötu 4 - 150 Reykjavík - <a href="http://raduneyti.is/Stadsetning/nr/147"> Sjá kort </a>
</p>

<p>
Sími 545 9500 - Bréfasími 562 3068 - Kt.: 460269-2969 - Netfang: <a href="mailto:postur@mrn.is">postur@mrn.is</a>
</p>

<p>
<a href="http://forgangur.frodi.is/about/rules">Reglur og nánari upplýsingar.</a>
</p>

</div>
</div>