<div id="footer_container" align="center">
<div id="footer">


<p>
<a href="/">Forgangsröðunarkerfi verkefna</a> er unnið af <a href="http://ibuar.is/">sjálfseignarstofnuninni Íbúar.is</a> fyrir <a href="http://www.menntamalaraduneyti.is/">Mennta- og menningarmálaráðuneytið</a> og byggir á <a href="http://rbjarnason.github.com/open-direct-democracy/">Opna lýðræðiskerfinu</a>.
</p>
<p>
<a href="/about/rules">Reglur og nánari upplýsingar</a>. Athugasemdir sendist til <a href="mailto:tryggvi.bjorgvinsson@mrn.is">umsjónarmanns</a>.
</p>
</div>
</div>