<p><%=tr("The website is not open for in your country except if you have a login registered in this country. If you are abroad and need access to the website please have a local person sign up for you and send you the access.","views/hared/_login")%></p>
