<div class="left_box">
</div>
<div id="login">
	
	<div class="left_box">
<p>„Meiri hlutinn leggur áherslu á mikilvægi þess
að ferlið sem sett verður upp í tengslum við
aðildarviðræður verði eins gegnsætt og kostur
er...“
</p>

<p>Úr áliti meirihluta utanríkismálanefndar Alþingis</p>

<!-- Kynntu þér samningaviðræður Íslands og ESB og taktu virkan þátt. <a href="/home/about">Lesa meira...</a>	-->
<!--		<%= t('esb.intro') %> -->
	</div>
	<div class="login">
	<%= link_to image_tag("login_island.png", :border => 0, :class => 'login_island', :align => 'left', :title => t('esb.login.island_is.mouseover'), :alt => t('esb.login.island_is.mouseover') ), "/sessions/login_to_rsk_auth" %><%= link_to image_tag("login_hjalp.png", :border => 0, :class => 'login_hjalp', :title => t('esb.footer.help.mouseover'), :alt => t('esb.footer.help.mouseover') ), "/home/help"%>
	</div>
	
</div>


