<div class="left_box">
</div>
<div id="login">
	
	<div class="left_box">
		<%= t('esb.intro') %>
	</div>
	
	<%= link_to image_tag("login_island.jpg", :border => 0), "/sessions/login_to_rsk_auth"%>
</div>