<div class="left_box">
</div>
<div id="login">
	
	<div class="left_box">
Hér birtast gögn samningaviðræðna Íslands um aðild að ESB þar sem hægt er að spyrja spurninga, taka þátt í umræðum og senda erindi til samninganefndar Íslands. <a href="/home/about">Lesa meira...</a>	
<!--		<%= t('esb.intro') %> -->
	</div>
	
	<%= link_to image_tag("login_island.png", :border => 0), "/sessions/login_to_rsk_auth"%>
</div>