<div class="left_box">
</div>
<div id="login">
	
	<div class="left_box">
Kynntu þér samningaviðræður Íslands og ESB og taktu virkan þátt. <a href="/home/about">Lesa meira...</a>	
<!--		<%= t('esb.intro') %> -->
	</div>
	<div class="login">
	<%= link_to image_tag("login_island.png", :border => 0, :align => 'left', :title => t('esb.login.island_is.mouseover'), :alt => t('esb.login.island_is.mouseover') ), "/sessions/login_to_rsk_auth" %><%= link_to image_tag("login_hjalp.png", :border => 0, :title => t('esb.footer.help.mouseover'), :alt => t('esb.footer.help.mouseover') ), "/home/help"%>
	</div>
</div>
