<% if logged_in? %>

	<% if current_user.unread_notifications_count > 0 %>
		<% @unread = current_user.received_notifications.unread.count(:group => [:type], :order => "count_all desc") %>
		<% if @unread.any? %>
			<div id="notification_box">
				<span class="notification_sentence">
					<%= notifications_sentence(@unread) %>
				</span>.
			</div>
		<% end %>
	<% end %>	
<% end %>

