<% if @shown_welcome -%>
<div id="welcome_sidebar">

	<div id="welcome_sidebar_video">
<object width="170" height="121"><param name="movie" value="http://www.youtube.com/v/I5T4JskYzuQ?fs=1&autoplay=0&rel=0&fs=1&color1=0xF1F1F1&color2=0xf1f1f1&border=0&loop=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/I5T4JskYzuQ?fs=1&autoplay=0&rel=0&fs=1&color1=0xF1F1F1&color2=0xf1f1f1&border=0&loop=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="170" height="121"></embed></object>

	</div>

</div>
<% end %>