<% unless @shown_welcome -%>
<div id="welcome_video">
  <table>
  	<tr>
  		<td width="50%">
  			Hér getur þú kynnt þér samningaviðræður Íslands og ESB, spurt spurninga, 
			tekið þátt í umræðum og sent erindi til samninganefndar. Öll gögn málsins 
			eru flokkuð eftir samningsköflum og staða viðræðna uppfærð reglulega.
  		</td>
		<td width="50%" align="center">
			VIDEO
		</td>
  	</tr>
  </table>
</div>
<% end %>