<% if @shown_welcome -%>
<div id="welcome_sidebar">

	<div id="welcome_sidebar_video">
<!--
<object width="170" height="121"><param name="movie" value="http://www.youtube.com/v/M-FuwUjqtbw?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/M-FuwUjqtbw?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="170" height="121" color2="ff0000"></embed></object>
-->

<object width="170" height="121"><param name="movie" value="https://www.youtube.com/v/M-FuwUjqtbw&autoplay=0&rel=0&fs=1&color1=0xFFFFFF&color2=0xFFFFFF&border=0&loop=0"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/M-FuwUjqtbw&autoplay=0&rel=0&fs=1&color1=0xFFFFFF&color2=0xFFFFFF&border=0&loop=0" type="application/x-shockwave-flash" allowfullscreen="true" width="170" height="121" wmode="opaque"></embed></object>
	</div>

</div>
<% end %>