<% unless @shown_welcome -%>
<div id="welcome">

	<div id="welcome_text">
	<p>
		Hér getur þú kynnt þér samningaviðræður
		Íslands og ESB. Lestu spurningar og
		svör, skoðaðu umræður og sjáðu erindi
		til samninganefndar Íslands. Smelltu á
		samningskafla til að sjá innsent efni og svör
		sérfræðinga eftir málaflokkum.
	</p>
	<p>
		Með því að smella á <img src="/images/esb_chapter_info.gif" />
		getur þú skoðað gögn
		flokkuð eftir samningsköflum. Staða viðræðna
		er uppfærð reglulega og þú getur líka fengið
		tilkynningar í áskrift. Skráðu þig inn og taktu
		þátt.
	</p>
	</div>

	<div id="welcome_video">
<!--
<object width="320" height="207"><param name="movie" value="https://www.youtube.com/v/M-FuwUjqtbw?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/M-FuwUjqtbw?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="207"></embed></object>

<object width="320" height="207"><param name="movie" value="https://www.youtube.com/v/M-FuwUjqtbw&autoplay=0&rel=0&fs=1&color1=0xF1F1F1&color2=0xF1F1F1&border=0&loop=0"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/M-FuwUjqtbw&autoplay=0&rel=0&fs=1&color1=0xF1F1F1&color2=0xF1F1F1&border=0&loop=0" type="application/x-shockwave-flash" allowfullscreen="true" width="320" height="207"></embed></object>

-->
<object width= "320" height="207"><param name="movie" value="https://www.youtube.com/v/M-FuwUjqtbw&autoplay=0&rel=0&fs=1&color1=0xF1F1F1&color2=0xf1f1f1&border=0&loop=0"></param><param name="allowFullScreen" value="true"></param><embed src="https://www.youtube.com/v/M-FuwUjqtbw&autoplay=0&rel=0&fs=1&color1=0xF1F1F1&color2=0xf1f1f1&border=0&loop=0" type="application/x-shockwave-flash" allowfullscreen="true" width="320" height="207" wmode="opaque"></embed></object>

</div>

</div>
<% end %>