<% if @shown_welcome -%>
<div id="welcome_video">

	<div id="welcome_video_text">
	Hér getur þú kynnt þér samningaviðræður Íslands og ESB, spurt spurninga, tekið þátt í umræðum og sent erindi til samninganefndar. Öll gögn málsins eru flokkuð eftir samningsköflum og staða viðræðna uppfærð reglulega.
	</div>

	<div id="welcome_video_text">
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/xpfCr4By71U?fs=1&amp;hl=en_GB"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xpfCr4By71U?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
	</div>

</div>
<% end %>