<% if @shown_welcome -%>
<div id="welcome_sidebar">

	<div id="welcome_sidebar_video">
<object width="170" height="124"><param name="movie" value="http://www.youtube.com/v/xpfCr4By71U?fs=1&amp;hl=en_GB"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xpfCr4By71U?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="170" height="124"></embed></object>
	</div>

</div>
<% end %>