<% if @shown_welcome -%>
<div id="welcome_sidebar">

	<div id="welcome_sidebar_video">
<!--
<object width="170" height="124"><param name="movie" value="http://www.youtube.com/watch?v=CvLOZTVV2BU"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/watch?v=CvLOZTVV2BU" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="170" height="124"></embed></object>
-->
<object width="170" height="121"><param name="movie" value="http://www.youtube.com/v/M-FuwUjqtbw?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/M-FuwUjqtbw?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="170" height="121"></embed></object>


	</div>

</div>
<% end %>