<div id="user_name">
  <table border="0" cellspacing="0" cellpading="0">
    <tr>
      <td valign="top" style="padding-left: 5px;">
      <div class="user_name">
        <%= link_to tr("Your Priorities", "view/shared/_your_priorities", :user_name => current_user.name), yours_priorities_url %>
      </div>
      </td>
    </tr>
  </table>
</div>
<div id="your_priorities_container">
  <%= render :partial => "priorities/yours" %>
</div>