<div class="utils">
<h2>Tilgangur vefsins</h2>

<p>
Tilgangur vefsins er tvíþættur: Annars vegar að birta gögn sem tengjast samningaviðræðum Íslands um aðild að ESB á hnitmiðaðan og aðgengilegan hátt, sem er í samræmi við leiðsögn Alþingis um að samningaferlið sé eins opið og gegnsætt og kostur er, svo fremi sem það skaði ekki samningshagmuni Íslands. Og hins vegar að veita Íslendingum hlutdeild í samningaferlinu á gagnvirkum vef með því að gefa þeim kost á að senda inn spurningar um efni samningaviðræðnanna, senda erindi til samninganefndar og taka þátt í umræðum. Eins geta notendur gerst áskrifendur að gögnum sem varða einstaka kafla samningaviðræðnanna. 
</p>

<p>
Svör við spurningum eru unnin af sérfræðingum utanríkisráðuneytisins á viðkomandi málefnasviði, og eftir atvikum annarra ráðuneyta og stofnana. Á vefnum er einungis svarað spurningum sem lúta að samningaviðræðunum við ESB og viðfangsefnum þeirra en eðli málsins samkvæmt er það ekki hlutverk vefsins að svara gildishlöðnum spurningum eða getgátum. Svör eru ávallt staðreyndamiðuð en umsjónaraðili getur uppfært svör ef það leiðir af þróun máls. Formlegum erindum er beint til viðkomandi samningahóps og verða að uppfylla <a href="/home/ritun_erindis">ákveðin skilyrði</a> . Umræður á vefnum skulu beinast að samningaviðræðunum og viðfangsefnum þeirra.  Hafa ber í huga að allt efni sem notendur setja inn birtist á vefnum og er öllum aðgengilegt. Umsjónaraðili vefsins áskilur sér rétt til að fjarlægja spurningar, erindi eða umræður sem ekki varða samningaviðræðurnar og efni sem stríðir gegn almennri kurteisi og velsæmi. 
</p>

<h2>Innskráning á island.is</h2>

<p>
Til þess að taka virkan þátt á vefnum, senda inn spurningu, erindi eða taka þátt í umræðum, þarf notandi að skrá sig inn á vefinn í gegnum auðkenningarferli island.is. Tvær leiðir eru fyrir notanda að skrá sig inn, annars vegar er notast við veflykil Ríkisskattsstjóra og hins vegar með notkun rafrænna skilríkja. Upplýsingar sem tengjast innskráningu á vefnum vidraedur.is verða ekki geymdar og er innskráningarferlið dulkóðað til þess að tryggja hámarksöryggi við innskráningu.
</p>

<p>
<a href="http://www.ut.is/verkfaerakistan/">Smellið hér fyrir nánari upplýsingar um auðkenningarþjónustu Island.is og tæknileg atriði</a>
</p>

<h2>Öryggi og persónuvernd</h2>

<p>
Eftirfarandi skilmálar gilda um heimsókn þína á vefinn vidraedur.is og alla notkun.Við hverja heimsókn á vidraedur.is eru nokkur atriði skráð, svo sem tími og dagsetning, gerð vafra og stýrikerfis. Þessar upplýsingar má nota við endurbætur á vefnum og þróun hans, t.d. um það efni sem notendur sækjast mest eftir. Af öryggisástæðum er IP tala allra notenda skráð, ef gerð er tilraun til þess að misnota vefinn eða valda eyðileggingu á hugbúnaði, en umsjónaraðili vefsins mun ekki fylgjast með notkun einstakra notenda eða vinna á nokkurn hátt með þau gögn sem þar koma fram.  
</p>

<p>
S.k. kökur (e. cookies) eru vistaðar á tölvu notanda eftir innskráningu.
</p>

<p>
Ekki er borin ábyrgð á efnisinnihaldi eða áreiðanleika þeirra vefja utan stjórnarráðsins sem vísað er í né merkir vísunin að vidraedur.is styðji eða aðhyllist nokkuð sem þar kann að koma fram.
</p>

<p>
Vefurinn býður upp á áskriftarþjónustu. Innskráðir notendur vefsins geta þannig valið að fá sendar tilkynningar í tölvupósti þegar efni bætist við þann samningskafla sem notandi hefur merkt við. Notendur geta hætt við áskrift þegar þeim þóknast með því að skrá sig inn á vefinn og gera áskriftarþjónustuna óvirka.
</p>

<p>
Við innskráningu er nafn, kennitala og netfang notanda vistað í gagnagrunni á vefþjóni vidraedur.is. Gagnagrunnurinn er öruggur og óaðgengilegur notendum og utanaðkomandi aðilum þar sem hann er staðsettur á bak við eldvegg. Einungis er unnið með persónuupplýsingar notenda til að staðfesta auðkenni þeirra.
</p>

<h2>Hönnun og forritun</h2>

<p>
Fyrirtækið <a href="http://ibuar.is/">Íbuar.is</a> sáu um hönnun og forritun hugbúnaðar og vefumsjónarkerfis vidraedur.is. <a href="http://www.blekhonnun.is/">Blekhönnun</a> sá um útlitshönnun í samstarfi við Íbúa.is. 
</p>

<h2>Hýsing</h2>

<p>
Vefurinn er hýstur hjá <a href="http://1984.is/">1984 ehf.</a> 
</p>

<p>
Notast er við SSL skilríki til þess að dulkóða samskipti milli vefþjóns og notanda og tryggja þar með öryggi notenda við innskráningu og innsendingu efnis á vefinn.
</p>

<p>
1984 ehf ber ábyrgð á tölvubúnaði sem hýsir vidraedur.is og sér um daglega afritun gagna.
</p>

<p>
Notendur get sent inn fyrirspurnir eða ábendingar til umsjónarmanns vefsins í tölvupóst á netfangið vidraedur@utn.stjr.is
</p>


</div>