<div class="utils">
<h2>Leiðbeiningar um ritun erinda (Gagnvirkur vefur)</h2>

<p>
Erindi skal vera skýrt og skipulega upp sett til að auðvelda samninganefnd yfirferð og mat á efni hennar. Eftirfarandi atriði skal hafa að leiðarljósi við ritun erinda:
</p>

<ul>
<li>Titill erindis skal vera skýr og lýsandi fyrir innihald umsagnar.
</li>

<li>Mikilvægt er að notandi sem hyggst skila inn erindi til samninganefndar, velji réttan samningskafla til að forðast óþarfa töf við meðferð erindis.
</li>

<li>Vilji notendur ræða um heilan samningskafla er best að fyrst komi almennt álit um kaflann sé þess talin þörf. Í framhaldi komi fram athugasemdir og hugleiðingar um einstaka þætti samningskaflans. 
</li>

<li>Óþarfi er að fjalla um aðra þætti kaflans en þær sem umsagnaraðili gerir athugasemdir við.
</li>

<li>Mikilvægt er að erindi, á öllum stigum samningaviðræðanna, sem fela í sér tillögur um samningsmarkmið, breytt orðalag, viðbætur við kafla og þess háttar komi skýrt fram. Athugið að gera ekki aðeins athugasemd um að eitthvað sé óljóst, tvírætt eða ónákvæmt, betra er að rökstyðja í kjölfarið hvað er óljóst við texta eða kafla og hvernig umsagnaraðili leggur til að orðalag verði.
</li>
</ul>

</div>