<div class="utils">
<h2>Leiðbeiningar í notkun vefsins</h2>
<p>Þú getur skoðað allt efni vefsins án þess að skrá þig inn en þú þarft að skrá þig inn ef þú vilt taka þátt. </p>

<h4>Innskráning</h4>
<p>
Innskráning fer fram í gegnum island.is og þú þarft veflykil til að geta skráð þig inn. Veflykill þessi er sá sami og notaður er til að skila inn skattframtali og því mjög líklegt að þú sért þegar komin með veflykil. Ef ekki þá geturðu <a href="https://secure.rsk.is/Thjonustusidur/Vefur/TyndurVeflykill.aspx">sótt um að fá hann sendan</a>. Einnig geturðu notað rafræn skilríki. Á <a href="https://www.island.is/audkenning?id=vidraedur.is">innskráningarsíðunni</a> eru nánari upplýsingar um ferlið.  
</p>

<h4>Grunnvirkni vefsins skiptist í fjóra hluta:</h4>
<p>Þrír þeirra eru gagnvirkir; <b>Spurningar og svör</b>, <b>Umræður</b> og <b>Erindi</b>. Fjórði hlutinn, <b>Staða viðræðna</b> og <b>Öll skjöl</b>, miðar að því að 
  
  sýna, á einfaldan hátt, stöðu viðræðnanna og veita í leiðinni aðgang að öllum skjölum þeirra sem sett eru á vefinn. </p>
<p>Athugaðu líka í gagnvirku flokkunum þremur geturðu notað nöfn <b>Samningskaflanna</b> (hægra megin) til að sjá aðeins efni sem tilheyrir þeim kafla sem þú velur. 
<ul>
  
  <li><b>Spurningar og svör</b> - Notendur senda inn spurningar og utanríkisráðuneytið svarar þeim.
  <ul>
  <li>
    Þú getur <a href="http://vidraedur.is/questions/newest?r=1">skoðað allar spurningar sem hefur verið svarað</a> og einnig geturðu valið að skoða aðeins ósvaraðar spurningar með því að smella á tengilinn "Ósvarað" í efra hægra horni efnissvæðis.
  </li>
  <li>
    Þú getur líka <a href="http://vidraedur.is/questions">sent inn spurningu</a> ef þú ert innskráður.
  </li>
  <li>
    Þú getur sett inn athugasemdir við svaraðar spurningar en það er ekki hægt við ósvaraðar spurningar. 
  </li>
  </ul>
  </li>
  
  <li><b>Umræður</b> - Opnar umræður sem allir innskráðir notendur geta tekið þátt í.
  <ul>
  <li>Þú getur <a href="http://vidraedur.is/priorities/newest?r=1">skoðað allar umræður</a>. </li>
  <li>Þú getur <a href="http://vidraedur.is/taka_thatt">hafið nýja umræðu</a> ef þú ert innskráður.</li>
  <li>Þú getur sett inn athugasemdir við alla umræðuþræði ef þú ert innskráður.</li>
  </ul>
    
  </li>
  
  <li><b>Erindi</b>
    - Formleg erindi til samninganefndarinnar
    <ul>
      <ul>
        <li>Þú getur <a href="http://vidraedur.is/documents/newest?r=1">skoðað öll innsend erindi</a></li>
        <li>Þú getur <a href="http://vidraedur.is/senda_erindi">sent inn nýtt erindi</a></li>
        </ul>
      </ul>
  </li>
  <li><b>Staða og gögn viðræðna</b>
    <ul>
      <li>Þú getur skoðað <a href="http://vidraedur.is/treaty_documents/">stöðu viðræðna og skjöl tengd köflum</a> án þess að vera innskráður.</li>
      <li>Þú getur skoðað <a href="http://vidraedur.is/treaty_documents/newest">öll skjöl jafnóðum og þau koma inn í tímaröð</a></li>
    </ul>
  </li>
  <li><b>Aðrir möguleikar
    </b>
    <ul>
      <li><b>Áskrift </b>- Fáðu póstsendingar þegar nýtt efni berst inn
        <ul>
          <li>Í efra hægra horninu er takki sem merktur er Áskrift. Með honum geturðu <a href="http://vidraedur.is/askrift">valið að fá sendan tölvupóst þegar nýtt efni berst á vefinn</a>. </li>
          <li>Eftir að þú hefur valið kafla birtist undirval hægra megin á efnissvæði sem heitir Kaflar í áskrift. Með þeim takka geturðu valið að sjá einungis þina áskriftarkafla. </li>
          <li>Netfang er sett inn í innskráningarferlinu en því er hægt að breyta í Stillingar.</li>
          </ul>
        </li>
      <li><b>Leit</b> - Öflug leit með einfalt viðmót
  <ul>
    <li>Eftir að þú hefur leitað að þínu leitarorði þá færðu möguleika á að þrengja leitina eftir Samningsköflum eða tegund efnis.            </li>
    </ul>
        </li>
      <li><b>Mín skrif</b> - Með því að smella á tengilinn Mín skrif í efra hægra horni efnissvæðis þá velur þú að sjá einungis það sem þú hefur skrifað á vefinn í þeim efnisflokkum sem þú ert staddur á. </li>
      <li><b>Facebook vörpun</b> - Bæði við innsetningu efnis og eins eftir á.
<ul>
          <li>Þú getur alltaf valið að varpa nýju efni sem þú setur inn á Facebook. </li>
          <li>Í upphafi þarftu að samþykkja hjá Facebook að veita þessum vef réttindi til slíks, það ferli er einfalt og gagnsætt. </li>
          <li>Þú getur líka valið að varpa öllu efni úr gagnvirka hluta vefsins yfir á Facebook, hvort sem þú eða einhver annar skrifaðir. </li>
          </ul>
      </li>
      <li><b>Twitter vörpun</b> - Einungis eftir á
        <ul>
          <li>Þú getur valið að varpa öllu efni úr gagnvirka hluta vefsins yfir á Twitter, hvort sem þú eða einhver annar skrifaði það. </li>
          </ul>
      </li>
      <li><b>Annað efni</b>
        <ul>
          <li>Nýjustu fréttir - Fréttayfirlit af upplýsingavef utanríkisráðuneytisins um viðræðurnar - <a href="http://esb.utn.is">http://esb.utn.is</a></li>
          <li>Skilmálar - <a href="http://vidraedur.is/home/rules">Reglur og skilmálar vefsins.</a></li>
          <li>Um vefinn - <a href="http://vidraedur.is/home/about">Upplýsingar um tilgang og tilurð þessa vefs</a>. </li>
          <li>Hjálp - Þessi síða sem þú ert að skoða.</li>
      </ul>
      </li>
      </ul>
  </li>
  <li><b>Merkingar táknmynda</b>
    <ul>
  <li><img src="/images/Samtengja_facebook_icon.png" />Samtengja aðgang þinn á þessum vef við Facebook aðganginn þinn. Þetta gerir þér kleift að varpa efnisatriðum á Facebook og notar Facebook myndina þína á þessum vef. Þú getur skipt um mynd í Stillingum. </li>
  <li><img src="/images/feed-icon-14x14.png" />RSS - Þú getur valið að fylgjast með viðkomandi svæði með RSS</li>
  <li><img src="/images/esb_entry_facebook.gif" />Vörpun þessa þráðar á Facebook</li>
  <li><img src="/images/esb_entry_twitter.gif" />Vörpun þessa þráðar á Twitter</li>
  <li><img src="/images/esb_entry_bookmark.gif" />Fylgjast með þessari umræðu í tölvupósti, netfang sett inn í upphafi, hægt að breyta í Stillingar</li>
  <li><img src="/images/entry_report_gray.gif" />Tilkynna óviðeigandi umræðu, minni útgáfa af þessari táknmynd er notuð til að tilkynna óviðeigandi athugasemd. </li>
    </ul>
  </li>
  <li><b>Stillingar</b>
<ul>
  <li>Með því að smella á Stillingarhnappinn í vinstri dálki þá getur þú stillt ýmis atriði. 
        <ul>
          <li>Netfang.</li>
          <li>Mynd - Ef þú hefur valið að tengja aðganginn þinn við Facebook þá er Facebook myndin þín sjálfgefin en hér getur þú skipt henni út án þess að það hafi áhrif á Facebook.</li>
          <li>Aftengjast Facebook - Einungis virkt ef þú hefur áður valið að tengja aðganginn þinn við Facebook. </li>
        </ul>
      </li>
    </ul>
  </li>
  </ul>
<p>&nbsp;</p>
</div>
