<div class="utils">
<h2>Leiðbeiningar um notkun vefsins</h2>
<p>Á Gagnvirkum vef um samningaviðræður Íslands og ESB geta notendur skoðað allt efni en eiga kost á að skrá sig inn til þess að taka virkan þátt í umræðum, spyrja spurninga og senda inn erindi til samninganefndar.</p>

<h4>Innskráning</h4>
<p>
Innskráning fer fram í gegnum island.is og þarf notandi veflykil til að geta skráð sig inn. Veflykill þessi er sá sami og notaður er til að skila inn skattframtali á netinu og því líklegt að notandi hafi aðgang að veflykli á sínum heimabanka. Ef ekki þá er hægt að  <a href="https://secure.rsk.is/Thjonustusidur/Vefur/TyndurVeflykill.aspx">sækja um að fá hann sendan</a>. Einnig er hægt að nota rafræn skilríki. Á  <a href="https://www.island.is/audkenning?id=vidraedur.is">innskráningarsíðunni</a> eru nánari upplýsingar um ferlið. 
</p>

<h4>Grunnvirkni vefsins skiptist í fjóra hluta:</h4>
<p>Þrír þeirra eru gagnvirkir; <b>Spurningar og svör</b>, <b>Umræður</b> og <b>Erindi</b>. Fjórði hlutinn, <b>Staða viðræðna</b> og <b>Öll skjöl</b>, sýnir á einfaldan og skýran hátt stöðu samningaviðræðna Íslands við Evrópusambandið eftir einstökum köflum og veitir aðgang að öllum skjölum sem tengjast samningaviðræðunum. </p>
<p>Athugið  að í gagnvirku flokkunum þremur má smella á heiti <b>Samningskafla</b> (hægra megin) til að sjá aðeins það efni vefsíðunnar sem tilheyrir viðkomandi kafla.</p>

<ul>
  
  <li><b>Spurningar og svör</b> - Notendur senda inn spurningar og utanríkisráðuneytið svarar þeim.
  <ul>
  <li>Notendur geta skoðað allar spurningar sem sendar eru inn um vefinn. Hægt er að skoða <a href="https://vidraedur.is/questions/newest?r=1">spurningar sem hefur verið svarað</a> og ósvöruðum spurningum með því að smella á tengilinn "Ósvarað“ efst í hægra horni efnissvæðis. 
  </li>
  <li>
    Notendur geta <a href="https://vidraedur.is/questions">sent inn spurningu</a> séu þeir innskráðir. 
  </li>
  <li>
Notendur geta sett inn athugasemdir við svaraðar spurningar en það er ekki hægt við ósvaraðar spurningar. 
</li>
  </ul>
  </li>
  
  <li><b>Umræður</b> - Hægt er að skoða innlegg notenda í umræðuna eða hefja umræðu..
  <ul>
  <li>Notendur geta <a href="https://vidraedur.is/priorities/newest?r=1">skoðað allar umræður</a>. </li>
  <li>Notendur geta <a href="https://vidraedur.is/taka_thatt">hafið nýja umræðu</a> ef þú ert innskráður.</li>
  <li>Notendur geta sett inn athugasemdir við alla umræðuþræði séu þeir innskráðir.</li>
  </ul>
    
  </li>
  
  <li><b>Erindi</b> - Formleg erindi til samninganefndarinnar
    <ul>
      <ul>
        <li>Notendur geta <a href="https://vidraedur.is/documents/newest?r=1">skoðað öll innsend erindi</a>.</li>
        <li>Innskráðir notendur geta <a href="https://vidraedur.is/senda_erindi">sent inn nýtt erindi</a> til samninganefndar Íslands.</li>
        </ul>
      </ul>
  </li>
  <li><b>Staða og gögn viðræðna</b>
    <ul>
      <li>Notendur geta skoðað  <a href="https://vidraedur.is/treaty_documents/">stöðu viðræðna og skjöl tengd köflum</a> án þess að vera innskráðir.</li>
      <li>Notendur geta skoðað <a href="https://vidraedur.is/treaty_documents/newest">öll skjöl jafnóðum og þau koma inn í tímaröð</a>.</li>
    </ul>
  </li>
  <li><b>Aðrir möguleikar
    </b>
    <ul class="sub">
      <li><b>Áskrift </b>-  notandi fær sendan póst þegar nýtt efni er birt á vefnum.
        <ul>
          <li>
	  Efst í hægra horni síðunnar er hnappur sem merktur er Áskrift. Með honum geta notendur <a href="https://vidraedur.is/askrift">valið að fá sendan tölvupóst með nýju efni þegar það berst á vefinn, eða fá tilkynningu þegar nýtt efni berst á vefinn</a>. 
	  </li>
          <li>
	  Eftir að notandi hefur valið kafla birtist undirval efst hægra megin á efnissvæði sem heitir Kaflar í áskrift. Með þeim hnappi geta notendur valið að sjá einungis sína áskriftarkafla. 
	  </li>
          <li>
	  Beðið er um netfang notanda í innskráningarferlinu en því má breyta í <a href="https://vidraedur.is/settings/picture">Stillingar</a>.</li>
          </ul>
        </li>
      <li><b>Leit</b> - Öflug leit með einfalt viðmót
  <ul>
    <li>Eftir að notandi hefur leitað að leitarorði þá fær hann möguleika á að þrengja leitina eftir Samningsköflum eða tegund efnis.            </li>
    </ul>
        </li>
      <li><b>Mín skrif</b> - Með því að smella á tengilinn Mín skrif efst í hægra horni efnissvæðis þá velur notandi að sjá einungis það sem hann hefur skrifað á vefinn tengt þeim samningskafla sem valinn er. </li>
      <li><b>Facebook vörpun</b> - Bæði við innsetningu efnis og eins eftir á.
<ul>
          <li>Notendur geta alltaf valið að varpa færslum á Facebook, hvort sem er nýju efni sem þeir setja inn eða færslur sem aðrir hafa birt. </li>
          <li>Í upphafi þarf að veita Facebook samþykki til þess birta færslur af vidraedur.is, það ferli er einfalt og gagnsætt. </li>
          </ul>
      </li>
      <li><b>Twitter vörpun</b> - Einungis eftir á
        <ul>
          <li>Notandi getur valið að varpa efni frá vidraedur.is yfir á Twitter, hvort sem hann eða einhver annar skrifaði það. </li>
          </ul>
      </li>
      <li><b>Annað efni</b>
        <ul>
          <li>Nýjustu fréttir - Fréttayfirlit af upplýsingavef utanríkisráðuneytisins um viðræðurnar - <a href="http://esb.utn.is">http://esb.utn.is</a></li>
          <li>Skilmálar - <a href="https://vidraedur.is/skilmalar">Reglur og skilmálar vefsins.</a></li>
          <li>Um vefinn - <a href="https://vidraedur.is/um">Upplýsingar um tilgang og tilurð þessa vefs</a>. </li>
          <li>Hjálp - Þessi síða sem þú ert að skoða.</li>
      </ul>
      </li>
      </ul>
  </li>
  <li><b>Merkingar táknmynda</b>
    <ul class="icons">
  <li><img src="/images/Samtengja_facebook_icon.png" />Samtengja aðgang þinn á þessum vef við Facebook aðganginn þinn. Þetta gerir þér kleift að varpa efnisatriðum á Facebook og nota Facebook myndina þína á vidraedur.is. Innskráðir notendur geta skipt um mynd í <a href="https://vidraedur.is/settings/picture">Stillingum</a>.</li>
  <li><img src="/images/feed-icon-14x14.png" />RSS - Notendur geta valið að fylgjast með viðkomandi svæði með RSS</li>
  <li><img src="/images/esb_entry_facebook.gif" />Vörpun þessa þráðar á Facebook</li>
  <li><img src="/images/esb_entry_twitter.gif" />Vörpun þessa þráðar á Twitter</li>
  <li><img src="/images/esb_entry_bookmark.gif" />Fylgjast með þessari umræðu í tölvupósti, netfang sett inn í upphafi, hægt að breyta í Stillingar</li>
  <li><img src="/images/entry_report_gray.gif" />Tilkynna óviðeigandi ummæli. minni útgáfa af þessari táknmynd er notuð til að tilkynna óviðeigandi færslu eða athugasemd. </li>
    </ul>
  </li>
  <li><b>Stillingar</b>
<ul>
  <li>Með því að smella á Stillingahnappinn í vinstri dálki þá geta notendur stillt ýmis atriði.  
        <ul>
          <li>Netfang.</li>
          <li>Mynd - Ef notandi hefur valið að tengja aðganginn sinn við Facebook þá er Facebook mynd viðkomandi sjálfgefin en hér má skipta henni út án þess að það hafi áhrif á Facebook.</li>
          <li>Aftengjast Facebook - Einungis virkt ef notandi hefur áður valið að tengja aðganginn sinn við Facebook.</li>
        </ul>
      </li>
    </ul>
  </li>
  </ul>
<p>&nbsp;</p>
</div>
