<h2>Leiðbeiningar í notkun vefsins</h2>

Punktar til úrvinnslu

<ul>
<li>Útskýring á grunnvirkni í mjög stuttu máli, einnig útskýra undirsíur eftir þörfum</li>
<li>Auðkenning - stutt umfjöllun og vísa á hjálparsíðu hjá island.is</li>
<li>Senda inn spurningu</li>
<li>Hefja umræðu</li>
<li>Senda inn erindi</li>
<li>Skrifa athugasemd</li>
<li>Staða viðræðna og Öll skjöl</li>
<li>Leitin</li>
<li>Áskrift og Mín skrif</li>


<li>Útskýring íkona</li>
<li>Facebook möguleikar</li>




</ul>

