TODO

	    <div class="field_label form_header">Útskýrðu þín rök. <span id="pointContentDown" class="">487</span> stafir eftir</div>
		<div class="field_box">
	    <textarea name="point[content]" maxlength="500" id="pointContent" button="submit" class="idleField_big"></textarea>
		</div>
		
		
		
		***<div class="field_label form_header">Útskýrðu þín rök. <span id="pointContentDown" class="">487</span> stafir eftir</div>
			<div class="field_box">
	    	<%= f.text_area :content, :maxlength => 500, :id => 'pointContent', :button => 'submit', :class => 'idleField_big' %>
			</div>
			
	