<div class="utils">
<h2>Skilmálar um notkun vidraedur.is</h2>

<p>
Notandi samþykkir að efni sem hann sendir inn verði vistað á gagnagrunni vidraedur.is sem er eign utanríkisráðuneytisins. Efnið verður ekki notað á annan hátt en í samræmi við tilgang og virkni vefjarins, sjá <a href="/um">um vefinn</a>. Af virkni vefsins leiðir að efni sem notendur senda inn á vidraedur.is kann að verða áframsent af öðrum notendum á samfélagsvefi eins og facebook eða birt á öðrum vefjum. Utanríkisráðuneytið ber ekki ábyrgð á slíkum birtingum eða áframsendingum.
</p>

<p>
Óheimilt er að nota aðgang annarra, þar með talið að lána öðrum aðila veflykil, nota kennitölu annarra eða reyna að komast yfir veflykil annarra með neinum hætti.
</p>

<p>
Óheimilt er að birta efni sem brýtur í bága við lög , reglur og almennt velsæmi.
</p>

<p>
Óheimilt er að nota aðganginn til að brjótast inn í hugbúnað eða tölvukerfi vidraedur.is eða annarra til þess að valda tjóni á búnaði eða gögnum.
</p>

<p>
Gerist notandi sekur um dónaskap, ærumeiðingar eða órökstuddar ásakanir á hendur einstaklingum eða stofnunum áskilur utanríkisráðuneytið sér rétt til þess að loka á þátttöku hans.
</p>

<p>
Við hverja innsenda færslu og athugasemd er lítill hnappur sem notendur geta smellt á til þess að tilkynna um óviðeigandi efni. Þegar færsla hefur verið tilkynnt fær umsjónarmaður vefsins upplýsingar um það og getur skoðað efnisinnihald færslunnar. Sé um brot á skilmálum að ræða, er færslan fjarlægð úr notendaviðmóti vefsins og um leið er sendur sjálfvirkur tölvupóstur með viðvörun til höfundar færslunnar. Notandi fær þrjár aðvaranir áður en sjálfkrafa er lokað á hann. Með lokun getur notandi ekki skráð sig inn á vefinn til þess að taka þátt í umræðum, senda spurningar og erindi til samninganefndar Íslands eða skrifa athugasemdir við spurningar.
</p>

<p>
Notendur geta sent inn fyrirspurnir eða ábendingar til umsjónarmanns vefsins í tölvupósti á netfangið <a href="mailto:vidraedur@utn.stjr.is">vidraedur@utn.stjr.is</a>
</p>


</div>