<%= render :partial => "shared/rss_feed" %>
<div id="activities">
<%=render :partial=>"activity_list" %>
</div>
<%= will_paginate(@activities) %>
<%=render :partial=>"shared/live_update", :locals=>{:update_url=>"/news/activities"}%>