<%= render :partial => "shared/paginate_with_feed", :locals => {:collection => @activities} %>
<div id="activities">
<%=render :partial=>"activity_list" %>
</div>
<%= will_paginate(@activities) %>
<%=render :partial=>"shared/live_update", :locals=>{:update_url=>"/news/activities"}%>