<div id="hp_intro"><%= @page_title %></div>
<p>
<%= tr("Account delete BLURB", "view/settings/delete") %>

<%= button_to tr("I understand, delete my account now.", "view/settings/delete"), current_user, :confirm => 'Are you sure?', :method => :delete, :class => "yellow_button" %>