<p>
  <b>Type:</b>
  <%=h @process_document_type.process_document_type %>
</p>


<%= link_to 'Edit', edit_process_document_type_path(@process_document_type) %> |
<%= link_to 'Back', process_document_types_path %>
