<% if not ['inactive','buried'].include?(priority.status) %>
	<!-- <div class="priority_actions"> -->
		<%#= render :partial => "priorities/button_small", :locals => {:priority => priority, :region => "priority_inline"} %>
	<!-- </div> -->
<% end %>