<% form_for(Priority.new) do |f| %>
<% if @tag_names %>
	<%= hidden_field_tag :tag_names, @tag_names %>
<% end %>
<table>
	<tr>
		<td>
			<%= f.text_field :name, :size => 40, :maxlength => 60, :autocomplete =>"off" %>		
		</td>
		<td>
			<%= f.submit t('priorities.new.submit'), :class => "suggest_button" %>	
		</td>
	</tr>	
</table>
<% end %>
<% if params[:q] %>
	<p><%= t('priorities.new.suggest') %></p>
<% end %>
