<%= link_to :controller=>"priorities", :action=>"new" do %>
<div class="addwrapper">
    <div id="new_priority_button">
      <%=tr("Create a new priority","Button")%>
    </div>
    <br>
</div>
<% end %>

