<%= link_to :controller=>"priorities", :action=>"new" do %>
  <% if Government.current.layout == "better_reykjavik" %>
  <img src="/images/new/add-button.png" alt="" id="new_priority_image"/>
  <% else %>
    <div id="new_priority_button">
      <%=tr("Create a new priority","Button")%>
    </div>
  <% end %>
<% end %>

