<% if Government.current.message_for_finished and Government.current.message_for_finished!="" -%>
  <%= render :partial=>"/shared/top_message_box", :locals=> {:message_text => Government.current.message_for_finished.html_safe } %>
<% end %>

<div id="hp_intro"><%= @page_title %></div>

<% for priority in @priorities %>
	<%= render :partial => "priorities/listing_finished", :locals => {:priority => priority }%>
<% end %>

<%= will_paginate @priorities %>