<div style="width:auto;">
<ul>
	<li class="list_left">
		<div id="hp_intro"><%= @page_title %></div>
	</li>
	<li class="list_right">
        <%= rss_url(@rss_url) %>
	</li>
<ul>
</div>
<div class="clear"></div>
<div class="white_line"></div>

<% if @priorities.any? %>
    <%= render :partial=>"priorities/top_level_listing", :locals=>{:priorities=>@priorities, :endorsements=>@endorsements, :timeago => true}%>
    <%= will_paginate @priorities %>
<% end %>

