<%=@priority.name%><br>
	<div class="heading"><%= t('priorities.recent_activity')%></div>
	<div id="activities">
		<% @activities.each do |activity| %>
			<%= render :partial => "activities/show", :locals => {:activity => activity, :suffix => "_noself"} %>
		<% end %>
	</div>
</div>
<div id="priorities_sidebar">
	<% if @activities.total_pages > 1 %>
		<%= will_paginate(@activities, :params => {:action => "activities"} ) %>
	<% end %>
</div>