<% if not ['create','new'].include?(params[:action]) %>
	<div class="grey_button">
	<%= link_to_unless_current tr("Create a new page", "view/pages/_nav"), new_page_url %>
	</div>
	<p>
<% end %>

<% if @pages.any? %>
	<div class="heading"><%= tr("Current pages", "view/pages/_nav")%></div>
	<div class="blurb_nav">
		<% for page in @pages %>
			<%= link_to_unless_current page.link_name, edit_page_url(page) %><br/>
		<% end %>
	</div>
<% end %>
