<div class="intro">
<% if @priority %>
	<% if @document.is_up? %>
		<%= tr("Document in support of {priority_name}:", "view/documents/_header", :priority_name => link_to(@priority.name, @priority))%>
	<% elsif @document.is_down? %>
		<%= tr("Document in <span class='opposed'>opposition</span> to {priority_name}:", "view/documents/_header", :priority_name => link_to(@priority.name, @priority))%>	
	<% else %>
		<%= tr("Document about {priority_name}:", "view/documents/_header", :priority_name => link_to(@priority.name, @priority))%>
	<% end %>
<% end %>
</div>
<div id="hp_intro">
<%= h(@document.name) %>
</div>
