<% if document.priority %>
	<% if document.is_up? %>
		<%= tr("Document in support of {priority_name}:", "view/documents/_show_full", :priority_name => link_to(document.priority.name, document.priority))%>
	<% elsif document.is_down? %>
		<%= tr("Document in <span class='opposed'>opposition</span> to {priority_name}:", "view/documents/_show_full", :priority_name => link_to(document.priority.name, document.priority))%>	
	<% else %>
		<%= tr("Document about {priority_name}:", "view/documents/_show_full", :priority_name => link_to(document.priority.name, document.priority))%>
	<% end %>
<% end %>

<%= simple_format(document.content_html) %>