
<div id="documents_div">
	
		<% if @documents.count == 0 %>
		<%= tr("No documents", "view/documents/newest")%>
	<% end %>
	
<%= render :partial => "newest" %>
</div>
<%= will_paginate(@documents) %>

<%=render :partial=>"shared/live_update", :locals=>{:update_url=>"/documents/newest"}%>
