<%# Copyright (C) 2009,2010 Róbert Viðar Bjarnason %>
<%# License: http://www.gnu.org/licenses/agpl-3.0.txt %>

<div style="display: none;" id="delete-portlet-dialog" title="<%=tr("Delete portlet", "view/portal/_dialogues")%>">
	<%=tr("Are you sure you want to delete this Portlet?", "view/portal/_dialogues")%>
</div>