<%# Copyright (C) 2009,2010 Róbert Viðar Bjarnason %>
<%# License: http://www.gnu.org/licenses/agpl-3.0.txt %>

<div style="display: none;" id="delete-portlet-dialog" title="<%=t('menu.portal.delete_portlet')%>">
	<%=t('menu.portal.delete_are_you_sure')%>
</div>