<h1><%= tr("Contributors", "view/about/privacy") %></h1>
<ul>
<li>R&oacute;bert V&eth;ar Bjarnason - Brain, RoR code, management</li>
<li>Gunnar Gr&iacute;msson - Brain, HTML/CSS code, management, translations</li>
<li>&Oacute;skar J. Sandholt - Brain, marketing, management</li>
<li>Jim Gilliam - Brain, code</li>
<li>Dagn&yacute; Reykjal&iacute;n - Design</li>
<li>&THORN;orvaldur &Oacute;ttar Gu&eth;laugsson - Brain</li>
<li>Sm&aacute;ri McCarthy - Brain</li>
<li>Da&eth;i Ing&oacute;lfsson - Brain</li>
<li>Rifa Mukhlisa - HTML/CSS code</li>
<li>&Aacute;sta Olga Magn&uacute;sd&oacute;ttir - RoR & HTML/CSS code</li>
<li>Stef&aacute;n Vignir Skarph&eacute;&eth;insson - HTML/CSS code</li>
<li>Francoise Le Marchand - Translations</li>
<li>Fannar Freyr J&oacute;nsson - RoR code</li>
<li>J&oacute;n Dal - RoR Code</li>
<li>Derek Sozou - HTML/CSS code</li>
<li>Dave Parsons - Brain</li>
<li>Tom Etherington</li>
<li>Sigit Saptari - HTML/CSS code</li>
</ul>

<!--
<p><%= tr("Jim Gilliam, Róbert Viðar Bjarnason, Gunnar Grímsson, Dagný Reykjalín, Francoise Le Marchand, Tom Etherington, Derek Sozou and Dave Parsons.", "view/about/contributors") %></p>
-->