<h1><%= tr("Contributors", "view/about/privacy") %></h1>
<br>
<p><%= tr("Jim Gilliam, Róbert Viðar Bjarnason, Gunnar Grímsson, Dagný Reykjalín, Francoise Le Marchand, Tom Etherington, Derek Sozou and Dave Parsons", "view/about/contributors") %></p>
