<!--<h1><%= tr("Reykjavík city council", "view/about/council") %></h1>-->

<div id="infopage">
<h1>Borgarráð</strong></h1>
<ul>
  <li>
    fer,  	ásamt borgarstjóra, með framkvæmdastjórn Reykjavíkurborgar og  	fjármálastjórn, að því leyti sem þessi mál eru ekki öðrum  	falin 
  </li>
  <li>
    hefur  	umsjón með stjórnsýslu Reykjavíkurborgar almennt og fjárstjórn  	hennar sérstaklega
  </li>
  <li>
    undirbýr  	fjárhagsáætlanir og sér um að ársreikningar Reykjavíkurborgar  	séu samdir reglum samkvæmt. 
  </li>
</ul>
<p>Í  borgarráði sitja sjö borgarfulltrúar kjörnir af borgarstjórn  til eins árs í senn og jafnmargir til vara.</p>
<p>Hugmyndir  sem tengjast málaflokknum &bdquo;Stjórnsýsla&ldquo; á Betri Reykjavík  fer til borgarráðs til umfjöllunar.</p>
<h4>Íþrótta-  og tómstundaráð</h4>
<ul>
  <li>
    mótar  	stefnu á sviði íþrótta- og tómstundamála Reykjavíkurborgar  	og gerir tillögur sem varða verksvið þess til borgarráðs
  </li>
  <li>
    vinnur  	að eflingu íþrótta- og tómstundastarfs í Reykjavík
  </li>
  <li>
    hefur  	samvinnu við þá aðila sem um slík mál fjalla og við félög  	sem hafa íþrótta- og tómstundamál á stefnuskrá og mótar  	stefnu um samstarf við þá aðila
  </li>
  <li>
    gerir  	tillögur til borgarráðs að gerð og staðsetningu nýrra  	íþróttamannvirkja ásamt tillögum um rekstur þeirra eftir því  	sem við á
  </li>
  <li>
    hefur  	eftirlit með rekstri íþrótta- og æskulýðsmannvirkja sem eru í  	eigu Reykjavíkurborgar og borgarráð hefur veitt styrk til og  	jafnframt þeim mannvirkjum öðrum sem borgarráð hefur veitt  	styrk til
  </li>
  <li>
    stuðlar  	að eflingu hollrar tómstundaiðju meðal almennings í samstarfi  	við samtök borgarbúa svo og í samstarfi við aðrar  	borgarstofnanir
  </li>
  <li>
    skipuleggur  	dagskrá 17. júní hátíðarhaldanna í Reykjavík ár hvert
  </li>
</ul>
<p>Íþrótta-  og tómstundaráð er skipað sjö fulltrúum kjörnum af  borgarstjórn og jafnmörgum til vara. </p>
<p>Hugmyndir  sem tengjast málaflokkunum &bdquo;Frístundir og útivist&ldquo;  á Betri  Reykjavík fara til íþrótta- og tómstundaráðs til umfjöllunar.</p>
<p>Hugmyndir  sem tengjast málaflokkunum &bdquo;Íþróttir&ldquo;  á Betri Reykjavík  fara til íþrótta- og tómstundaráðs til umfjöllunar.</p>
<h4>Mannréttindaráð</h4>
<ul>
  <li>
    mótar  	stefnu í mannréttindamálum, tekur ákvarðanir og gerir tillögur  	til borgarráðs hvað varðar verksvið þess 
  </li>
  <li>
    hefur  	eftirlit með rekstri mannréttindaskrifstofu borgarinnar og að  	samþykktum og stefnumörkun þess sé fylgt
  </li>
  <li>
    fer  	með verkefni jafnréttisnefndar og önnur verkefni á sviði  	mannréttindamála samkvæmt mannréttindastefnu Reykjavíkurborgar 
  </li>
  <li>
    gerir  	tillögur til borgarráðs um mannréttindastefnu Reykjavíkurborgar  	og ber ábyrgð á að henni sé framfylgt 
  </li>
  <li>
    fylgist  	með verkefnum fagsviða er tengjast mannréttindamálum 
  </li>
  <li>
    er  	fagsviðum til samráðs og ráðgjafar um forgangsröðun verkefna  	á sviði mannréttindamála
  </li>
  <li>
    hefur  	samvinnu við ríki, önnur sveitarfélög og félagasamtök um  	mannréttindamál 
  </li>
  <li>
    veitir  	árlega mannréttindaverðlaun Reykjavíkurborgar
  </li>
</ul>
<p>Mannréttindaráð  er skipað sjö fulltrúum kjörnum af borgarstjórn og jafnmörgum  til vara. </p>
<p>Hugmyndir  sem tengjast málaflokknum &bdquo;Mannréttindi&ldquo; á Betri Reykjavík  fara til  mannréttindaráðs til umfjöllunar.</p>
<h4>Menningar-  og ferðamálaráð</h4>
<ul>
  <li>
    mótar  	stefnu í menningar-, ferða- og markaðsmálum, tekur ákvarðanir  	og gerir tillögur til borgarráðs varðandi valdsvið þess og  	hefur eftirlit með að samþykktum og stefnumörkun þess sé fylgt
  </li>
  <li>
    fer  	með hlutverk stjórnar Borgarbókasafns Reykjavíkur og stjórnar  	Borgarskjalasafns Reykjavíkur 
  </li>
  <li>
    fer  	með hlutverk byggingarnefndar skv. lögum um húsafriðun 
  </li>
  <li>
    gerir  	tillögur til borgarráðs varðandi samninga við Leikfélag  	Reykjavíkur, Sinfóníuhljómsveit Íslands og Listahátíð í  	Reykjavík 
  </li>
  <li>
    gerir  	tillögur til borgarráðs um styrki og starfslaun til  	menningarstarfs í borginni
  </li>
  <li>
    tilnefnir  	fulltrúa í dómnefnd um bókmenntaverðlaun Tómasar Guðmundssonar  	og útnefnir borgarlistamann
  </li>
  <li>
    fylgist  	með útgáfu örnefnaskrár og merkingu fornminja 
  </li>
  <li>
    gerir  	tillögu til borgarráðs um staðsetningu hvers konar myndverka á  	almannafæri
  </li>
  <li>
    fer  	með málefni Höfuðborgarstofu í samræmi við ferðamálastefnu  	Reykjavíkurborgar
  </li>
  <li>
    vinnur  	að því að efla og samræma kynningar og markaðsmál Reykjavíkur  	til að styrkja stöðu höfuðborgarinnar í alþjóðlegri  	samkeppni á sviði ferðamála 
  </li>
  <li>
    vinnur  	að undirbúningi viðburða og hátíða í Reykjavík á sviði  	ferðamála
  </li>
</ul>
<p>Menningar-  og ferðamálaráð er skipað sjö fulltrúum kjörnum af  borgarstjórn og jafnmörgum til vara.</p>
<p>Hugmyndir  sem tengjast málaflokkunum &bdquo;Ferðamál&ldquo; á Betri Reykjavík fara  til menningar- og ferðamálaráðs til umfjöllunar.</p>
<p>Hugmyndir  sem tengjast málaflokkunum &bdquo;Menning og listir&ldquo; á Betri  Reykjavík fara til menningar- og ferðamálaráðs til umfjöllunar.</p>
<h4>Skóla-  og frístundaráð</h4>
<ul>
  <li>
    mótar  	stefnu í menntamálum á vegum Reykjavíkurborgar tekur ákvarðanir  	og gerir tillögur til borgarráðs hvað varðar verksvið þess
  </li>
  <li>
    hefur  	eftirlit með að samþykktum og stefnumörkun borgarinnar í  	menntamálum sé fylgt og fylgist með gæðum skólastarfs 
  </li>
  <li>
    fer  	með verkefni skólanefndar skv. grunnskólalögum
  </li>
  <li>
    gerir  	tillögur til borgarráðs um stefnu Reykjavíkurborgar í  	menntamálum og frístundastarfi barna og ungmenna
  </li>
  <li>
    hefur  	eftirlit með að framfylgt sé lögum um leik- og grunnskóla og  	reglugerðum settum á grundvelli þeirra
  </li>
  <li>
    gætir  	þess að leik- og grunnskólar á vegum borgarinnar búi við  	fullnægjandi húsnæði til skólastarfs og að annar aðbúnaður  	sé fyrir hendi 
  </li>
  <li>
    gerir  	tillögur um byggingu nýrra leik- og grunnskóla eða viðbyggingar  	við eldri skóla
  </li>
  <li>
    fylgir  	eftir framkvæmd 37. gr. laga um framhaldsskóla varðandi stofnun  	og byggingu framhaldsskóla
  </li>
  <li>
    hefur  	eftirlit með starfsemi skólahljómsveita og fullorðinsfræðslu á  	vegum Reykjavíkurborgar 
  </li>
  <li>
    hefur  	eftirlit með starfi einkarekinna skóla sem styrktir eru af  	borginni, þ.e. grunnskólum, tónlistarskólum og myndlistarskólum
  </li>
  <li>
    ræður  	skólastjóra grunnskóla 
  </li>
  <li>
    fer  	með málefni félags- og frístundamiðstöðva
  </li>
</ul>
<p>Skóla-  og frístundaráð er skipað sjö fulltrúum kjörnum af  borgarstjórn og jafnmörgum til vara.</p>
<p>Hugmyndir  sem tengjast málaflokknum &bdquo;Menntamál&ldquo; á Betri Reykjavík fara  til skóla- og frístundaráðs til umfjöllunar.</p>
<h4>Skipulagsráð</h4>
<ul>
  <li>
    mótar  	stefnu í skipulags- og byggingarmálum og tekur ákvarðanir og  	gerir tillögur til borgarráðs um skipulags- og byggingarmál á  	grundvelli skipulags- og byggingarlaga
  </li>
  <li>
    hefur  	eftirlit með að stefnumörkun og samþykktum sé fylgt
  </li>
  <li>
    er  	borgarráði og öðrum borgaryfirvöldum til ráðuneytis á sviði  	skipulags- og byggingarmála, þ.m.t. vegna umhverfismatsáætlana
  </li>
  <li>
    hefur  	frumkvæði að gerð skipulagstillagna og skipulagsskilmála 
  </li>
  <li>
    gerir  	tillögur til borgarráðs um skipulagsáætlanir og breytingar á  	þeim, þ.m.t. varðandi skipulag umferðar
  </li>
  <li>
    fjallar  	ásamt byggingarfulltrúa um umsóknir um byggingarleyfi, ályktar  	um úrlausn þeirra til borgarráðs og afgreiðir framkvæmdaleyfi
  </li>
  <li>
    veitir  	menningar- og ferðamálaráði umsagnir um mál er varða  	húsafriðun skv. ákvæðum laga um húsafriðun 
      gerir tillögur  	til borgarráðs um fjárveitingar úr húsverndarsjóði 
  </li>
  <li>
    veitir  	ár hvert viðurkenningu aðilum sem skarað hafa fram úr, hvað  	varðar metnaðarfulla byggingarlist
  </li>
  <li>
    afgreiðir,  	án staðfestingar borgarráðs, eftirtalin verkefni: a) óverulegar  	breytingar á deiliskipulagi, b) ákvörðun um að hefja gerð  	deiliskipulags, c) framkvæmdaleyfi, sbr. skipulags- og  	byggingarlögum, d) skiptingu jarða, landa og lóða og breytingar  	á landamerkjum
  </li>
</ul>
<p>Skipulagsráð  er skipað sjö fulltrúum kjörnum af borgarstjórn og jafnmörgum  til vara.</p>
<p>Hugmyndir  sem tengjast málaflokkunum &bdquo;Skipulagsmál&ldquo; á Betri Reykjavík  fara til skipulagsráðs til umfjöllunar.</p>
<p>Hugmyndir  sem tengjast málaflokkunum &bdquo;Framkvæmdir&ldquo; á Betri Reykjavík  fara til skipulagsráðs til umfjöllunar.</p>

<h4>Umhverfis-  og samgönguráð</h4>
<ul>
  <li>
    mótar  	stefnu í umhverfis-, náttúruverndar- og samgöngumálum
  </li>
  <li>
    hefur  	eftirlit með rekstri umhverfis- og samgöngusviðs og að  	samþykktum og stefnumörkun þess sé fylgt
  </li>
  <li>
    fer  	með verkefni náttúruverndarnefndar skv. lögum um náttúruvernd 
  </li>
  <li>
    fer  	með málefni Vinnuskóla Reykjavíkur
  </li>
  <li>
    verkefni  	á sviði umhverfis- og náttúruverndar og reksturs borgarlandsins  	eru m.a. að gera tillögu til borgarráðs um umhverfisstefnu  	Reykjavíkurborgar og bera ábyrgð á gerð umhverfisáætlunar og  	ákveða framkvæmdir á opnum svæðum borgarinnar
  </li>
  <li>
    er  	í fyrirsvari um fólkvanga
  </li>
  <li>
    fylgist  	með búfjáreftirliti skv. lögum um búfjárhald 
  </li>
  <li>
    veitir  	umsagnir um tillögur að skipulagi og framkvæmdir sem haft geta  	veruleg áhrif á umhverfisþætti
  </li>
  <li>
    mótar  	stefnu í úrgangsmálum, þ.m.t. sorphirðu 
  </li>
  <li>
    veitir  	umhverfisverðlaun Reykjavíkurborgar
  </li>
  <li>
    verkefni  	á sviði samgangna og umferðarmála eru m.a. að vinna að gerð  	samgöngustefnu Reykjavíkurborgar og gera tillögur að  	forgangsröðun framkvæmda á sviði samgöngumála, ákveða  	framkvæmdir í samgöngukerfi borgarinnar að höfðu samráði við  	framkvæmda- og eignasvið og móta stefnu í umferðaröryggismálum
  </li>
  <li>
    vinnur  	að umferðarfræðslu 
  </li>
  <li>
    gerir  	tillögur til lögreglustjóra eða leitar samþykkis hans varðandi  	skipulag umferðar 
  </li>
  <li>
    mótar  	stefnu á sviði almenningssamgangna m.a. með því að gera  	tillögur um breytingar á leiðakerfi Strætó bs.
  </li>
  <li>
    mótar  	stefnu í bílastæðamálum í Reykjavík og fer með málefni  	Bílastæðasjóðs Reykjavíkurborgar
  </li>
  <li>
    er  	stefnumótandi um starfsemi Vinnuskólans og gerir tillögur til  	borgarráðs um launagreiðslur til nemenda skólans og vinnur að  	samstarfsverkefnum við menntaráð
  </li>
</ul>
<p>Umhverfis-  og samgönguráð er skipað sjö fulltrúum kjörnum af borgarstjórn  og jafnmörgum til vara.</p>
<p>Hugmyndir  sem tengjast málaflokkunum &bdquo;Umhverfismál&ldquo; á Betri Reykjavík  fara til umhverfis- og samgönguráðs til umfjöllunar.</p>
<p>Hugmyndir  sem tengjast málaflokkunum &bdquo;Samgöngur&ldquo; á Betri Reykjavík fara  til umhverfis- og samgönguráðs til umfjöllunar.</p>
<p>
  <h4>Velferðarráð</h4>
<ul>
  <li>
    fer  	með verkefni félagsmálanefndar skv. lögum um félagsþjónustu  	sveitarfélaga og lögum um húsaleigubætur 
  </li>
  <li>
    fer  	með verkefni húsnæðisnefndar skv. lögum um húsnæðismál
  </li>
  <li>
    mótar  	stefnu í velferðarþjónustu, s.s. félags-, heilbrigðis-,  	húsnæðis- og öldrunarmálum 
  </li>
  <li>
    tekur  	ákvarðanir og gerir tillögur til borgarráðs hvað varðar  	verksvið þess 
  </li>
  <li>
    hefur  	eftirlit með að samþykktum og stefnumörkun sé fylgt
  </li>
  <li>
    gerir  	tillögur til borgarráðs um stefnumörkun á sviði félagsþjónustu  	og húsnæðismála í Reykjavík
  </li>
  <li>
    fylgir  	eftir framkvæmd laga um málefni aldraðra, laga um málefni  	fatlaðra, barnalaga og laga um ættleiðingar 
  </li>
  <li>
    gerir  	tillögur til borgarráðs um stefnu og framkvæmdaáætlun á sviði  	barnaverndar í samráði við barnaverndarnefnd
  </li>
</ul>
Velferðarráð  er skipað sjö fulltrúum kjörnum af borgarstjórn og jafnmörgum  til vara.</p>
<p>Hugmyndir  sem tengjast málaflokknum &bdquo;Velferðarmál&ldquo; á Betri Reykjavík  fara til velferðarráðs til umfjöllunar.</p>

<h4><a href="http://www.reykjavik.is/desktopdefault.aspx/tabid-2784/4398_view-794/">Nánari  upplýsingar um ráð og nefndir Reykjavíkurborgar, og hlutverk og  verkefni þeirra</a></h4>

</div>