<%= tr("<h1>About { government.name }</h1>", "view/about/index") %>
<%= tr("<p>{ government.mission }</p>", "view/about/index") %>
<%= tr("<p>This is where you should explain the purpose and goals of this government.</p>", "view/about/index") %>