<h1>Frá hugmynd  til aðgerða</h1>
<p><strong>Á þessari síðu  er fjallað um</strong>: </p>
<p><a href="#fyrst">Hvað gerir íbúi hverfisins fyrst?</a> –<a href="#kostnadur"> Hugmyndir kostnaðarmetnar</a> – <a href="#adverkefnum">Hugmyndir verða að  verkefnum</a> – <a href="#bindandi">Bindandi kosning um verkefni</a> – <a href="#kosning">Rafræn  kosning og auðkenning </a>– <a href="#framkvaemd">Framkvæmd verkefna</a></p>


<br />

<p><a name="fyrst"></a><strong>Hvað gerir íbúi hverfisins  fyrst?</strong> - Íbúinn hefur frumkvæði að því að setja  hugmynd á Betri Reykjavík – Betri hverfi. Við stofnun nýrrar  hugmyndar þarf að haka við hvaða hverfi hún á við.</p>
<p>Íbúar geta einnig  &bdquo;rætt&ldquo; hugmyndir annarra á samráðsvefnum, gefið þeim vægi  sitt og forgangsraðað þeim þar með (hér gilda sömu reglur og á  Betri Reykjavík). Notendur á Betri Reykjavík – Betri hverfi eru  hvattir til að gefa sér góðan tíma til að skoða hugmyndir  annarra, taka afstöðu til þeirra og gefa þeim vægi sitt, annað  hvort með því að styðja þær eða vera á móti þeim. Í þessu  er ekki síst hið mikilvæga samráðsferli íbúanna fólgið.</p>
<p>Hægt er að setja  inn hugmynd um nýframkvæmd eða viðhaldsverkefni í hvaða hverfi  borgarinnar sem er, óháð búsetu. Með sama hætti er hægt að  bæta við rökum við hugmynd eða gefa henni vægi sitt. </p>
<p>Mikilvægt er að  hafa í huga þegar hugmynd er sett inn, að hún sé ekki  kostnaðarmeiri en það fjármagn er sem hvert hverfi hefur til  umráða. Einnig að þau falli að þeirri lýsingu og skilmálum  verkefna sem borgin er að óska eftir. <a href="/about/partner_what_kind">Sjá nánar… </a>. Verkefni sem verða kostnaðarmetin hærri en það  fjármagn sem hverfi hefur, svo og ef þau falla ekki að skipulagi,  hlutverki eða stefnu borgarinnar, mun ekki verða kosið um.</p>
<p>Íbúarnir geta  sett inn hugmyndir að nýframkvæmdum og viðhaldsverkefnum í  umferð á &bdquo;Betri Reykjavík – Betri hverfi&ldquo; frá 5. desember  til 23. janúar 2012.</p>
<p>Hér má nálgast  kort og upplýsingar á vefsíðu Reykjavíkurborgar sem kunna að  gagnast við hugmyndavinnuna - <a href="http://www.reykjavik.is/desktopdefault.aspx/tabid-3546/5704_view-1139">Borgarsjáin</a>, <a href="http://lukr-01.reykjavik.is/framkvaemdasja/">Framkvæmdasjáin</a>, <a href="http://skipulagssja.skipbygg.is/">Skipulagssjáin</a> , <a href="http://www.reykjavik.is/desktopdefault.aspx/tabid-4080">Hverfi  Reykjavíkurborgar</a></p>

<br />

<p><a name="kostnadur"></a><strong>Hugmyndir  kostnaðarmetnar</strong> – Frá og með 23. janúar geta íbúar  ekki lengur sett inn hugmyndir á samráðsvefinn Betri hverfi eða gefið hugmyndum vægi sitt. Starfsfólk  framkvæmda- og eigna-, skipulags- og byggingar-, og umhverfis- og  samgöngusviða, tekur við hugmyndum íbúanna til vinnslu eftir 23.  janúar. Í því felst að hugmyndirnar eru kostnaðarmetnar, auk  þess sem metið er hvort framkvæmd þeirra sé í verkahring  borgarinnar og þær falli að skipulagi hennar, svo og hvort þær  séu í samræmi við þá lýsingu um nýframkvæmdir og  viðhaldsverkefni sem hér er óskað eftir <a href="/about/partner_what_kind">Sjá nánar… </a> .</p>
<p>Þær hugmyndir sem  eru kostnaðarmeiri en það fjármagn sem hvert hverfi hefur til  umráða (<a href="/about/partner_rules">sjá nánar… </a>),  detta sjálfkrafa út, þ.e. ekki verður kosið um þær meðal  íbúanna síðar í samráðsferlinu <a href="/about/partner_rules">sjá nánar… </a>. </p>
<p>Fagsviðin meta og  skila af sér allt að 26 hugmyndum sem íbúarnir hafa lagt til á  Betri Reykjavík – Betri hverfi. Þetta eru þær hugmyndir sem  mest vægi hafa fengið meðal íbúanna, falla innan fjárhagsramma  hvers hverfis og eru framkvæmanlegar. Annars vegar er um að ræða  allt að 13 hugmyndir sem skilgreinast sem nýframkvæmdir og hins  vegar allt að 13 hugmyndir sem teljast viðhaldsverkefni (<a href="/about/partner_rules">sjá nánar… </a>). Hugmyndirnar geta orðið færri  en 26 fyrir hvert hverfi ef ekki berast nógu margar hugmyndir frá  íbúunum og eða ef þær falla ekki að þeirri skilgreiningu um  hugmyndir sem hér er kallað eftir. <a href="/about/partner_what_kind">Sjá nánar… </a>. </p>
<p>Niðurstöður fagsviðanna skulu  liggja fyrir í síðasta lagi 10. febrúar. </p>

<br />
<p><a name="adverkefnum"></a><strong>Hugmyndir  verða að verkefnum - </strong>Eftir að allt að 26 hugmyndir  íbúanna, fyrir hvert hverfi, hafa verið kostnaðarmetnar og metið  hvort þær séu framkvæmanlegar <a href="/about/partner_rules">sjá nánar… </a>, fara hverfaráð borgarinnar yfir þær og skoða  m.a. dreifingu þeirra. Þau horfa einnig til þess hvort nægilegur  fjöldi og fjölbreytileiki sé til staðar þannig að íbúar hafi  ásættanlegt val þegar kosning fer fram. <a href="/about/partner_rules">Sjá nánar… </a>. Hverfaráð geta þannig sjálf  lagt til allt að 6 hugmyndir fyrir hvert hverfi. Þau hafa einnig  heimild til að taka út allt að 6 hugmyndir íbúanna, þ.e. í  þeim tilvikum þegar hugmyndir þeirra eru fleiri en 26. Að lokum  stilla hverfaráðin upp allt að 26 verkefnum fyrir hvert hverfi sem  kosið verður um. Allt að 13 þeirra eru skilgreind sem  nýframkvæmdir og allt að 13 sem viðhaldsverkefni. <a href="/about/partner_what kind">Sjá nánar… </a>.</p>
<p>Þeir sem ekki  vilja setja hugmyndir á Betri Reykjavík – Betri hverfi eða gefa  hugmyndum annara vægi sitt, geta sent hugmyndir sínar á netfang  viðkomandi <a href="http://www.reykjavik.is/desktopdefault.aspx/tabid-4080">þjónustumiðstöð</a> eða með pósti til viðkomandi þjónustumiðstöðvar merkt  hverfisráðinu. Lýsing á hugmyndinni þarf að öðru leyti að  vera í samræmi við það sem fram kemur hér <a href="/about/partner_what_kind">sjá nánar… </a> Viðkomandi hverfisráð getur notað  hugmyndir sem berast með þessum hætti og ákveðið hvort þær  verði einhverjar þeirra allt að 6 hugmynda sem hverfaráð getur  sjálft lagt fram til að kjósa um. </p>
<p>Niðurstaða  hverfaráðanna skal liggja fyrir í síðasta lagi 1. mars.</p>


<br />

<p><a name="bindandi"></a><strong>Bindandi  kosning um verkefni</strong> – Íbúar Reykjavíkurborgar geta kosið  um þau allt að 26 verkefni sem hverfaráðin hafa stillt upp fyrir  hvert hverfi. Kosningin er rafræn og fer fram í gegnum  samráðsvefinn Betri Reykjavík – Betri hverfi. Heimild til að  kjósa hafa þeir sem eru 16 ára og eldri og eru með lögheimili í  Reykjavík 31. desember 2011.</p>
<p>Kjósandi getur  sjálfur valið það hverfi sem hann vill, en aðeins er hægt að  kjósa verkefni í einu hverfi.</p>
<p>Kosið er um  verkefni í tveimur flokkum. Annars vegar er um að ræða verkefni  sem skilgreind eru sem nýframkvæmdir og hins vegar viðhaldsverkefni.  <a href="/about/partner_what_kind">Sjá nánar… </a>. Hægt er að velja á  milli allt að 13 verkefna í hvorum flokki.</p>
<p>Gerð er grein  fyrir kostnaði við hvert verkefni og því geta kjósendur valið  þann fjölda verkefna sem þeir vilja þar til þeirri heildarupphæð  er náð, sem hverfið hefur til umráða.</p>
<p>Hægt er að kjósa  oftar en einu sinni, t.d. ef kjósandi hefur skipt um skoðun, en  aðeins síðasta kosningin er gild.</p>
<p>Kosning fer fram á  Betri Reykjavík – Betri hverfi frá fimmtudeginum 8. mars kl.  11.00, til þriðjudagsins 13. mars kl. 17.00. </p>
<p>Kosningin felur í  sér endanlega ákvörðun um val verkefna í hverfum  Reykjavíkurborgar.</p>
<p>Innri endurskoðun  Reykjavíkurborgar hefur eftirlit með því að skráðum ferlum  rafrænu  kosningarinnar sé fylgt til hlítar.</p>


<br />

<p><a name="kosning"></a><strong>Rafræn  kosning og auðkenning</strong><strong> </strong>-<strong> </strong>Kosningin verður rafræn og fer  fram hér á vefnum. Kosið verður í gegnum kosningakerfi þar sem  notandi auðkennir sig með öruggum hætti og þar sem atkvæði er  dulkóðað. Þannig er aldrei hægt að tengja atkvæði við  kjósanda. Kosning um verkefni stendur yfir dagana 8. – 13.  mars og getur kjósandi kosið hvenær sem er á  því tímabili. Nánari upplýsingar um kosingakerfið, uppbyggingu  þess og öryggi verða aðgengilegar þegar nær dregur kosningu.</p>
<p>Auðkenning  hvers kjósanda er örugg og er um að ræða auðkenni sem þegar  eru í notkun og hafa verið prófuð og tekin út. </p>
<p>Kosningakerfið  verður tekið út af óháðum fagaðila áður en kosið verður.</p>
<p>Nánari leiðbeiningar um auðkenni og  hvernig þau eru notuð til þess að taka þátt í kosningunni  verða aðgengilegar þegar kosning hefst.</p>


<br />

<p><a name="framkvaemd"></a><strong>Framkvæmd  verkefna</strong><strong> - </strong>Á  Betri Reykjavík – Betri verður gerð grein fyrir afgreiðslu og  meðferð þeirra hugmynda sem teknar hafa verið til umfjöllunar og  kostnaðarmats fyrir viðkomandi hverfi (<em>Hugmyndir  kostnaðarmetnar – sjá nánar…</em>).  Að lokinni kosningu verður gerð grein fyrir niðurstöðum hennar. </p>
<p>Verkefnin  verða framkvæmd á árinu 2012.<br />
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp; </p>