<h1>Um  Betri hverfi</h1>
<p>&bdquo;Betri Reykjavík  – Betri hverfi&ldquo; er samráðsvefur sem gefur íbúum  Reykjavíkurborgar tækifæri að setja inn hugmyndir að smærri  nýframkvæmdum og viðhaldsverkefnum í hverfum Reykjavíkur.  Verkefnið er byggt á og er frekari útfærsla á verkefni um s.k.  hverfapotta, sem áður hefur verið framkvæmt.</p>
</p>
<p>Um að ræða  hugmyndir er haft geta áhrif á umhverfi og möguleika til útivistar  og samveru, geta haft áhrif á aðstöðu eða tækifæri til leikja  eða afþreyingar, hvetja til aukinna hjólreiða, bæta aðstöðu  og möguleika gangandi eða bæta aðstöðu fyrir notendur strætó. </p>
</p>
<p>Auk þess sem íbúar  Reykjavíkur geta sett inn hugmyndir eða tillögur að verkefnum í  hverfum borgarinnar, rökrætt þær og gefið þeim vægi sitt, munu  fagsvið Reykjavíkurborgar meta verkefnin. Í framhaldinu munu  hverfaráðin stilla upp verkefnum sem íbúum gefst kostur á að  kjósa um með rafrænum hætti. Með þessu er íbúunum gert kleift  að forgangsraða fjármunum í tengslum við  gerð fjárhagsáætlunar fyrir árið 2012. Niðurstaða kosninganna  um val verkefna er bindandi. <a href="/about/partner_from_priorities_to_action">Sjá nánar… </a> </p>
</p>
<p>Heildarfjarmagn til  þessara verkefna er 300 milljónir sem skipt er á milli hverfa  borgarinnar samkvæmt ákveðinni reglu. <a href="/about/partner_rules">Sjá nánar… </a></p>
</p>
<p>Hafa  verður í huga að ekki er verið að kjósa um allar verklegar  framkvæmdir á vegum Reykjavíkurborgar. Mun meira verður  framkvæmt í hverfunum á næsta ári. </p>
</p>
<p><strong>Tímasetningar</strong></p>
<table width="644" border="1" bordercolor="#00000a" cellpadding="7" cellspacing="0">
  <col width="92" />
  <col width="93" />
  <col width="93" />
  <col width="93" />
  <col width="93" />
  <col width="92" />
  <tr valign="top">
    <td width="92" height="32">
      <p align="center">5.  			des – 16. jan</p></td>
    <td width="93">
      <p align="center">16.  			jan – 10. feb</p></td>
    <td width="93">
      <p align="center">10.  			feb – 1. mar</p></td>
    <td width="93">
      <p align="center">8.  			mar – 13. mar</p></td>
    <td width="93">
      <p align="center">15.  			mars</p></td>
    <td width="92">
      <p align="center">2012</p></td>
  </tr>
  <tr>
    <td width="92" height="16" bgcolor="#ccc"><p align="center"><strong>Íbúarnir</strong></p></td>
    <td width="93" bgcolor="#ccc"><p align="center"><strong>Sviðin</strong></p></td>
    <td width="93" bgcolor="#ccc"><p align="center"><strong>Hverfaráðin</strong></p></td>
    <td width="93" bgcolor="#ccc"><p align="center"><strong>Íbúarnir</strong></p></td>
    <td width="93" valign="top" bgcolor="#ccc"><p align="center"><strong>Að  			kosningu lokinni</strong></p></td>
    <td width="92" bgcolor="#ccc"><p align="center"><strong>Framkvæmd  			verkefna</strong></p></td>
  </tr>
  <tr valign="top">
    <td width="92" height="60">
    
      <p align="center">Íbúar  			setja inn hugmyndir</p></td>
    <td width="93">
      <p align="center">Sviðin  			meta allt að 26 hugmyndir fyrir hvert hverfi</p></td>
    <td width="93">
      <p align="center">Hverfaráðin  			stilla upp allt að 26 verkefnum fyrir hvert hverfi</p></td>
    <td width="93">
      <p align="center">Íbúar  			kjósa um verkefnin</p></td>
    <td width="93">
      <p align="center">Niðurstöður  			settar á samráðsvefinn</p></td>
    <td width="92">
      <p align="center">Verkefnin  			framkvæmd 2012</p></td>
  </tr>
</table>
<br />

<p><strong>Ferill  aðgerða og ákvörðunartöku, skref fyrir skref. </strong></p>
</p>
<table width="650" border="0" bordercolor="#00000a" cellpadding="7" cellspacing="7">
  <col width="23" />
  <col width="597" />
  <tr valign="top">
    <td width="23"><p>1.</p></td>
    <td width="597"><p>Íbúar setja inn hugmyndir á Betri Reykjavík – Betri  			hverfi, sem geta verið smærri nýframkvæmdir eða  			viðhaldsverkefni</p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>2.</p></td>
    <td width="597"><p>Lokað fyrir möguleikann að setja inn hugmyndir og gefa þeim  			vægi</p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>3.</p></td>
    <td width="597"><p>Allt að 26 efstu hugmyndirnar fyrir hvert hverfi teknar af  			Betri Reykjavík – Betri hverfi og metnar af starfsfólki sviða  			– allt að 13 nýframkvæmdir og 13 viðhaldsverkefni</p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>4.</p></td>
    <td width="597"><p>Ef hugmyndir eru of dýrar eða ekki framkvæmanlegar detta þær  			út (ekki verður kosið um þær)</p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>5.</p></td>
    <td width="597"><p>Næstu hugmyndir á eftir nr. 26 teknar eins og þarf og metnar </p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>6.</p></td>
    <td width="597"><p>Allt að 26 hugmyndum skilað til hvers hverfaráðs; alls allt  			að 260 hugmyndir</p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>7.</p></td>
    <td width="597"><p>Hverfaráð skoða dreifingu og geta bætt við allt að 6  			verkefnum að eigin frumkvæði en fækka verkefnum íbúanna , ef  			þarf, þannig að þau verði ekki fleiri en 26</p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>8.</p></td>
    <td width="597"><p>Hverfaráð stilla upp allt að 26 verkefnum fyrir hvert hverfi  			sem íbúarnir kjósa á milli</p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>9.</p></td>
    <td width="597"><p>Íbúarnir kjósa á milli  			verkefnanna í tvo flokka; nýframkvæmdir og viðhaldsverkefni </p>
      <p>Íbúarnir velja á milli allt að 13 verkefna í hvorn flokk  			eins og ráðstöfunarfé leyfir</p></td>
  </tr>
  <tr valign="top">
    <td width="23"><p>10. </p></td>
    <td width="597"><p>Reykjavíkurborg lætur framkvæma verkefnin á árinu 2012</p></td>
  </tr>
</table>
<p><br />
  <br />
</p>
