<h1>
Hvernig  hugmyndir</h1>
<p><strong>Á þessari síðu  er fjallað um</strong>: </p>
<p><a href="#nyframkvaemd">Nýframkvæmd eða viðhaldsverkefni</a> – <a href="#umhverfi">Umhverfi, útivist, aðstaða, samgöngur gangandi og hjólandi</a> – <a href="#kostnadur">Kostnaður einstakra hugmynda</a> – <a href="#greinargod">Greinargóð lýsing  mikilvæg</a></p>
<p>Þegar hugmynd er  sett inn, þarf fyrst að skrá sig á vefinn. Síðan þarf að huga  að því að heiti hennar og lýsing sé skýr, og loks að merkja  við hvaða hverfi hún tilheyrir. Einnig er mikilvægt að metið sé  hvort hún falli að þeirri skilgreiningu sem kemur fram hér fyrir  neðan.</p>
<br />
<p><strong><a name="nyframkvaemd"></a>Nýframkvæmd  eða viðhaldsverkefni</strong> - Þegar ný hugmynd er sett inn þarf  að velja hverfi og meta hvort hún telst vera smærri nýframkvæmd  eða viðhaldsverkefni. Munurinn á þessum tveimur verkefnaflokkum  er í megin atriðum sá, eins og orðin gefa til kynna, að:</p>
<ul>
  <li>
    <p>Með nýframkvæmd er verið að  	óska eftir nýrri framkvæmd eða verkefni í hverfinu.</p>
  </li>
  <li>
    <p>Með viðhaldsverkefni er verið að  	óska eftir lagfæringu á einhverju sem fyrir er í hverfinu.</p>
  </li>
</ul>
<p>Ef óvissa er um  hvorum flokknum hugmynd tilheyrir er sá líklegri valinn. Starfsmenn  Reykjavíkurborgar munu leiðrétta flokkunina á síðari stigum.</p>

<br />

<p><strong><a name="umhverfi"></a>Umhverfi,  útivist, aðstaða, samgöngur gangandi og hjólandi</strong> –  Þegar hugmynd er sett inn á Betri Reykjavík – Betri hverfi, þarf  hún einnig að falla að eftirfarandi skilgreiningu:</p>
<ul>
  <li>    Vera verkefni er haft getur áhrif  	á umhverfi og eða möguleika til útivistar og samveru.</li>
</ul>
<p>Sem dæmi um slík  verkefni má nefna: Bekkir, aukinn trjágróður, dvalarsvæði,  berjarunnar, útilistaverk, fegrunarverkefni, og fleira.</p>
<ul>
  <li>
    <p>Vera verkefni er haft getur áhrif  	á aðstöðu eða tækifæri til leikja eða afþreyingar.</p>
  </li>
</ul>
<p>Sem dæmi um slík  verkefni má nefna: Bæta leiksvæði, endurnýja leiktæki, lagfæra  sparkvelli, og fleira.</p>
<ul>
  <li>
    <p>Vera verkefni sem hvetur til  	aukinna hjólreiða, bætir aðstöðu og eða möguleika gangandi eða  	bætir aðstöðu fyrir notendur strætó. </p>
  </li>
</ul>
<p>Sem dæmi um slík  verkefni má nefna: Stígtengingar, lýsing gönguleiða, lagfæring  gönguslóða, og fleira.</p>
<br />
<p><strong><a name="kostnadur"></a>Kostnaður  einstakra hugmynda</strong> – Þegar hugmynd er sett hér inn á  samráðsvefinn er mikilvægt að reynt sé að gera sér grein fyrir  kostnaðinum við að framkvæma hana. Mikilvægt er að huga að því  að kostnaður sé ekki meiri en það fjármagn sem hverfið hefur  til umráða, annars vegar til nýframkvæmda og hins vegar til  viðhaldsverkefna <a href="/about/partner_rules">sjá nánar… </a>.  Þau verkefni sem starfsfólk borgarinnar mun meta kostnaðarmeiri en  þessari upphæð nemur (<a href="/about/partner_rules">sjá nánar… </a>), mun ekki verða kosið um á síðari stigum. </p>
<p>Erfitt getur verið  að áætla kostnað við framkvæmd einstakra hugmynda, en enginn  ætti að láta óvissu um það aftra sér frá að setja inn  hugmynd á Betri Reykjavík – Betri hverfi.</p>

<br />

<p><strong><a name="greinargod"></a>Greinargóð  lýsing mikilvæg</strong> - Þegar ný hugmynd er sett á  samráðsvefinn, er mikilvægt að huga vel að því að heiti  hennar sé lýsandi. Einnig getur skipt máli að rökin fyrir  hugmynd séu skýr, þannig að aðrir eigi auðvelt með að átta  sig á hvað um er að ræða. Þessi atriði geta skipt miklu um  hvort hugmyndin nær athygli annarra íbúa og fær það vægi sem  til þarf til að um hana verði kosið á síðari stigum.  Greinargóð lýsing á hugmyndinni getur jafnframt auðveldað  starfsfólki borgarinnar að meta hana, s.s. kostnaðinn við  framkvæmd hennar.</p>
<p>Notendur á Betri  Reykjavík – Betri hverfi eru hvattir til að gefa sér góðan  tíma til að skoða hugmyndir annarra, taka afstöðu til þeirra og  gefa þeim vægi sitt, annað hvort með því að styðja þær eða  vera á móti þeim. Í þessu er ekki síst hið mikilvæga  samráðsferli íbúanna fólgið.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>