<h1><strong>Skipting  fjármagns á hverfi</strong></h1>
<p>Fjármagn er bundið  við annars vegar smærri nýframkvæmdir og hins vegar smærri  viðhaldsverkefni (<em>Hvernig hugmyndir – sjá nánar…</em>). Alls  er varið 300 milljónum króna til þessara verkefna, eða 150  milljónum á hvorn verkefnaflokk. Fjármagn til hvers hverfis er  ákveðið með eftirfarandi hætti: 
</p>
<table width="551" border="1" bordercolor="#00000a" cellpadding="5" cellspacing="0" rules="none">
  <col width="286" />
  <col width="6" />
  <col width="74" />
  <col width="143" />
  <tr>
    <td width="286" height="9" bgcolor="#f2f2f2"><p align="right">Nýframkvæmdir  			– skipt jafnt á milli 10 hverfa</p></td>
    <td width="6" valign="bottom" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
    <td width="74" bgcolor="#f2f2f2"><p align="right">37.500.000</p></td>
    <td width="143" bgcolor="#f2f2f2"><p align="right">3.750.000  			per hverfi</p></td>
  </tr>
  <tr>
    <td width="286" height="10" bgcolor="#d9d9d9"><p align="right">Viðhaldsverkefni  			– skipt jafnt á milli 10 hverfa</p></td>
    <td width="6" valign="bottom" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
    <td width="74" bgcolor="#d9d9d9"><p align="right">37.500.000</p></td>
    <td width="143" bgcolor="#d9d9d9"><p align="right">3.750.000  			per hverfi</p></td>
  </tr>
  <tr>
    <td width="286" height="10" bgcolor="#f2f2f2"><p align="right">Nýframkvæmdir  			– skipt efir íbúafjölda</p></td>
    <td width="6" valign="bottom" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
    <td width="74" bgcolor="#f2f2f2"><p align="right">112.500.000</p></td>
    <td width="143" bgcolor="#f2f2f2"><p align="right">948,71  			per íbúa</p></td>
  </tr>
  <tr>
    <td width="286" height="9" bgcolor="#d9d9d9"><p align="right">Viðhaldsverkefni  			– skipt eftir íbúafjölda</p></td>
    <td width="6" valign="bottom" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
    <td width="74" bgcolor="#d9d9d9"><p align="right">112.500.000</p></td>
    <td width="143" bgcolor="#d9d9d9"><p align="right">948,71  			per íbúa</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p><b>Skipting  fjármagns milli hverfa Reykjavíkur:</b></p>
<table width="614" border="1" bordercolor="#00000a" cellpadding="5" cellspacing="0" frame="rhs" rules="groups">
  <colgroup>
  <col width="160" />
  <col width="63" />
  <col width="3" />
  <col width="99" />
  <col width="3" />
  <col width="102" />
  <col width="3" />
  </colgroup>
  <colgroup>
  <col width="101" />
  </colgroup>
  <tbody>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#b7dee8"><p>&nbsp;</p></td>
      <td width="63" bgcolor="#b7dee8"><p>&nbsp;</p></td>
      <td width="3" bgcolor="#b7dee8"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#b7dee8"><p align="right">&nbsp;</p></td>
      <td width="3" bgcolor="#b7dee8"><p align="right">&nbsp;</p></td>
      <td width="102" bgcolor="#b7dee8"><p align="right">&nbsp;</p></td>
      <td width="3" bgcolor="#b7dee8"><p align="right">&nbsp;</p></td>
      <td width="101" bgcolor="#b7dee8"><p>&nbsp;</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#b7dee8"><p><strong>Hverfi</strong></p></td>
      <td width="63" bgcolor="#b7dee8"><p align="right"><strong>Fjöldi  				íbúa</strong></p></td>
      <td width="3" bgcolor="#b7dee8"><p align="right">&nbsp;</p></td>
      <td width="99" bgcolor="#b7dee8"><p align="right"><strong>Nýframkvæmdir</strong></p></td>
      <td width="3" bgcolor="#b7dee8"><p align="right">&nbsp;</p></td>
      <td width="102" bgcolor="#b7dee8"><p align="right"><strong>Viðhaldsverkefni</strong></p></td>
      <td width="3" bgcolor="#b7dee8"><p align="right">&nbsp;</p></td>
      <td width="101" bgcolor="#b7dee8"><p align="right"><strong>Upphæð  				samtals</strong></p></td>
    </tr>
  </tbody>
  <tbody>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#f2f2f2"><p>Árbær</p></td>
      <td width="63" bgcolor="#f2f2f2"><p align="right">10.313</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#f2f2f2"><p align="right">13.534.046</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#f2f2f2"><p align="right">13.534.046</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#f2f2f2"><p align="right">27.068.092</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#d9d9d9"><p>Breiðholt</p></td>
      <td width="63" bgcolor="#d9d9d9"><p align="right">20.512</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#d9d9d9"><p align="right">23.209.940</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#d9d9d9"><p align="right">23.209.940</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#d9d9d9"><p align="right">46.419.879</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#f2f2f2"><p>Grafarholt  				og Úlfarsárdalur</p></td>
      <td width="63" bgcolor="#f2f2f2"><p align="right">5.622</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#f2f2f2"><p align="right">9.083.648</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#f2f2f2"><p align="right">9.083.648</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#f2f2f2"><p align="right">18.167.295</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#d9d9d9"><p>Grafarvogur</p></td>
      <td width="63" bgcolor="#d9d9d9"><p align="right">17.939</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#d9d9d9"><p align="right">20.768.909</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#d9d9d9"><p align="right">20.768.909</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#d9d9d9"><p align="right">41.537.817</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#f2f2f2"><p>Háaleiti  				og Bústaðir</p></td>
      <td width="63" bgcolor="#f2f2f2"><p align="right">13.949</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#f2f2f2"><p align="right">16.983.556</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#f2f2f2"><p align="right">16.983.556</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#f2f2f2"><p align="right">33.967.112</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#d9d9d9"><p>Hlíðar</p></td>
      <td width="63" bgcolor="#d9d9d9"><p align="right">9.650</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#d9d9d9"><p align="right">12.905.052</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#d9d9d9"><p align="right">12.905.052</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#d9d9d9"><p align="right">25.810.103</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#f2f2f2"><p>Kjalarnes</p></td>
      <td width="63" bgcolor="#f2f2f2"><p align="right">836</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#f2f2f2"><p align="right">4.543.122</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#f2f2f2"><p align="right">4.543.122</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#f2f2f2"><p align="right">9.086.243</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#d9d9d9"><p>Laugardalur</p></td>
      <td width="63" bgcolor="#d9d9d9"><p align="right">15.346</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#d9d9d9"><p align="right">18.308.904</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#d9d9d9"><p align="right">18.308.904</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#d9d9d9"><p align="right">36.617.807</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#f2f2f2"><p>Miðborg</p></td>
      <td width="63" bgcolor="#f2f2f2"><p align="right">8.717</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#f2f2f2"><p align="right">12.019.905</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#f2f2f2"><p align="right">12.019.905</p></td>
      <td width="3" bgcolor="#f2f2f2"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#f2f2f2"><p align="right">24.039.810</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="10" bgcolor="#d9d9d9"><p>Vesturbær</p></td>
      <td width="63" bgcolor="#d9d9d9"><p align="right">15.696</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#d9d9d9"><p align="right">18.640.952</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#d9d9d9"><p align="right">18.640.952</p></td>
      <td width="3" bgcolor="#d9d9d9"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#d9d9d9"><p align="right">37.281.904</p></td>
    </tr>
    <tr valign="bottom">
      <td width="160" height="11" bgcolor="#a6a6a6"><p align="right"><strong>Samtals:</strong></p></td>
      <td width="63" bgcolor="#a6a6a6"><p align="right"><strong>118.580</strong></p></td>
      <td width="3" bgcolor="#a6a6a6"><p>&nbsp;</p></td>
      <td width="99" bgcolor="#a6a6a6"><p>&nbsp;</p></td>
      <td width="3" bgcolor="#a6a6a6"><p>&nbsp;</p></td>
      <td width="102" bgcolor="#a6a6a6"><p>&nbsp;</p></td>
      <td width="3" bgcolor="#a6a6a6"><p>&nbsp;</p></td>
      <td width="101" bgcolor="#a6a6a6"><p align="right"><strong>299.996.064</strong></p></td>
    </tr>
  </tbody>
</table>
