<div id="branding" style="height: 85px">
  <table>
    <tr>
      <td>
        <div id="main_logo">
          <%= link_to :controller=>"portal", :host=>request.host_with_port do %>
              <%= image_tag "/images/new/betri_hverfi_merki.png"%>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
