<div id="branding" style="height: 85px">
  <table>
    <tr>
      <td>
        <div id="main_logo">
          <%= link_to :controller=>"portal", :host=>"www.yrpri.org" do %>
            <%= image_tag "/images/new/logo.gif"%>
          <% end %>
        </div>
      </td>
      <% if false and current_partner %>
        <td>
          <div id="partner_logo">
            <%= render :partial => "partners/logo" %>
          </div>
        </td>
      <% end %>
      <td>
<div id="ads">text</div>

      </td>  
    </tr>
  </table>
</div>
