<div id="quiz">
<%= render :partial => "duel" %>	
</div>

<div id="quiz_changes">
</div>

<div id="quiz_explanation">
	<%= tr("This is a new experimental feature designed to make it easy to create and prioritize a large list.<p>It will ask whether you endorse or oppose a priority, but it also works a bit like a <a href='http://www.thetennisladder.com/whatisatennisladder.asp'>tennis ladder</a>, showing two priorities fairly close in your list and asking which is more important. If you decide the lower priority is more important, it moves it higher.", "view/prioritizer/duel")%>
</div>