<img src="/images/fugue/lock_disable.png" height="16" width="16" border="0" class="icon">
<%= raw tr("On probation for a week due to repeated violations of the <a href='/about/rules'>site rules</a>", "view/activities/_activityuserprobation_nouser", :user_name => link_to(activity.user.name, activity.user)) %>