<img src="/images/icons/picture.png" height="16" width="16" border="0" class="icon">
<%= raw tr("{partner_name} has a new logo", "view/activities/_activitypartnerpicturenew", :partner_name => '<a href="' + activity.partner.website_link + '">' + activity.partner.name + '</a>') %>
