<% if @activities.any? %>

	<ul>
	<% for activity in @activities %>
	  <% activity.comments each do |comment| %>
  		<li>
        <%= h(comment.user.login) %> - <%= time_ago(comment.created_at) %><br>
        <%= comment.content %><br>
  		</li>
    	<% end %>
  <% end %>
	</ul>
	
<% else %>
	
	<%=tr("No discussions.", "widget")%

<% end %>