<div id="activity_and_comments_<%= activity.id %>" class="activity_border">
<% if !defined? all%>
  <% all ="0" %>
<% end %>		
<% if activity.class != ActivityCommentParticipant and activity.class != ActivityBulletinProfileAuthor %>
	<%= render :partial => "activities/comments_questions", :locals => {:activity => activity, :all => all} %>		
<% end %>	
</div>
